  <div class="main-content no-gutter">
    <section id="profile">
      <div class="row">
        <div class="col s12">
          <nav>
            <div class="nav-wrapper">
              <ul class="right">
                <li><a href="<?php echo $staticUrl;?>/project/<?php echo $project->unique;?>/overview">Overview</a></li>

                <?php if($crud->projecttasks_page): ?>
                <li><a href="<?php echo $staticUrl;?>/project/<?php echo $project->unique;?>/tasks">Tasks</a></li>
                <?php endif; ?>

                <?php if($crud->projectfiles_page): ?>
                <li class="active"><a href="<?php echo $staticUrl;?>/project/<?php echo $project->unique;?>/files">Files</a></li>
                <?php endif; ?>

                <?php if($crud->projectrequests_page): ?>
                <li><a href="<?php echo $staticUrl;?>/project/<?php echo $project->unique;?>/requests">Requests</a></li>
                <?php endif; ?>

                <?php if($crud->projectestimates_page): ?>
                <li><a href="<?php echo $staticUrl;?>/project/<?php echo $project->unique;?>/estimates">Estimates</a></li>
                <?php endif; ?>

                <?php if($crud->projectinvoices_page): ?>
                <li><a href="<?php echo $staticUrl;?>/project/<?php echo $project->unique;?>/invoices">Invoices</a></li>
                <?php endif; ?>

                <?php if($crud->projectpayments_page): ?>
                <li><a href="<?php echo $staticUrl;?>/project/<?php echo $project->unique;?>/payments">Payments</a></li>
                <?php endif; ?>
              </ul>
            </div>
          </nav>
        </div>
      </div>

      <div class="row">
        <div class="col s12">
          <div class="panel panel-bordered z-depth-1">
            <div class="row">
              <br>
              <div class="input-field col s12">
      					<i class="fa fa-search prefix"></i>
      					<input id="icon_prefix" type="text" class="validate" data-search >
      					<label for="icon_prefix" class="">Filter Results</label>
      				</div>

              <div class="col s12">
                <?php if($crud->projectfiles_create): ?>
                <button type="button" class="btn teal lighten-1 waves-effect waves-light right" data-ajax="<?php echo $staticUrl; ?>/project/<?php echo $project->unique;?>/files/create">
                  <span class="fa fa-plus"></span>
                  New File
                </button>
                <?php endif; ?>

                <table class="responsive-table">
                  <thead>
                    <tr>
                      <th>Title</th>
                      <th>File Name</th>
                      <th>Uploaded By</th>
                      <th>Uploaded Date</th>
                      <th><i class="fa fa-cogs"></i></th>
                    </tr>
                  </thead>
                  <tbody>
                    <?php foreach($files as $file): ?>
                      <tr data-searchable >
                        <td><?php echo $file->title; ?></td>
                        <td><?php echo $file->file; ?></td>
                        <td>
                          <div class="chip">
                            <img src="<?php echo $staticUrl;?>/assets/manager/images/avatar/<?php echo $file->image ?: 'placeholder/'.substr($file->name,0,1).'.jpg'; ?>" alt="<?php echo $file->name; ?>">
                            <?php echo $file->name; ?>
                          </div>
                        </td>
                        <td><?php echo (new DateTime($file->uploaded))->format($date_format); ?></td>
                        <td>
                          <div class="btn-group">
                            <button type="button" class="btn green lighten-1 waves-effect waves-light" data-download="<?php echo $file->file ;?>">
                              <span class="fa fa-cloud-download"></span>
                            </button>
                            <?php if($crud->projectfiles_delete): ?>
                            <button type="button" class="btn red darken-4 waves-effect waves-light" data-ajax="<?php echo $staticUrl; ?>/project/<?php echo $project->unique;?>/files/remove/<?php echo $file->unique ;?>">
                              <i class="material-icons">close</i>
                            </button>
                            <?php endif; ?>
                          </div>
                        </td>
                      </tr>
                    <?php endforeach; ?>
                  </tbody>
                </table>

              </div>
            </div>
          </div>
        </div>
      </div>

    </section>
  </div>

  <div id="modal-results"></div>
