<div class="main-content no-gutter">
  <section id="profile">
    <div class="row">
      <div class="col s12">
        <nav>
          <div class="nav-wrapper">
            <ul class="right">
              <li><a href="<?php echo $staticUrl;?>/project/<?php echo $project->unique;?>/overview">Overview</a></li>

              <?php if($crud->projecttasks_page): ?>
              <li><a href="<?php echo $staticUrl;?>/project/<?php echo $project->unique;?>/tasks">Tasks</a></li>
              <?php endif; ?>

              <?php if($crud->projectfiles_page): ?>
              <li><a href="<?php echo $staticUrl;?>/project/<?php echo $project->unique;?>/files">Files</a></li>
              <?php endif; ?>

              <?php if($crud->projectrequests_page): ?>
              <li><a href="<?php echo $staticUrl;?>/project/<?php echo $project->unique;?>/requests">Requests</a></li>
              <?php endif; ?>

              <?php if($crud->projectestimates_page): ?>
              <li><a href="<?php echo $staticUrl;?>/project/<?php echo $project->unique;?>/estimates">Estimates</a></li>
              <?php endif; ?>

              <?php if($crud->projectinvoices_page): ?>
              <li class="active"><a href="<?php echo $staticUrl;?>/project/<?php echo $project->unique;?>/invoices">Invoices</a></li>
              <?php endif; ?>

              <?php if($crud->projectpayments_page): ?>
              <li><a href="<?php echo $staticUrl;?>/project/<?php echo $project->unique;?>/payments">Payments</a></li>
              <?php endif; ?>
            </ul>
          </div>
        </nav>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <div class="btn-group pull-right">
          <?php if($crud->projectpayments_delete):?>
          <button type="button" class="btn red darken-4 waves-effect waves-light" data-ajax="<?php echo $staticUrl; ?>/project/<?php echo $project->unique;?>/invoices/remove/<?php echo $invoice->unique;?>">
            <i class="material-icons">clear</i>
            Delete Invoice
          </button>
          <?php endif;?>
          <?php if($crud->projectpayments_update):?>
          <button type="button" class="btn blue darken-3 waves-effect waves-light" data-ajax="<?php echo $staticUrl; ?>/project/<?php echo $project->unique;?>/invoices/modify/<?php echo $invoice->unique;?>">
            <i class="material-icons">settings</i>
            Edit Invoice
          </button>
          <?php endif;?>
          <?php if(!in_array($invoice->status,[2,3,5])): ?>
            <form action="<?php echo $staticUrl;?>/project/<?php echo $project->unique; ?>/invoices/cancel/<?php echo $invoice->unique; ?>" method="post" accept-charset="utf8" role="AjaxForm" class="inline-block">
              <?php echo $form->render("security"); ?>
              <button type="submit" class="btn amber accent-4 waves-effect waves-light" >
                <i class="material-icons">clear</i>
                  Cancel Invoice
              </button>
            </form>
          <?php elseif(in_array($invoice->status,[5])): ?>
            <form action="<?php echo $staticUrl;?>/project/<?php echo $project->unique; ?>/invoices/set/<?php echo $invoice->unique; ?>" method="post" accept-charset="utf8" role="AjaxForm" class="inline-block">
              <?php echo $form->render("security"); ?>
              <button type="submit" class="btn green lighten-1 waves-effect waves-light" >
                <i class="material-icons">check</i>
                  Set Invoice
              </button>
            </form>
          <?php endif;?>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m6 ">
        <ul class="collection with-header z-depth-1">
        	<li class="collection-header">
            <h5>Invoice #<?php echo $invoice->unique; ?>
              <span class="right">
                <?php
                  switch($invoice->status)
                  {
                    case 1 : echo "<i class='material-icons tooltipped pointer small amber-text text-darken-2' data-tooltip='Pending'>warning</i>"; break;
                    case 2 : echo "<i class='material-icons tooltipped pointer small green-text text-darken-2' data-tooltip='Partially Paid'>done</i>"; break;
                    case 3 : echo "<i class='material-icons tooltipped pointer small green-text text-darken-2' data-tooltip='Paid'>done_all</i>"; break;
                    case 4 : echo "<i class='material-icons tooltipped pointer small red-text   text-darken-2' data-tooltip='Overdue'>report</i>"; break;
                    case 5 : echo "<i class='material-icons tooltipped pointer small red-text   text-darken-2' data-tooltip='Canceled'>clear</i>"; break;
                  }
                ?>
              </span>
            </h5>
          </li>
        	<li class="collection-item">
        	  <strong>Title:</strong>
            <span class="pull-right"><?php echo $invoice->title; ?></span>
        	</li>
        	<li class="collection-item">
        	  <strong>Issued:</strong>
            <span class="pull-right"><?php echo (new DateTime($invoice->issue))->format($date_format); ?></span>
        	</li>
        	<li class="collection-item">
        	  <strong>Due:</strong>
            <span class="pull-right"><?php echo (new DateTime($invoice->due))->format($date_format); ?></span>
        	</li>
        	<li class="collection-item">
        	  <strong class='amber-text text-darken-4'>Recurrent Invoice:</strong>
            <span class="pull-right">
              <?php
                switch ($invoice->recurring) {
                  case 0: echo "No"; break;
                  case 1: echo "Yes"; break;
                }
                ?>
            </span>
        	</li>
        </ul>
      </div>
      <div class="col s12 m6 ">
        <ul class="collection with-header z-depth-1">
        	<li class="collection-header">
            <h5>Overview</h5>
          </li>
          <li class="collection-item">
        	  <strong class='blue-text text-darken-2'>Invoice Value:</strong>
            <span class="pull-right">$<?php echo number_format(($invoice->total/100),2,',','.'); ?></span>
        	</li>
        	<li class="collection-item">
        	  <strong class='teal-text text-darken-2'>Tax Value:</strong>
            <span class="pull-right">$<?php echo number_format(($tax/100),2,',','.'); ?></span>
        	</li>
        	<li class="collection-item">
        	  <strong class='teal-text text-darken-2'>Amount Paid:</strong>
            <span class="pull-right">$<?php echo number_format(($invoice->paid/100),2,',','.'); ?></span>
        	</li>
        	<li class="collection-item">
        	  <strong class='red-text text-darken-2'>Balance Due:</strong>
            <span class="pull-right">$<?php echo number_format(((($invoice->total+$tax)-$invoice->paid)/100),2,',','.'); ?></span>
        	</li>
        </ul>
      </div>
      <div class="col s12 m12 ">

          <div class="panel panel-bordered z-depth-1">
            <div class="row">
              <br>
              <div class="col s12">
                <button type="button" class="btn teal lighten-1 waves-effect waves-light right" data-ajax="<?php echo $staticUrl; ?>/project/<?php echo $project->unique;?>/invoices/<?php echo $invoice->unique;?>/item/create">
                  <span class="fa fa-plus"></span>
                  New Item
                </button>
              </div>
              <div class="col s12">

                <table class="responsive-table">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Title</th>
                      <th>Description</th>
                      <th>Issued</th>
                      <th>Amount\Hours</th>
                      <th>Unit Price</th>
                      <th>Sub Total</th>
                      <th>
                        <i class="fa fa-cogs"></i>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <?php foreach($items as $item):?>
                      <tr data-searchable >
                        <td><?php echo $item->unique; ?></td>
                        <td><?php echo $item->title; ?></td>
                        <td><?php echo substr($item->text,0,50); ?> ...</td>
                        <td><?php echo (new DateTime($item->issued))->format($date_format); ?></td>
                        <td><?php echo $item->amount; ?></td>
                        <td>$<?php echo number_format(( $item->price / 100),2,',','.'); ?></td>
                        <td>$<?php echo number_format(( ($item->price * $item->amount ) / 100),2,',','.'); ?></td>
                        <td>
                          <div class="btn-group">
                            <button type="button" class="btn blue darken-3 waves-effect waves-light" data-ajax="<?php echo $staticUrl; ?>/project/<?php echo $project->unique;?>/invoices/<?php echo $invoice->unique;?>/item/modify/<?php echo $item->unique;?>">
                              <i class="material-icons">settings</i>
                            </button>
                            <button type="button" class="btn red darken-4 waves-effect waves-light" data-ajax="<?php echo $staticUrl; ?>/project/<?php echo $project->unique;?>/invoices/<?php echo $invoice->unique;?>/item/remove/<?php echo $item->unique;?>">
                              <i class="material-icons">close</i>
                            </button>
                          </div>
                        </td>
                      </tr>
                    <?php endforeach; ?>
                  </tbody>
                </table>

              </div>
            </div>
          </div>

      </div>
    </div>

  </section>
</div>

<div id="modal-results"></div>
