<div class="main-content no-gutter">
  <section id="profile">
    <div class="row">
      <div class="col s12">
        <nav>
          <div class="nav-wrapper">
            <ul class="right">
              <li><a href="<?php echo $staticUrl;?>/project/<?php echo $project->unique;?>/overview">Overview</a></li>

              <?php if($crud->projecttasks_page): ?>
              <li><a href="<?php echo $staticUrl;?>/project/<?php echo $project->unique;?>/tasks">Tasks</a></li>
              <?php endif; ?>

              <?php if($crud->projectfiles_page): ?>
              <li><a href="<?php echo $staticUrl;?>/project/<?php echo $project->unique;?>/files">Files</a></li>
              <?php endif; ?>

              <?php if($crud->projectrequests_page): ?>
              <li class="active"><a href="<?php echo $staticUrl;?>/project/<?php echo $project->unique;?>/requests">Requests</a></li>
              <?php endif; ?>

              <?php if($crud->projectestimates_page): ?>
              <li><a href="<?php echo $staticUrl;?>/project/<?php echo $project->unique;?>/estimates">Estimates</a></li>
              <?php endif; ?>

              <?php if($crud->projectinvoices_page): ?>
              <li><a href="<?php echo $staticUrl;?>/project/<?php echo $project->unique;?>/invoices">Invoices</a></li>
              <?php endif; ?>

              <?php if($crud->projectpayments_page): ?>
              <li><a href="<?php echo $staticUrl;?>/project/<?php echo $project->unique;?>/payments">Payments</a></li>
              <?php endif; ?>
            </ul>
          </div>
        </nav>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <div class="panel panel-bordered z-depth-1">
          <div class="row">
            <div class="row">
              <br>
              <div class="input-field col s12 m8">
                <i class="fa fa-search prefix"></i>
                <input id="icon_prefix" type="text" class="validate" data-search >
                <label for="icon_prefix" class="">Filter Results</label>
              </div>
              <div class="input-field col s12 m4">
                <select data-filter >
                  <option value="0" selected="selected">All</option>
                  <option value="1">Pending Response</option>
                  <option value="2">Estimated</option>
                </select>
                <label>Status Filter</label>
              </div>
            </div>
            <div class="row">

            <div class="col s12">
              <table class="responsive-table">
                <thead>
                  <tr>
                    <th></th>
                    <th>Title</th>
                    <th>Budget</th>
                    <th>Issued</th>
                    <th><i class="fa fa-cogs"></i></th>
                  </tr>
                </thead>
                <tbody>
                  <?php foreach($requests as $request): ?>
                    <tr data-searchable  data-filterable="<?php echo $request->status;?>" >
                      <td class="centered-text">
                        <?php
                          switch($request->status)
                          {
                            case 1 : echo "<i class='material-icons tooltipped pointer small amber-text text-accent-4' data-tooltip='Pending response'>warning</i>"; break;
                            case 2 : echo "<i class='material-icons tooltipped pointer small green-text text-darken-2' data-tooltip='Estimated'>done</i>"; break;
                          }
                        ?>
                      </td>
                      <td><?php echo $request->title; ?></td>
                      <td>$<?php echo number_format(($request->budget / 100),2,',','.'); ?></td>
                      <td><?php echo (new DateTime($request->date))->format($date_format); ?></td>
                      <td>
                        <div class="btn-group">
                          <button type="button" class="btn indigo darken-1 waves-effect waves-light" data-ajax="<?php echo $staticUrl; ?>/project/<?php echo $project->unique;?>/requests/overview/<?php echo $request->unique;?>">
                            <i class="material-icons">visibility</i>
                          </button>
                          <?php if($crud->projectrequests_page): ?>
                          <button type="button" class="btn red darken-4 waves-effect waves-light" data-ajax="<?php echo $staticUrl; ?>/project/<?php echo $project->unique;?>/requests/remove/<?php echo $request->unique;?>">
                            <i class="material-icons">close</i>
                          </button>
                          <?php endif; ?>
                        </div>
                      </td>
                    </tr>
                  <?php endforeach; ?>
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
</div>

<div id="modal-results"></div>
