<div class="main-content no-gutter">
  <section id="profile">
    <div class="row">
      <div class="col s12">
        <nav>
          <div class="nav-wrapper">
            <ul class="right">
              <li><a href="<?php echo $staticUrl;?>/project/<?php echo $project->unique;?>/overview">Overview</a></li>

              <?php if($crud->projecttasks_page): ?>
                <li class="active"><a href="<?php echo $staticUrl;?>/project/<?php echo $project->unique;?>/tasks">Tasks</a></li>
              <?php endif; ?>

              <?php if($crud->projectfiles_page): ?>
              <li><a href="<?php echo $staticUrl;?>/project/<?php echo $project->unique;?>/files">Files</a></li>
              <?php endif; ?>

              <?php if($crud->projectrequests_page): ?>
              <li><a href="<?php echo $staticUrl;?>/project/<?php echo $project->unique;?>/requests">Requests</a></li>
              <?php endif; ?>

              <?php if($crud->projectestimates_page): ?>
              <li><a href="<?php echo $staticUrl;?>/project/<?php echo $project->unique;?>/estimates">Estimates</a></li>
              <?php endif; ?>

              <?php if($crud->projectinvoices_page): ?>
              <li><a href="<?php echo $staticUrl;?>/project/<?php echo $project->unique;?>/invoices">Invoices</a></li>
              <?php endif; ?>

              <?php if($crud->projectpayments_page): ?>
              <li><a href="<?php echo $staticUrl;?>/project/<?php echo $project->unique;?>/payments">Payments</a></li>
              <?php endif; ?>
            </ul>
          </div>
        </nav>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <div class="panel panel-bordered z-depth-1">
          <div class="row">
            <br>
            <div class="input-field col s12 m8">
              <i class="fa fa-search prefix"></i>
              <input id="icon_prefix" type="text" class="validate" data-search >
              <label for="icon_prefix" class="">Filter Results</label>
            </div>
            <div class="input-field col s12 m4">
              <select data-filter >
                <option value="0" selected="selected">All</option>
                <option value="1">Pending</option>
                <option value="2">Completed</option>
                <option value="3">Overdue</option>
                <option value="4">Canceled</option>
              </select>
              <label>Status Filter</label>
            </div>
          </div>
          <div class="row">

            <div class="col s12">
              <?php if($crud->projecttasks_create): ?>
              <button type="button" class="btn teal lighten-1 waves-effect waves-light right" data-ajax="<?php echo $staticUrl; ?>/project/<?php echo $project->unique; ?>/tasks/create">
                <span class="fa fa-plus"></span>
                New Task
              </button>
              <?php endif; ?>

              <table class="responsive-table">
                <thead>
                  <tr>
                    <th></th>
                    <th>Task</th>
                    <th>Created</th>
                    <th>Deadline</th>
                    <th>Manager</th>
                    <th>Collaborators</th>
                    <th><i class="fa fa-cogs"></i></th>
                  </tr>
                </thead>
                <tbody>
                  <?php foreach($tasks as $task): ?>
                    <tr data-searchable data-filterable="<?php echo $task->status;?>">
                      <td>
                      <?php
                        switch($task->status)
                        {
                          case 1 : echo "<i class='material-icons tooltipped pointer indigo-text text-darken-2' data-tooltip='Pending'>update</i>"; break;
                          case 2 : echo "<i class='material-icons tooltipped pointer green-text text-darken-2' data-tooltip='Completed'>check</i>"; break;
                          case 3 : echo "<i class='material-icons tooltipped pointer small red-text text-darken-2' data-tooltip='Overdue'>report</i>"; break;
                          case 4 : echo "<i class='material-icons small tooltipped pointer red-text text-darken-2' data-tooltip='Canceled'>clear</i>"; break;
                        }
                      ?>
                      </td>
                      <td><?php echo $task->title; ?></td>
                      <td><?php echo (new DateTime($task->created))->format($date_format); ?></td>
                      <td><?php echo (new DateTime($task->deadline))->format($date_format); ?></td>
                      <td>
                        <img src="<?php echo $staticUrl;?>/assets/manager/images/avatar/<?php echo $task->managerimage ?: 'placeholder/'.substr($task->manager,0,1).'.jpg'; ?>" class="circle tooltipped x45" data-position="bottom" data-delay="50" data-tooltip="<?php echo $task->manager; ?> ">
                      </td>
                      <td>
                        <?php foreach($collaborators[$task->_] as $c): ?>
                          <img src="<?php echo $staticUrl;?>/assets/manager/images/avatar/<?php echo $c['image'] ?: 'placeholder/'.substr($c['member'],0,1).'.jpg'; ?>" class="circle tooltipped x45" data-position="bottom" data-delay="50" data-tooltip="<?php echo $c['member']; ?> ">
                        <?php endforeach; ?>
                      </td>
                      <td>
                        <div class="btn-group">
                          <button type="button" class="btn indigo darken-1 waves-effect waves-light" data-ajax="<?php echo $staticUrl; ?>/project/<?php echo $project->unique; ?>/tasks/overview/<?php echo $task->unique ;?>">
                            <i class="material-icons">visibility</i>
                          </button>
                          <?php if($crud->projecttasks_update): ?>
                          <button type="button" class="btn blue darken-3 waves-effect waves-light" data-ajax="<?php echo $staticUrl; ?>/project/<?php echo $project->unique; ?>/tasks/modify/<?php echo $task->unique ;?>">
                            <i class="material-icons">settings</i>
                          </button>
                          <?php endif; ?>
                          <?php if($crud->projecttasks_delete): ?>
                          <button type="button" class="btn red darken-4 waves-effect waves-light" data-ajax="<?php echo $staticUrl; ?>/project/<?php echo $project->unique; ?>/tasks/remove/<?php echo $task->unique ;?>">
                            <i class="material-icons">close</i>
                          </button>
                          <?php endif; ?>
                        </div>
                      </td>
                    </tr>
                  <?php endforeach; ?>
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
</div>

<div id="modal-results"></div>
