<div class="main-content no-gutter">
  <section id="settings">
    <div class="row">
      <div class="col s12">
        <nav>
          <div class="nav-wrapper">
            <ul class="right">
              <li><a href="<?php echo $staticUrl;?>/settings">Overview</a></li>
              <li><a href="<?php echo $staticUrl;?>/settings/permissions/">Permissions</a></li>
              <li><a href="<?php echo $staticUrl;?>/settings/notifications/">Notifications</a></li>
              <li class="active"><a href="<?php echo $staticUrl;?>/settings/administrators/">Administrators</a></li>
              <li><a href="<?php echo $staticUrl;?>/settings/payments/">Payments</a></li>
              <li><a href="<?php echo $staticUrl;?>/settings/email/">E-Mail</a></li>
              <li><a href="<?php echo $staticUrl;?>/settings/server/">Server</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <div class="panel panel-bordered z-depth-1">
          <div class="row">
            <br>
            <div class="col s12">
              <button type="button" class="btn teal lighten-1 waves-effect waves-light right" data-ajax="<?php echo $staticUrl; ?>/settings/administrators/manage">
                <i class="material-icons">people</i>
                Manage Admins
              </button>
            </div>
            <div class="col s12">
              <table class="responsive-table">
                <thead>
                  <tr>
                    <th>Member</th>
                    <th>E-Mail</th>
                  </tr>
                </thead>
                <tbody>
                  <?php foreach ($admins as $admin): ?>
                    <tr data-searchable >
                      <td>
                        <div class="chip">
                          <img src="<?php echo $staticUrl;?>/assets/manager/images/avatar/<?php echo $admin->image ?: 'placeholder/'.substr($admin->name,0,1).'.jpg'; ?>" alt="<?php echo $admin->name; ?>">
                          <?php echo $admin->name; ?>
                        </div>
                      </td>
                      <td><?php echo $admin->email; ?></td>
                    </tr>
                  <?php endforeach; ?>
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
</div>

<div id="modal-results"></div>
