<div class="main-content no-gutter">
  <section id="profile">
    <div class="row">
      <div class="col s12">
        <nav>
          <div class="nav-wrapper">
            <ul class="right">
              <li><a href="<?php echo $staticUrl;?>/settings">Overview</a></li>
              <li><a href="<?php echo $staticUrl;?>/settings/permissions/">Permissions</a></li>
              <li><a href="<?php echo $staticUrl;?>/settings/notifications/">Notifications</a></li>
              <li><a href="<?php echo $staticUrl;?>/settings/administrators/">Administrators</a></li>
              <li><a href="<?php echo $staticUrl;?>/settings/payments/">Payments</a></li>
              <li class="active"><a href="<?php echo $staticUrl;?>/settings/email/">E-Mail</a></li>
              <li><a href="<?php echo $staticUrl;?>/settings/server/">Server</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>

    <div class="row">
      <div class="col s12">

        <div class="panel panel-bordered panel-about panel-bar-chart z-depth-1">
          <div class="panel-header">
            <div class="title">Configuration:</div>
          </div>
          <div class="panel-body">
            <div class="row">
              <form action="<?php echo $staticUrl;?>/settings/email/save" method="post" accept-charset="utf8" role="AjaxForm">
                <?php echo $form->render("security"); ?>

                <div class="input-field col s4">
                  <?php echo $form->render("host"); ?>
                  <label>SMTP Host</label>
                </div>

                <div class="input-field col s4">
                  <?php echo $form->render("username"); ?>
                  <label>SMTP Username</label>
                </div>

                <div class="input-field col s4">
                  <?php echo $form->render("password"); ?>
                  <label>SMTP Password</label>
                </div>

                <div class="input-field col s2">
                  <?php echo $form->render("port"); ?>
                  <label>SMTP Port</label>
                </div>

                <div class="input-field col s2">
                  <?php echo $form->render("type"); ?>
                  <label>SMTP Security</label>
                </div>

                <div class="input-field col s4">
                  <?php echo $form->render("email"); ?>
                  <label>Sender E-Mail</label>
                </div>

                <div class="input-field col s4">
                  <?php echo $form->render("name"); ?>
                  <label>Sender Name</label>
                </div>

                <div class="input-field col s12">
                  <button type="submit" class="btn teal lighten-1 waves-effect waves-light right">
                    <i class="material-icons">check</i>
                    Save
                  </button>
                </div>

              </form>
            </div>
            <div class="row">
              <div class="col s12 m4 offset-m8">
                <form action="<?php echo $staticUrl;?>/settings/email/send" method="post" accept-charset="utf8" role="AjaxForm">
                  <?php echo $form->render("security"); ?>
                  <div class="input-field">
                    <input type="email" name="send" value="">
                    <label>Test E-Mail</label>
                  </div>

                  <button type="submit" class="btn teal lighten-1 waves-effect waves-light right">
                    <i class="material-icons">send</i>
                    Test E-Mail
                  </button>
                </form>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </section>
</div>

<div id="modal-results"></div>
