<div class="main-content no-gutter">
  <section id="profile">
    <div class="row">
      <div class="col s12">
        <nav>
          <div class="nav-wrapper">
            <ul class="right">
              <li class="active"><a href="<?php echo $staticUrl;?>/settings">Overview</a></li>
              <li><a href="<?php echo $staticUrl;?>/settings/permissions/">Permissions</a></li>
              <li><a href="<?php echo $staticUrl;?>/settings/notifications/">Notifications</a></li>
              <li><a href="<?php echo $staticUrl;?>/settings/administrators/">Administrators</a></li>
              <li><a href="<?php echo $staticUrl;?>/settings/payments/">Payments</a></li>
              <li><a href="<?php echo $staticUrl;?>/settings/email/">E-Mail</a></li>
              <li><a href="<?php echo $staticUrl;?>/settings/server/">Server</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>

    <div class="row">
      <div class="col s12">

        <div class="panel panel-bordered panel-about panel-bar-chart z-depth-1">
          <div class="panel-body flex-centered">

            <img src="<?php echo $staticUrl;?>/assets/manager/images/<?php echo $logo; ?>" class="circle z-depth-1 x170">

            <form action="<?php echo $staticUrl;?>/settings/update" method="post" accept-charset="utf8" role="AjaxForm">
              <?php echo $form->render("security"); ?>

              <div class="file-field input-field col s12 m6 offset-m3">
                <div class="btn">
                  <span>Logo Image</span>
                  <input type="file" name="image">
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text">
                </div>
              </div>

              <div class="input-field col s12 m6 offset-m3">
                <?php echo $form->render("title"); ?>
                <label class="active">System Title</label>
              </div>

              <div class="input-field col s12 m6 offset-m3">
                <?php echo $form->render("token"); ?>
                <label class="active">Application Token</label>
              </div>

              <div class="input-field col s12 m6 offset-m3">
                <?php echo $form->render("currency"); ?>
                <label>Currency Type</label>
              </div>

              <div class="input-field col s12 m6 offset-m3">
                <?php echo $form->render("date"); ?>
                <label>Date Type</label>
              </div>

              <div class="input-field col s12 m6 offset-m3">
                <?php echo $form->render("datetime"); ?>
                <label>DateTime Type</label>
              </div>

              <div class="col s12 m6 offset-m3">
                <button type="submit" class="btn large teal lighten-1 waves-effect waves-light right" >
                  <i class="material-icons">done_all</i>
                  Save Changes
                </button>
              </div>

            </form>

          </div>
        </div>
      </div>

    </div>

  </section>
</div>

<div id="modal-results"></div>
