<div class="main-content no-gutter">
  <section id="profile">
    <div class="row">
      <div class="col s12">
        <nav>
          <div class="nav-wrapper">
            <ul class="right">
              <li><a href="<?php echo $staticUrl;?>/settings">Overview</a></li>
              <li><a href="<?php echo $staticUrl;?>/settings/permissions/">Permissions</a></li>
              <li class="active"><a href="<?php echo $staticUrl;?>/settings/notifications/">Notifications</a></li>
              <li><a href="<?php echo $staticUrl;?>/settings/administrators/">Administrators</a></li>
              <li><a href="<?php echo $staticUrl;?>/settings/payments/">Payments</a></li>
              <li><a href="<?php echo $staticUrl;?>/settings/email/">E-Mail</a></li>
              <li><a href="<?php echo $staticUrl;?>/settings/server/">Server</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <div class="card-panel amber darken-4">
          <strong>Warning!</strong> Some changes here may inpact in server performance! All E-Mail Notifications are very network &amp; server intense !
    		</div>
      </div>
    </div>


    <div class="row">

      <div class="col s12 m6">
        <div class="panel panel-bordered panel-about panel-bar-chart z-depth-1">
          <div class="panel-header">
            <div class="title">Team Members</div>
          </div>
            <form action="<?php echo $staticUrl;?>/settings/notifications/save/members" method="post" accept-charset="utf8" role="AjaxForm">
              <?php echo $form->render("security"); ?>
              <div class="panel-body">

              <ul class="collection with-header borderless">
              	<li class="collection-header"><h5>Member:</h5></li>
              	<li class="collection-item space-between">
                  <div>Personal Info Changes:</div>
                  <div class="flex-centered">
                    <?php echo $form->render("member_info_email"); ?>
                		<label for="member_info_email"><i class="material-icons blue-grey-text text-darken-3">email</i></label>

                    <?php echo $form->render("member_info_inner"); ?>
                		<label for="member_info_inner"><i class="material-icons blue-grey-text text-darken-3">notifications</i></label>
                  </div>
                </li>
              	<li class="collection-item space-between">
                  <div>Permission Level Changes:</div>
                  <div class="flex-centered">
                    <?php echo $form->render("member_permission_email"); ?>
                		<label for="member_permission_email"><i class="material-icons blue-grey-text text-darken-3">email</i></label>

                    <?php echo $form->render("member_permission_inner"); ?>
                		<label for="member_permission_inner"><i class="material-icons blue-grey-text text-darken-3">notifications</i></label>
                  </div>
                </li>
              </ul>

              <ul class="collection with-header borderless">
              	<li class="collection-header"><h5>Projects:</h5></li>
              	<li class="collection-item space-between">
                  <div>Member Assgined To Project:</div>
                  <div class="flex-centered">
                    <?php echo $form->render("project_assigned_email"); ?>
                		<label for="project_assigned_email"><i class="material-icons blue-grey-text text-darken-3">email</i></label>

                    <?php echo $form->render("project_assigned_inner"); ?>
                		<label for="project_assigned_inner"><i class="material-icons blue-grey-text text-darken-3">notifications</i></label>
                  </div>
                </li>
              	<li class="collection-item space-between">
                  <div>Project Activities:</div>
                  <div class="flex-centered">
                    <?php echo $form->render("project_activities_email"); ?>
                		<label for="project_activities_email"><i class="material-icons blue-grey-text text-darken-3">email</i></label>

                    <?php echo $form->render("project_activities_inner"); ?>
                		<label for="project_activities_inner"><i class="material-icons blue-grey-text text-darken-3">notifications</i></label>
                  </div>
                </li>
              </ul>

              <ul class="collection with-header borderless">
              	<li class="collection-header"><h5>Tasks:</h5></li>
              	<li class="collection-item space-between">
                  <div>Member's  Assigned:</div>
                  <div class="flex-centered">
                    <?php echo $form->render("task_assigned_email"); ?>
                		<label for="task_assigned_email"><i class="material-icons blue-grey-text text-darken-3">email</i></label>

                    <?php echo $form->render("task_assigned_inner"); ?>
                		<label for="task_assigned_inner"><i class="material-icons blue-grey-text text-darken-3">notifications</i></label>
                  </div>
                </li>
              	<li class="collection-item space-between">
                  <div>Member's Response:</div>
                  <div class="flex-centered">
                    <?php echo $form->render("task_response_email"); ?>
                		<label for="task_response_email"><i class="material-icons blue-grey-text text-darken-3">email</i></label>

                    <?php echo $form->render("task_response_inner"); ?>
                		<label for="task_response_inner"><i class="material-icons blue-grey-text text-darken-3">notifications</i></label>
                  </div>
                </li>
              	<li class="collection-item space-between">
                  <div>Member's Status Updates:</div>
                  <div class="flex-centered">
                    <?php echo $form->render("task_memberstatus_email"); ?>
                		<label for="task_memberstatus_email"><i class="material-icons blue-grey-text text-darken-3">email</i></label>

                    <?php echo $form->render("task_memberstatus_inner"); ?>
                		<label for="task_memberstatus_inner"><i class="material-icons blue-grey-text text-darken-3">notifications</i></label>
                  </div>
                </li>
              	<li class="collection-item space-between">
                  <div>Task's Status Updates:</div>
                  <div class="flex-centered">
                    <?php echo $form->render("task_status_email"); ?>
                		<label for="task_status_email"><i class="material-icons blue-grey-text text-darken-3">email</i></label>

                    <?php echo $form->render("task_status_inner"); ?>
                		<label for="task_status_inner"><i class="material-icons blue-grey-text text-darken-3">notifications</i></label>
                  </div>
                </li>
              	<li class="collection-item space-between">
                  <div>Task's Info Updates:</div>
                  <div class="flex-centered">
                    <?php echo $form->render("task_info_email"); ?>
                		<label for="task_info_email"><i class="material-icons blue-grey-text text-darken-3">email</i></label>

                    <?php echo $form->render("task_info_inner"); ?>
                		<label for="task_info_inner"><i class="material-icons blue-grey-text text-darken-3">notifications</i></label>
                  </div>
                </li>
              </ul>

              <ul class="collection with-header borderless">
              	<li class="collection-header"><h5>Tickets:</h5></li>
              	<li class="collection-item space-between">
                  <div>Created:</div>
                  <div class="flex-centered">
                    <?php echo $form->render("ticket_created_email"); ?>
                		<label for="ticket_created_email"><i class="material-icons blue-grey-text text-darken-3">email</i></label>

                    <?php echo $form->render("ticket_created_inner"); ?>
                		<label for="ticket_created_inner"><i class="material-icons blue-grey-text text-darken-3">notifications</i></label>
                  </div>
                </li>
              	<li class="collection-item space-between">
                  <div>Client's Responses:</div>
                  <div class="flex-centered">
                    <?php echo $form->render("ticket_response_email"); ?>
                		<label for="ticket_response_email"><i class="material-icons blue-grey-text text-darken-3">email</i></label>

                    <?php echo $form->render("ticket_response_inner"); ?>
                		<label for="ticket_response_inner"><i class="material-icons blue-grey-text text-darken-3">notifications</i></label>
                  </div>
                </li>
              	<li class="collection-item space-between">
                  <div>Ticket's Status Update:</div>
                  <div class="flex-centered">
                    <?php echo $form->render("ticket_status_email"); ?>
                		<label for="ticket_status_email"><i class="material-icons blue-grey-text text-darken-3">email</i></label>

                    <?php echo $form->render("ticket_status_inner"); ?>
                		<label for="ticket_status_inner"><i class="material-icons blue-grey-text text-darken-3">notifications</i></label>
                  </div>
                </li>
              </ul>

          </div>

          <div class="panel-footer flex-end">
            <button type="submit" class="btn teal lighten-1 waves-effect waves-light">
              <i class="material-icons">done_all</i>
              Save
            </button>
          </div>

          </form>
        </div>
      </div>

      <div class="col s12 m6">
        <div class="panel panel-bordered panel-about panel-bar-chart z-depth-1">
          <div class="panel-header">
            <div class="title">Clients</div>
          </div>
          <form action="<?php echo $staticUrl;?>/settings/notifications/save/clients" method="post" accept-charset="utf8" role="AjaxForm">
            <?php echo $form->render("security"); ?>
            <div class="panel-body">
              <ul class="collection with-header borderless">
                <li class="collection-header"><h5>Client:</h5></li>
                <li class="collection-item space-between">
                  <div>Personal Info Changes:</div>
                  <div class="flex-centered">
                    <?php echo $form->render("client_info_email"); ?>
                    <label for="client_info_email"><i class="material-icons blue-grey-text text-darken-3">email</i></label>

                    <?php echo $form->render("client_info_inner"); ?>
                    <label for="client_info_inner"><i class="material-icons blue-grey-text text-darken-3">notifications</i></label>
                  </div>
                </li>
              </ul>
              <ul class="collection with-header borderless">
                <li class="collection-header"><h5>Projects:</h5></li>
                <li class="collection-item space-between">
                  <div>Project Create:</div>
                  <div class="flex-centered">
                    <?php echo $form->render("clientproject_create_email"); ?>
                    <label for="clientproject_create_email"><i class="material-icons blue-grey-text text-darken-3">email</i></label>

                    <?php echo $form->render("clientproject_create_inner"); ?>
                    <label for="clientproject_create_inner"><i class="material-icons blue-grey-text text-darken-3">notifications</i></label>
                  </div>
                </li>
                <li class="collection-item space-between">
                  <div>Project Activities:</div>
                  <div class="flex-centered">
                    <?php echo $form->render("clientproject_activities_email"); ?>
                    <label for="clientproject_activities_email"><i class="material-icons blue-grey-text text-darken-3">email</i></label>

                    <?php echo $form->render("clientproject_activities_inner"); ?>
                    <label for="clientproject_activities_inner"><i class="material-icons blue-grey-text text-darken-3">notifications</i></label>
                  </div>
                </li>
                <li class="collection-item space-between">
                  <div>Project Status:</div>
                  <div class="flex-centered">
                    <?php echo $form->render("clientproject_status_email"); ?>
                    <label for="clientproject_complete_email"><i class="material-icons blue-grey-text text-darken-3">email</i></label>

                    <?php echo $form->render("clientproject_status_inner"); ?>
                    <label for="clientproject_complete_inner"><i class="material-icons blue-grey-text text-darken-3">notifications</i></label>
                  </div>
                </li>
              </ul>
              <ul class="collection with-header borderless">
                <li class="collection-header"><h5>Invoices:</h5></li>
                <li class="collection-item space-between">
                  <div>Invoice Status:</div>
                  <div class="flex-centered">
                    <?php echo $form->render("projectinvoice_status_email"); ?>
                    <label for="projectinvoice_status_email"><i class="material-icons blue-grey-text text-darken-3">email</i></label>

                    <?php echo $form->render("projectinvoice_status_inner"); ?>
                    <label for="projectinvoice_status_inner"><i class="material-icons blue-grey-text text-darken-3">notifications</i></label>
                  </div>
                </li>
              </ul>
              <ul class="collection with-header borderless">
              	<li class="collection-header"><h5>Tickets:</h5></li>
              	<li class="collection-item space-between">
                  <div>Responses:</div>
                  <div class="flex-centered">
                    <?php echo $form->render("clientticket_response_email"); ?>
                		<label for="clientticket_response_email"><i class="material-icons blue-grey-text text-darken-3">email</i></label>

                    <?php echo $form->render("clientticket_response_inner"); ?>
                		<label for="clientticket_response_inner"><i class="material-icons blue-grey-text text-darken-3">notifications</i></label>
                  </div>
                </li>
              	<li class="collection-item space-between">
                  <div>Ticket's Status Update:</div>
                  <div class="flex-centered">
                    <?php echo $form->render("clientticket_status_email"); ?>
                		<label for="clientticket_status_email"><i class="material-icons blue-grey-text text-darken-3">email</i></label>

                    <?php echo $form->render("clientticket_status_inner"); ?>
                		<label for="clientticket_status_inner"><i class="material-icons blue-grey-text text-darken-3">notifications</i></label>
                  </div>
                </li>
              </ul>
            </div>
            <div class="panel-footer flex-end">
              <button type="submit" class="btn teal lighten-1 waves-effect waves-light">
                <i class="material-icons">done_all</i>
                Save
              </button>
            </div>
          </form>
        </div>
      </div>

    </div>

  </section>
</div>

<div id="modal-results"></div>
