<div class="main-content no-gutter">
  <section id="profile">
    <div class="row">
      <div class="col s12">
        <nav>
          <div class="nav-wrapper">
            <ul class="right">
              <li><a href="<?php echo $staticUrl;?>/settings">Overview</a></li>
              <li><a href="<?php echo $staticUrl;?>/settings/permissions/">Permissions</a></li>
              <li><a href="<?php echo $staticUrl;?>/settings/notifications/">Notifications</a></li>
              <li><a href="<?php echo $staticUrl;?>/settings/administrators/">Administrators</a></li>
              <li class="active"><a href="<?php echo $staticUrl;?>/settings/payments/">Payments</a></li>
              <li><a href="<?php echo $staticUrl;?>/settings/email/">E-Mail</a></li>
              <li><a href="<?php echo $staticUrl;?>/settings/server/">Server</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <div class="card-panel amber darken-4">
          <strong>Warning!</strong> At least one ( Paypal | Stripe ) must be active in order that the client can pay an invoice! Otherwise you will need to manualy add a payment !
    		</div>
      </div>
    </div>

    <div class="row">
      <!-- paypal -->
      <div class="col s12 m4">

        <div class="panel panel-bordered panel-about panel-bar-chart z-depth-1">
          <div class="panel-header">
            <div class="title">Paypal Configuration:</div>
          </div>
          <div class="panel-body">
            <div class="row">
              <form action="<?php echo $staticUrl;?>/settings/payments/paypal/save" method="post" accept-charset="utf8" role="AjaxForm">
                <?php echo $form->render("security"); ?>

                <div class="input-field col s12">
                  <?php echo $form->render("pp_active"); ?>
                  <label>Enable / Disable</label>
                </div>

                <div class="input-field col s12">
                  <?php echo $form->render("pp_mode"); ?>
                  <label>Mode</label>
                </div>

                <div class="input-field col s12">
                  <?php echo $form->render("pp_clientID"); ?>
                  <label>ClientID Key</label>
                </div>

                <div class="input-field col s12">
                  <?php echo $form->render("pp_secret"); ?>
                  <label>Secret Key</label>
                </div>

                <div class="input-field col s12">
                  <button type="submit" class="btn teal lighten-1 waves-effect waves-light right">
                    <i class="material-icons">check</i>
                    Save
                  </button>
                </div>

              </form>
            </div>
          </div>

        </div>
      </div>
      <!-- stripe -->
      <div class="col s12 m4">

        <div class="panel panel-bordered panel-about panel-bar-chart z-depth-1">
          <div class="panel-header">
            <div class="title">Stripe Configuration:</div>
          </div>
          <div class="panel-body">
            <div class="row">
              <form action="<?php echo $staticUrl;?>/settings/payments/stripe/save" method="post" accept-charset="utf8" role="AjaxForm">
                <?php echo $form->render("security"); ?>

                <div class="input-field col s12">
                  <?php echo $form->render("sp_active"); ?>
                  <label>Enable / Disable</label>
                </div>

                <div class="input-field col s12">
                  <?php echo $form->render("sp_secret"); ?>
                  <label>Secret Key</label>
                </div>

                <div class="input-field col s12">
                  <?php echo $form->render("sp_publishable"); ?>
                  <label>Publishable Key</label>
                </div>

                <div class="input-field col s12">
                  <button type="submit" class="btn teal lighten-1 waves-effect waves-light right">
                    <i class="material-icons">check</i>
                    Save
                  </button>
                </div>

              </form>
            </div>
          </div>

        </div>
      </div>
      <!-- taxes -->
      <div class="col s12 m4">

        <div class="panel panel-bordered panel-about panel-bar-chart z-depth-1">
          <div class="panel-header">
            <div class="title">Taxes Configuration:</div>
          </div>
          <div class="panel-body">
            <div class="row">
              <form action="<?php echo $staticUrl;?>/settings/payments/taxes/save" method="post" accept-charset="utf8" role="AjaxForm">
                <?php echo $form->render("security"); ?>

                <div class="input-field col s12">
                  <?php echo $form->render("taxes_active"); ?>
                  <label>Enable / Disable</label>
                </div>

                <div class="input-field col s12">
                  <?php echo $form->render("taxes_type"); ?>
                  <label>Tax Calculation</label>
                </div>

                <div class="input-field col s12">
                  <?php echo $form->render("taxes_amount"); ?>
                  <label>Tax Amount</label>
                </div>

                <div class="input-field col s12">
                  <?php echo $form->render("taxes_time"); ?>
                  <label>Tax Base</label>
                </div>

                <div class="input-field col s12">
                  <button type="submit" class="btn teal lighten-1 waves-effect waves-light right">
                    <i class="material-icons">check</i>
                    Save
                  </button>
                </div>

              </form>
            </div>
          </div>

        </div>
      </div>
    </div>

  </section>
</div>

<div id="modal-results"></div>
