<div class="main-content no-gutter">
  <section id="profile">
    <div class="row">
      <div class="col s12">
        <nav>
          <div class="nav-wrapper">
            <ul class="right">
              <li><a href="<?php echo $staticUrl;?>/settings">Overview</a></li>
              <li class="active"><a href="<?php echo $staticUrl;?>/settings/permissions/">Permissions</a></li>
              <li><a href="<?php echo $staticUrl;?>/settings/notifications/">Notifications</a></li>
              <li><a href="<?php echo $staticUrl;?>/settings/administrators/">Administrators</a></li>
              <li><a href="<?php echo $staticUrl;?>/settings/payments/">Payments</a></li>
              <li><a href="<?php echo $staticUrl;?>/settings/email/">E-Mail</a></li>
              <li><a href="<?php echo $staticUrl;?>/settings/server/">Server</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>

    <div class="row">

      <div class="col s12 m6">
        <div class="panel panel-bordered panel-about panel-bar-chart z-depth-1">
          <div class="panel-header">
            <div class="title">Team Members</div>
          </div>
          <form action="<?php echo $staticUrl;?>/settings/permissions/save/members" method="post" accept-charset="utf8" role="AjaxForm">
            <?php echo $form->render("security"); ?>
            <div class="panel-body">
                <!-- TICKETS -->
                <ul class="collection with-header borderless">
                	<li class="collection-header"><h5>Tickets:</h5></li>
                	<li class="collection-item space-between">
                    <div>Page Accessible?</div>
                    <div class="switch">
                      <label>
                        No
                        <?php echo $form->render("tickets_page"); ?>
                        <span class="lever"></span>
                        Yes
                      </label>
                    </div>
                  </li>
                	<li class="collection-item space-between">
                    <div>Update Tickets?</div>
                    <div class="switch">
                      <label>
                        No
                        <?php echo $form->render("tickets_update"); ?>
                        <span class="lever"></span>
                        Yes
                      </label>
                    </div>
                  </li>
                	<li class="collection-item space-between">
                    <div>Delete Tickets?</div>
                    <div class="switch">
                      <label>
                        No
                        <?php echo $form->render("tickets_delete"); ?>
                        <span class="lever"></span>
                        Yes
                      </label>
                    </div>
                  </li>
                </ul>
                <!-- TEAM -->
                <ul class="collection with-header borderless">
                	<li class="collection-header"><h5>Team Members:</h5></li>
                	<li class="collection-item space-between">
                    <div>Page Accessible?</div>
                    <div class="switch">
                      <label>
                        No
                        <?php echo $form->render("members_page"); ?>
                        <span class="lever"></span>
                        Yes
                      </label>
                    </div>
                  </li>
                	<li class="collection-item space-between">
                    <div>Create Team Members?</div>
                    <div class="switch">
                      <label>
                        No
                        <?php echo $form->render("members_create"); ?>
                        <span class="lever"></span>
                        Yes
                      </label>
                    </div>
                  </li>
                	<li class="collection-item space-between">
                    <div>Update Team Members?</div>
                    <div class="switch">
                      <label>
                        No
                        <?php echo $form->render("members_update"); ?>
                        <span class="lever"></span>
                        Yes
                      </label>
                    </div>
                  </li>
                	<li class="collection-item space-between">
                    <div>Delete Team Members?</div>
                    <div class="switch">
                      <label>
                        No
                        <?php echo $form->render("members_delete"); ?>
                        <span class="lever"></span>
                        Yes
                      </label>
                    </div>
                  </li>
                </ul>
                <!-- CLIENTS -->
                <ul class="collection with-header borderless">
                	<li class="collection-header"><h5>Clients:</h5></li>
                	<li class="collection-item space-between">
                    <div>Page Accessible?</div>
                    <div class="switch">
                      <label>
                        No
                        <?php echo $form->render("clients_page"); ?>
                        <span class="lever"></span>
                        Yes
                      </label>
                    </div>
                  </li>
                	<li class="collection-item space-between">
                    <div>Create Clients?</div>
                    <div class="switch">
                      <label>
                        No
                        <?php echo $form->render("clients_create"); ?>
                        <span class="lever"></span>
                        Yes
                      </label>
                    </div>
                  </li>
                	<li class="collection-item space-between">
                    <div>Update Clients?</div>
                    <div class="switch">
                      <label>
                        No
                        <?php echo $form->render("clients_update"); ?>
                        <span class="lever"></span>
                        Yes
                      </label>
                    </div>
                  </li>
                	<li class="collection-item space-between">
                    <div>Delete Clients?</div>
                    <div class="switch">
                      <label>
                        No
                        <?php echo $form->render("clients_delete"); ?>
                        <span class="lever"></span>
                        Yes
                      </label>
                    </div>
                  </li>
                </ul>
                <!-- PROJECTS -->
                <ul class="collection with-header borderless">
                	<li class="collection-header"><h5>Projects:</h5></li>
                	<li class="collection-item space-between">
                    <div>Page Accessible?</div>
                    <div class="switch">
                      <label>
                        No
                        <?php echo $form->render("projects_page"); ?>
                        <span class="lever"></span>
                        Yes
                      </label>
                    </div>
                  </li>
                	<li class="collection-item space-between">
                    <div>Create Projects?</div>
                    <div class="switch">
                      <label>
                        No
                        <?php echo $form->render("projects_create"); ?>
                        <span class="lever"></span>
                        Yes
                      </label>
                    </div>
                  </li>
                	<li class="collection-item space-between">
                    <div>Update Projects?</div>
                    <div class="switch">
                      <label>
                        No
                        <?php echo $form->render("projects_update"); ?>
                        <span class="lever"></span>
                        Yes
                      </label>
                    </div>
                  </li>
                	<li class="collection-item space-between">
                    <div>Delete Projects?</div>
                    <div class="switch">
                      <label>
                        No
                        <?php echo $form->render("projects_delete"); ?>
                        <span class="lever"></span>
                        Yes
                      </label>
                    </div>
                  </li>
                </ul>
                <!-- PROJECT TASKS -->
                <ul class="collection with-header borderless">
                	<li class="collection-header"><h5>Project Tasks:</h5></li>
                	<li class="collection-item space-between">
                    <div>Page Accessible?</div>
                    <div class="switch">
                      <label>
                        No
                        <?php echo $form->render("projecttasks_page"); ?>
                        <span class="lever"></span>
                        Yes
                      </label>
                    </div>
                  </li>
                	<li class="collection-item space-between">
                    <div>Create Tasks?</div>
                    <div class="switch">
                      <label>
                        No
                        <?php echo $form->render("projecttasks_create"); ?>
                        <span class="lever"></span>
                        Yes
                      </label>
                    </div>
                  </li>
                	<li class="collection-item space-between">
                    <div>Update Tasks?</div>
                    <div class="switch">
                      <label>
                        No
                        <?php echo $form->render("projecttasks_update"); ?>
                        <span class="lever"></span>
                        Yes
                      </label>
                    </div>
                  </li>
                	<li class="collection-item space-between">
                    <div>Delete Tasks?</div>
                    <div class="switch">
                      <label>
                        No
                        <?php echo $form->render("projecttasks_delete"); ?>
                        <span class="lever"></span>
                        Yes
                      </label>
                    </div>
                  </li>
                </ul>
                <!-- PROJECT FILES -->
                <ul class="collection with-header borderless">
                	<li class="collection-header"><h5>Project Files:</h5></li>
                	<li class="collection-item space-between">
                    <div>Page Accessible?</div>
                    <div class="switch">
                      <label>
                        No
                        <?php echo $form->render("projectfiles_page"); ?>
                        <span class="lever"></span>
                        Yes
                      </label>
                    </div>
                  </li>
                	<li class="collection-item space-between">
                    <div>Create Files?</div>
                    <div class="switch">
                      <label>
                        No
                        <?php echo $form->render("projectfiles_create"); ?>
                        <span class="lever"></span>
                        Yes
                      </label>
                    </div>
                  </li>
                	<li class="collection-item space-between">
                    <div>Delete Files?</div>
                    <div class="switch">
                      <label>
                        No
                        <?php echo $form->render("projectfiles_delete"); ?>
                        <span class="lever"></span>
                        Yes
                      </label>
                    </div>
                  </li>
                </ul>
                <!-- PROJECT REQUESTS -->
                <ul class="collection with-header borderless">
                	<li class="collection-header"><h5>Project Requests:</h5></li>
                	<li class="collection-item space-between">
                    <div>Page Accessible?</div>
                    <div class="switch">
                      <label>
                        No
                        <?php echo $form->render("projectrequests_page"); ?>
                        <span class="lever"></span>
                        Yes
                      </label>
                    </div>
                  </li>
                	<li class="collection-item space-between">
                    <div>Delete Requests?</div>
                    <div class="switch">
                      <label>
                        No
                        <?php echo $form->render("projectrequests_delete"); ?>
                        <span class="lever"></span>
                        Yes
                      </label>
                    </div>
                  </li>
                </ul>
                <!-- PROJECT ESTIMATES -->
                <ul class="collection with-header borderless">
                	<li class="collection-header"><h5>Project Estimates:</h5></li>
                	<li class="collection-item space-between">
                    <div>Page Accessible?</div>
                    <div class="switch">
                      <label>
                        No
                        <?php echo $form->render("projectestimates_page"); ?>
                        <span class="lever"></span>
                        Yes
                      </label>
                    </div>
                  </li>
                	<li class="collection-item space-between">
                    <div>Create Estimates?</div>
                    <div class="switch">
                      <label>
                        No
                        <?php echo $form->render("projectestimates_create"); ?>
                        <span class="lever"></span>
                        Yes
                      </label>
                    </div>
                  </li>
                	<li class="collection-item space-between">
                    <div>Send Estimates?</div>
                    <div class="switch">
                      <label>
                        No
                        <?php echo $form->render("projectestimates_send"); ?>
                        <span class="lever"></span>
                        Yes
                      </label>
                    </div>
                  </li>
                	<li class="collection-item space-between">
                    <div>Update Estimates?</div>
                    <div class="switch">
                      <label>
                        No
                        <?php echo $form->render("projectestimates_update"); ?>
                        <span class="lever"></span>
                        Yes
                      </label>
                    </div>
                  </li>
                	<li class="collection-item space-between">
                    <div>Delete Estimates?</div>
                    <div class="switch">
                      <label>
                        No
                        <?php echo $form->render("projectestimates_delete"); ?>
                        <span class="lever"></span>
                        Yes
                      </label>
                    </div>
                  </li>
                </ul>
                <!-- PROJECT INVOICES -->
                <ul class="collection with-header borderless">
                	<li class="collection-header"><h5>Project Invoices:</h5></li>
                	<li class="collection-item space-between">
                    <div>Page Accessible?</div>
                    <div class="switch">
                      <label>
                        No
                        <?php echo $form->render("projectinvoices_page"); ?>
                        <span class="lever"></span>
                        Yes
                      </label>
                    </div>
                  </li>
                	<li class="collection-item space-between">
                    <div>Create Invoices?</div>
                    <div class="switch">
                      <label>
                        No
                        <?php echo $form->render("projectinvoices_create"); ?>
                        <span class="lever"></span>
                        Yes
                      </label>
                    </div>
                  </li>
                	<li class="collection-item space-between">
                    <div>Update Invoices?</div>
                    <div class="switch">
                      <label>
                        No
                        <?php echo $form->render("projectinvoices_update"); ?>
                        <span class="lever"></span>
                        Yes
                      </label>
                    </div>
                  </li>
                	<li class="collection-item space-between">
                    <div>Delete Invoices?</div>
                    <div class="switch">
                      <label>
                        No
                        <?php echo $form->render("projectinvoices_delete"); ?>
                        <span class="lever"></span>
                        Yes
                      </label>
                    </div>
                  </li>
                </ul>
                <!-- PROJECT PAYMENTS -->
                <ul class="collection with-header borderless">
                	<li class="collection-header"><h5>Project Payments:</h5></li>
                	<li class="collection-item space-between">
                    <div>Page Accessible?</div>
                    <div class="switch">
                      <label>
                        No
                        <?php echo $form->render("projectpayments_page"); ?>
                        <span class="lever"></span>
                        Yes
                      </label>
                    </div>
                  </li>
                	<li class="collection-item space-between">
                    <div>Create Payments?</div>
                    <div class="switch">
                      <label>
                        No
                        <?php echo $form->render("projectpayments_create"); ?>
                        <span class="lever"></span>
                        Yes
                      </label>
                    </div>
                  </li>
                	<li class="collection-item space-between">
                    <div>Delete Payments?</div>
                    <div class="switch">
                      <label>
                        No
                        <?php echo $form->render("projectpayments_delete"); ?>
                        <span class="lever"></span>
                        Yes
                      </label>
                    </div>
                  </li>
                </ul>
            </div>
            <div class="panel-footer flex-end">
              <button type="submit" class="btn teal lighten-1 waves-effect waves-light">
                <i class="material-icons">done_all</i>
                Save
              </button>
            </div>
          </form>
        </div>
      </div>

      <div class="col s12 m6">
        <div class="panel panel-bordered panel-about panel-bar-chart z-depth-1">
          <div class="panel-header">
            <div class="title">Clients</div>
          </div>
            <form action="<?php echo $staticUrl;?>/settings/permissions/save/clients" method="post" accept-charset="utf8" role="AjaxForm">
              <?php echo $form->render("security"); ?>
            <div class="panel-body">
              <!-- TICKETS -->
              <ul class="collection with-header borderless">
                <li class="collection-header"><h5>Tickets:</h5></li>
                <li class="collection-item space-between">
                  <div>Page Accessible?</div>
                  <div class="switch">
                    <label>
                      No
                      <?php echo $form->render("clienttickets_page"); ?>
                      <span class="lever"></span>
                      Yes
                    </label>
                  </div>
                </li>
                <li class="collection-item space-between">
                  <div>Create Tickets?</div>
                  <div class="switch">
                    <label>
                      No
                      <?php echo $form->render("clienttickets_create"); ?>
                      <span class="lever"></span>
                      Yes
                    </label>
                  </div>
                </li>
                <li class="collection-item space-between">
                  <div>Reopen Tickets?</div>
                  <div class="switch">
                    <label>
                      No
                      <?php echo $form->render("clienttickets_reopen"); ?>
                      <span class="lever"></span>
                      Yes
                    </label>
                  </div>
                </li>
                <li class="collection-item space-between">
                  <div>Delete Tickets?</div>
                  <div class="switch">
                    <label>
                      No
                      <?php echo $form->render("clienttickets_delete"); ?>
                      <span class="lever"></span>
                      Yes
                    </label>
                  </div>
                </li>
              </ul>
              <!-- TICKETS -->
              <ul class="collection with-header borderless">
                <li class="collection-header"><h5>Project Files:</h5></li>
                <li class="collection-item space-between">
                  <div>Page Accessible?</div>
                  <div class="switch">
                    <label>
                      No
                      <?php echo $form->render("clientprojectfiles_page"); ?>
                      <span class="lever"></span>
                      Yes
                    </label>
                  </div>
                </li>
                <li class="collection-item space-between">
                  <div>Create Files?</div>
                  <div class="switch">
                    <label>
                      No
                      <?php echo $form->render("clientprojectfiles_create"); ?>
                      <span class="lever"></span>
                      Yes
                    </label>
                  </div>
                </li>
                <li class="collection-item space-between">
                  <div>Delete Uploaded Files?</div>
                  <div class="switch">
                    <label>
                      No
                      <?php echo $form->render("clientprojectfiles_delete"); ?>
                      <span class="lever"></span>
                      Yes
                    </label>
                  </div>
                </li>
              </ul>
              <!-- PROJECT REQUESTS -->
              <ul class="collection with-header borderless">
                <li class="collection-header"><h5>Project Requests:</h5></li>
                <li class="collection-item space-between">
                  <div>Page Accessible?</div>
                  <div class="switch">
                    <label>
                      No
                      <?php echo $form->render("clientprojectrequests_page"); ?>
                      <span class="lever"></span>
                      Yes
                    </label>
                  </div>
                </li>
                <li class="collection-item space-between">
                  <div>Create Requests?</div>
                  <div class="switch">
                    <label>
                      No
                      <?php echo $form->render("clientprojectrequests_create"); ?>
                      <span class="lever"></span>
                      Yes
                    </label>
                  </div>
                </li>
                <li class="collection-item space-between">
                  <div>Delete Requests?</div>
                  <div class="switch">
                    <label>
                      No
                      <?php echo $form->render("clientprojectrequests_delete"); ?>
                      <span class="lever"></span>
                      Yes
                    </label>
                  </div>
                </li>
              </ul>
            </div>
            <div class="panel-footer flex-end">
              <button type="submit" class="btn teal lighten-1 waves-effect waves-light">
                <i class="material-icons">done_all</i>
                Save
              </button>
            </div>

          </form>
        </div>
      </div>

    </div>

  </section>
</div>

<div id="modal-results"></div>
