<div class="main-content no-gutter">
  <section id="profile">
    <div class="row">
      <div class="col s12">
        <nav>
          <div class="nav-wrapper">
            <ul class="right">
              <li><a href="<?php echo $staticUrl;?>/settings">Overview</a></li>
              <li><a href="<?php echo $staticUrl;?>/settings/permissions/">Permissions</a></li>
              <li><a href="<?php echo $staticUrl;?>/settings/notifications/">Notifications</a></li>
              <li><a href="<?php echo $staticUrl;?>/settings/administrators/">Administrators</a></li>
              <li><a href="<?php echo $staticUrl;?>/settings/payments/">Payments</a></li>
              <li><a href="<?php echo $staticUrl;?>/settings/email/">E-Mail</a></li>
              <li class="active"><a href="<?php echo $staticUrl;?>/settings/server/">Server</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <div class="card-panel amber darken-4">
          <strong>Warning!</strong> If changes made here doesn't work , change manualy in <i>config/config.ini</i>
    		</div>
      </div>
    </div>

    <div class="row">
      <div class="col s12">

        <div class="panel panel-bordered panel-about panel-bar-chart z-depth-1">
          <div class="panel-header">
            <div class="title">Configuration:</div>
          </div>
          <div class="panel-body">
            <div class="row">
              <form action="<?php echo $staticUrl;?>/settings/server/save" method="post" accept-charset="utf8" role="AjaxForm">
                <?php echo $form->render("security"); ?>

                <div class="input-field col s3">
                  <?php echo $form->render("host"); ?>
                  <label>Database Host</label>
                </div>

                <div class="input-field col s3">
                  <?php echo $form->render("username"); ?>
                  <label>Username</label>
                </div>

                <div class="input-field col s3">
                  <?php echo $form->render("password"); ?>
                  <label>Password</label>
                </div>

                <div class="input-field col s3">
                  <?php echo $form->render("database"); ?>
                  <label>Database</label>
                </div>

                <div class="input-field col s12">
                  <button type="submit" class="btn teal lighten-1 waves-effect waves-light right">
                    <i class="material-icons">check</i>
                    Save
                  </button>
                </div>

              </form>
            </div>
          </div>

        </div>
      </div>
    </div>

  </section>
</div>

<div id="modal-results"></div>
