<div class="main-content no-gutter">
  <section id="departments">

    <div class="row">
      <div class="col s12">
          <nav>
            <div class="nav-wrapper">
            <ul class="right">
              <li><a href="<?php echo $staticUrl;?>/team">Team Memebrs</a></li>
              <li class="active"><a href="<?php echo $staticUrl;?>/departments">Departments</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <div class="panel panel-bordered z-depth-1">
          <div class="row">
            <br>
            <div class="input-field col s12">
    					<i class="fa fa-search prefix"></i>
    					<input id="icon_prefix" type="text" class="validate" data-search >
    					<label for="icon_prefix" class="">Filter Results</label>
    				</div>

            <div class="col s12">
              <button type="button" class="btn teal lighten-1 waves-effect waves-light right" data-ajax="<?php echo $staticUrl; ?>/department/create">
                <span class="fa fa-plus"></span>
                New Department
              </button>

              <table class="responsive-table">
                <thead>
                  <tr>
                    <th>Department</th>
                    <th>Members</th>
                    <th class="right"><i class="fa fa-cogs"></i></th>
                  </tr>
                </thead>
                <tbody>
                  <?php foreach ($departments as $department): ?>
                    <tr data-searchable >
                        <td><?php echo $department->department; ?></td>
                        <td>
                          <div class="chip">
                            <?php echo $department->count; ?> Members
                          </div>
                        </td>
                        <td class="right">
                          <div class="btn-group">
                            <button type="button" class="btn blue darken-3 waves-effect waves-light" data-ajax="<?php echo $staticUrl; ?>/department/modify/<?php echo $department->_ ;?>">
                              <i class="material-icons">settings</i>
                            </button>
                            <button type="button" class="btn red darken-4 waves-effect waves-light" data-ajax="<?php echo $staticUrl; ?>/department/remove/<?php echo $department->_ ;?>">
                              <i class="material-icons">close</i>
                            </button>
                          </div>
                        </td>
                    </tr>
                  <?php endforeach; ?>
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
</div>

<div id="modal-results"></div>
