<div class="main-content no-gutter">
  <section id="profile">
    <div class="row">
      <div class="col s12">
        <nav>
          <div class="nav-wrapper">
            <ul class="right">
              <li><a href="<?php echo $staticUrl;?>/finance">Overview</a></li>
              <li><a href="<?php echo $staticUrl;?>/finance/expenses">Expenses</a></li>
              <li><a href="<?php echo $staticUrl;?>/finance/invoices">Invoices</a></li>
              <li class="active"><a href="<?php echo $staticUrl;?>/finance/estimates">Estimates</a></li>
              <li><a href="<?php echo $staticUrl;?>/finance/requests">Requests</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>

    <div class="row">

      <div class="col s12">
        <div class="panel panel-bordered z-depth-1">
          <div class="row">
            <br>
            <div class="input-field col s12 m8">
              <i class="fa fa-search prefix"></i>
              <input id="icon_prefix" type="text" class="validate" data-search >
              <label for="icon_prefix" class="">Filter Results</label>
            </div>
            <div class="input-field col s12 m4">
              <select data-filter >
                <option value="0" selected="selected">All</option>
                <option value="1">Pending</option>
                <option value="2">Sent</option>
                <option value="3">Invoiced</option>
                <option value="4">Revised</option>
                <option value="5">Declined</option>
              </select>
              <label>Status Filter</label>
            </div>
          </div>

          <div class="row">

            <div class="col s12">
              <button type="button" class="btn teal lighten-1 waves-effect waves-light right" data-ajax="<?php echo $staticUrl; ?>/finance/estimates/create">
                <span class="fa fa-plus"></span>
                New Estimate
              </button>
            </div>

            <div class="col s12">
              <table class="responsive-table">
                <thead>
                  <tr>
                    <th></th>
                    <th>Due Date</th>
                    <th>Estimated Value</th>
                    <th>Estimate</th>
                    <th>Project</th>
                    <th>Client</th>
                    <th><i class="fa fa-cogs"></i></th>
                  </tr>
                </thead>
                <tbody>
                  <?php foreach($estimates as $estimate): ?>
                    <tr data-searchable  data-filterable="<?php echo $estimate->status;?>" >
                      <td class="centered-text">
                        <?php
                          switch($estimate->status)
                          {
                            case 1 : echo "<i class='material-icons tooltipped pointer small amber-text text-accent-4' data-tooltip='Pending'>warning</i>"; break;
                            case 2 : echo "<i class='material-icons tooltipped pointer small indigo-text text-darken-2' data-tooltip='Sent'>send</i>"; break;
                            case 3 : echo "<i class='material-icons tooltipped pointer small green-text text-darken-2' data-tooltip='Invoiced'>done</i>"; break;
                            case 4 : echo "<i class='material-icons tooltipped pointer small blue-text  text-accent-4' data-tooltip='Revised'>settings_backup_restore</i>"; break;
                            case 5 : echo "<i class='material-icons tooltipped pointer small red-text   text-darken-2' data-tooltip='Declined'>clear</i>"; break;
                          }
                        ?>
                      </td>
                      <td><?php echo (new DateTime($estimate->due))->format($date_format); ?></td>
                      <td>$<?php echo number_format(($estimate->value / 100),2,',','.'); ?></td>
                      <td><a class="tooltipped"  data-tooltip="<?php echo $estimate->title; ?>" href="<?php echo $staticUrl;?>/project/<?php echo $estimate->uniqueP; ?>/invoices/overview/<?php echo $estimate->unique; ?>">#<?php echo $estimate->unique; ?></a></td>
                      <td><a class="tooltipped"  data-tooltip="<?php echo $estimate->project; ?>" href="./project/<?php echo $estimate->uniqueP; ?>/overview">#<?php echo $estimate->uniqueP; ?></a></td>
                      <td>
                        <div class="chip">
                          <img src="<?php echo $staticUrl;?>/assets/manager/images/avatar/<?php echo $estimate->clientimg ?: 'placeholder/'.substr($estimate->client,0,1).'.jpg'; ?>" alt="<?php echo $estimate->client; ?>">
                          <?php echo $estimate->client; ?>

                          <?php if($estimate->company): ?>
                          <div class="chip">
                            <?php echo $estimate->company; ?>
                          </div>
                          <?php endif; ?>
                        </div>
                      </td>
                      <td>
                        <div class="btn-group">
                          <button type="button" class="btn indigo darken-1 waves-effect waves-light" data-href="<?php echo $staticUrl;?>/project/<?php echo $estimate->uniqueP;?>/estimates/overview/<?php echo $estimate->unique;?>">
                            <i class="material-icons">visibility</i>
                          </button>
                        </div>
                      </td>
                    </tr>
                  <?php endforeach; ?>
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
</div>

<div id="modal-results"></div>
