<div class="main-content no-gutter">
  <section id="profile">
    <div class="row">
      <div class="col s12">
        <nav>
          <div class="nav-wrapper">
            <ul class="right">
              <li><a href="<?php echo $staticUrl;?>/finance">Overview</a></li>
              <li class="active"><a href="<?php echo $staticUrl;?>/finance/expenses">Expenses</a></li>
              <li><a href="<?php echo $staticUrl;?>/finance/invoices">Invoices</a></li>
              <li><a href="<?php echo $staticUrl;?>/finance/estimates">Estimates</a></li>
              <li><a href="<?php echo $staticUrl;?>/finance/requests">Requests</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>

    <div class="row">
      <div class="col s12">

        <div class="panel panel-bordered z-depth-1">
          <div class="row">
            <br>
            <div class="input-field col s12 m8">
              <i class="fa fa-search prefix"></i>
              <input id="icon_prefix" type="text" class="validate" data-search >
              <label for="icon_prefix" class="">Filter Results</label>
            </div>
            <div class="input-field col s12 m4">
              <select data-filter >
                <option value="0" selected="selected">All</option>
                <?php foreach($categories as $c): ?>
                  <option value="<?php echo $c->name;?>"><?php echo $c->name;?></option>
                <?php endforeach; ?>
              </select>
              <label>Category Filter</label>
            </div>
          </div>
          <div class="row">

            <div class="col s12">
              <button type="button" class="btn teal lighten-1 waves-effect waves-light right" data-ajax="<?php echo $staticUrl; ?>/finance/expenses/create">
                <span class="fa fa-plus"></span>
                New Expense
              </button>

              <table class="responsive-table">
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Attachment</th>
                    <th>Value</th>
                    <th><i class="fa fa-cogs"></i></th>
                  </tr>
                </thead>
                <tbody>
                  <?php foreach($expenses as $expense): ?>
                    <tr data-searchable data-filterable="<?php echo $expense->category; ?>" >
                      <td><?php echo (new DateTime($expense->date))->format($date_format); ?></td>
                      <td><?php echo $expense->category; ?></td>
                      <td><?php echo $expense->title; ?></td>
                      <td style="width:16.66%"><?php echo $expense->text; ?></td>
                      <td><a href="#" data-download="<?php echo $expense->file; ?>"><?php echo $expense->file; ?></a></td>
                      <td>$<?php echo number_format(($expense->amount / 100),2,',','.'); ?></td>
                      <td>
                        <div class="btn-group">
                          <button type="button" class="btn blue darken-3 waves-effect waves-light" data-ajax="<?php echo $staticUrl; ?>/finance/expenses/modify/<?php echo $expense->unique;?>">
                            <i class="material-icons">settings</i>
                          </button>
                          <button type="button" class="btn red darken-4 waves-effect waves-light" data-ajax="<?php echo $staticUrl; ?>/finance/expenses/remove/<?php echo $expense->unique;?>">
                            <i class="material-icons">close</i>
                          </button>
                        </div>
                      </td>
                    </tr>
                  <?php endforeach; ?>
                </tbody>
              </table>

            </div>
          </div>
        </div>

      </div>
    </div>

  </section>
</div>

<div id="modal-results"></div>
