<div class="main-content no-gutter">
  <section id="profile">
    <div class="row">
      <div class="col s12">
        <nav>
          <div class="nav-wrapper">
            <ul class="right">
              <li class="active"><a href="<?php echo $staticUrl;?>/finance">Overview</a></li>
              <li><a href="<?php echo $staticUrl;?>/finance/expenses">Expenses</a></li>
              <li><a href="<?php echo $staticUrl;?>/finance/invoices">Invoices</a></li>
              <li><a href="<?php echo $staticUrl;?>/finance/estimates">Estimates</a></li>
              <li><a href="<?php echo $staticUrl;?>/finance/requests">Requests</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>

    <div class="row">
      <div class="col s12">

        <div class="panel panel-bordered z-depth-1">
          <div class="panel-header">
            <div class="title">
              Comparison Payments vs Expenses
            </div>
          </div>
          <div class="panel-body">

            <canvas width="100" height="50"

            data-chart="line"
            data-labels="Jan,Feb,Mar,Apr,May,Jun,Jul,Agu,Sep,Oct,Nov,Dec"
            data-comparison="true"
            data-title="Payments"
            data-title2="Expenses"
            data-values="<?php echo "{$income->jan},{$income->feb},{$income->mar},{$income->apr},{$income->may},{$income->jun},{$income->jul},{$income->agu},{$income->sep},{$income->oct},{$income->nov},{$income->dec}"; ?>"
            data-values2="<?php echo "{$expenses->jan},{$expenses->feb},{$expenses->mar},{$expenses->apr},{$expenses->may},{$expenses->jun},{$expenses->jul},{$expenses->agu},{$expenses->sep},{$expenses->oct},{$expenses->nov},{$expenses->dec}"; ?>"
            </canvas>
          </div>
        </div>

      </div>
    </div>

  </section>
</div>

<div id="modal-results"></div>
