<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title><?php echo $pagetitle; ?> - Installer</title>
    <meta name="author" content="Hudson Nicoletti">

    <!-- ################## -->
    <!--     Stylesheets    -->
    <!-- ################## -->
    <?php echo $this->assets->outputCss(); ?>

    <link rel="shortcut icon" href="<?php echo $staticUrl;?>/favicon.ico" type="image/x-icon">
  </head>

  <body>
    <div id="theme-gradient"></div>
    <!-- ####### -->
    <!-- Content -->
    <!-- ####### -->
    <main>
      <?php echo $this->getContent(); ?>
    </main>
    <!-- ################## -->
    <!--      Scripts       -->
    <!-- ################## -->
    <script type="text/javascript">
      var _baseUri = "<?php echo $staticUrl;?>", dateformat = "<?php echo strtolower($date_format).'yyy'; ?>";
    </script>
    <?php echo $this->assets->outputJs(); ?>

  </body>
</html>
