<div class="main-content no-gutter">
  <section id="profile">

    <div class="row">
      <div class="col s12 centered-text">
        <?php foreach($collaborators as $c): ?>
          <figure class="user">
            <img src="<?php echo $staticUrl;?>/assets/manager/images/avatar/<?php echo $c->image ?: 'placeholder/'.substr($c->member,0,1).'.jpg'; ?>" class="circle z-depth-1 tooltipped x75" data-position="bottom" data-delay="50" data-tooltip="<?php echo $c->member.($c->status == 1 ? ', has not yet completed!': ', has completed!'); ?> ">
            <?php if($c->status == 1): ?>
              <i class="material-icons status pending">cancel</i>
            <?php else: ?>
              <i class="material-icons status complete">check_circle</i>
            <?php endif; ?>
            <?php if($c->_ == $task->assigned): ?>
              <i class="material-icons status manager">stars</i>
            <?php endif; ?>
          </figure>
        <?php endforeach; ?>
        <?php if($me == $task->assigned): ?>
        <button type="button" class="btn teal accent-4 waves-effect waves-light btn-floating tooltipped" data-position="bottom" data-delay="50" data-tooltip="Manage Collaborators!" data-ajax="<?php echo $staticUrl; ?>/task/collaborators/<?php echo $task->unique; ?>">
          <i class="material-icons">more_horiz</i>
        </button>
      <?php endif; ?>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m3">

        <div class="row">
          <div class="col s12">
            <form action="<?php echo $staticUrl;?>/task/job/status/<?php echo $task->unique ;?>" method="post" accept-charset="utf8" role="AjaxForm">
              <?php echo $form->render("security"); ?>
            <?php if($mystatus == 1): ?>
              <button type="submit" class="btn btn-large teal accent-4 waves-effect waves-light tooltipped" style="width: 100%" data-position="top" data-delay="50" data-tooltip="Set your task status to complete!" >
                <i class="material-icons">done</i> Set Job Complete !
              </button>
            <?php elseif($mystatus == 2): ?>
              <button type="submit" class="btn btn-large amber darken-4 waves-effect waves-light tooltipped" style="width: 100%" data-position="top" data-delay="50" data-tooltip="Set your task status to incomplete!" >
                <i class="material-icons">priority_high</i> Set Job incomplete !
              </button>
            <?php endif; ?>
            </form>
          </div>
        </div>

        <div class="row">
          <div class="col s12">
            <div class="panel panel-bordered z-depth-1">
    					<div class="panel-header">
    						<div class="title">
    							Task Information
    						</div>
    					</div>
    					<div class="panel-body">
                <p><strong class="teal-text text-darken-2">Title: </strong><br><?php echo $task->title; ?></p>
                <p><strong class="teal-text text-darken-2">Created: </strong><br><?php echo (new DateTime($task->created))->format($date_format); ?></p>
                <p><strong class="teal-text text-darken-2">Deadline: </strong><br><?php echo (new DateTime($task->deadline))->format($date_format); ?></p>
                <p><strong class="teal-text text-darken-2">Status: </strong><br>
                  <?php
                    switch($task->status)
                    {
                      case 1 : echo "Pending"; break;
                      case 2 : echo "Completed"; break;
                      case 3 : echo "Overdue"; break;
                      case 4 : echo "Canceled"; break;
                    }
                  ?>
                </p>
                <p><strong class="teal-text text-darken-2">Description: </strong><br><?php echo $task->description; ?></p>
    					</div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col s12">
            <div class="panel panel-bordered z-depth-1">
    					<div class="panel-header">
    						<div class="title">
    							Project Information
    						</div>
    					</div>
    					<div class="panel-body">
                <p><strong class="teal-text text-darken-2">Project: </strong><br><?php echo $task->project; ?></p>
                <p><strong class="teal-text text-darken-2">Created: </strong><br><?php echo (new DateTime($task->p_created))->format($date_format); ?></p>
                <p><strong class="teal-text text-darken-2">Deadline: </strong><br><?php echo (new DateTime($task->p_deadline))->format($date_format); ?></p>
                <p><strong class="teal-text text-darken-2">Description: </strong><br><?php echo $task->p_description; ?></p>
    					</div>
            </div>
          </div>
        </div>

        <?php if($me == $task->assigned): ?>
        <div class="row">
          <div class="col s12">
            <div class="panel panel-bordered z-depth-1">
    					<div class="panel-header">
    						<div class="title">
    							Task Options
    						</div>
    					</div>
    					<div class="panel-body">
                <form action="<?php echo $staticUrl;?>/task/status/<?php echo $task->unique ;?>" method="post" accept-charset="utf8" role="AjaxForm">
                  <?php echo $form->render("security"); ?>
                  <?php if(in_array($task->status,[1,3])):?>
                  <button type="submit" class="btn teal accent-4 waves-effect waves-light tooltipped" style="width: 100%" data-position="top" data-delay="50" data-tooltip="Set this task status to complete!">
                    <i class="material-icons">done_all</i> Complete Task !
                  </button>
                  <?php elseif(in_array($task->status,[2,4])): ?>
                  <button type="submit" class="btn amber darken-4 waves-effect waves-light tooltipped" style="width: 100%" data-position="top" data-delay="50" data-tooltip="Set this task status to incomplete!">
                    <i class="material-icons">priority_high</i> Pend Task !
                  </button>
                  <?php endif; ?>
                </form>


                <?php if($task->status != 4): ?>
                <br>
                <form action="<?php echo $staticUrl;?>/task/cancel/<?php echo $task->unique ;?>" method="post" accept-charset="utf8" role="AjaxForm">
                  <?php echo $form->render("security"); ?>
                  <button type="submit" class="btn red darken-4 waves-effect waves-light tooltipped" style="width: 100%" data-position="top" data-delay="50" data-tooltip="Set this task status to canceled!">
                    <i class="material-icons">clear</i> Cancel Task !
                  </button>
                </form>
                <?php endif; ?>

    					</div>
            </div>
          </div>
        </div>
        <?php endif; ?>

      </div>

      <div class="col s12 m9">
        <div class="panel panel-chat panel-bordered z-depth-1">
          <div class="panel-header">
            <div class="title">
              Conference
            </div>
          </div>
          <div class="panel-body">
            <div class="slimScrollDiv">
              <div class="slimscroll" data-height="230px" data-start="bottom">
								<div class="messages-wrapper">
                  <?php foreach($responses as $response): ?>
                  <div class="row message <?php echo ($response->member == $me ? 'sent' : 'received');?>">
										<div class="col s12">
											<img src="<?php echo $staticUrl;?>/assets/manager/images/avatar/<?php echo $response->image ?: 'placeholder/'.substr($response->name,0,1).'.jpg'; ?>" alt="<?php echo $response->name; ?>" class="circle responsive-img <?php echo ($response->member == $me ? 'left-aligned' : 'right-aligned');?>">
											<div class="text">
												<div class="name"><?php echo $response->name; ?> <small class="teal-text text-darken-3"><?php echo(new DateTime($response->date))->format($date_format); ?></small></div>

                        <p><?php
                            $regex = "/(http|https|ftp|ftps)\:\/\/[a-zA-Z0-9\-\.]+\.[a-zA-Z]{2,3}(\/\S*)?/";
                            echo (preg_match($regex, $response->text, $url) ? preg_replace($regex, "<a href='{$url[0]}'>{$url[0]}</a> ", $response->text) : $response->text );
                          ?></p>
											</div>
										</div>
									</div>
                  <?php endforeach; ?>
								</div>
							</div>
            </div>
          </div>
          <div class="panel-footer">
            <form action="<?php echo $staticUrl;?>/task/send/<?php echo $task->unique ;?>" method="post" accept-charset="utf8" role="AjaxForm">
              <?php echo $form->render("security"); ?>
              <input type="text" name="text" placeholder="Type a message and hit 'enter' to send">
            </form>
					</div>
      </div>
    </div>

  </section>
</div>

<div id="modal-results"></div>
