<div class="main-content no-gutter">
  <section id="dashboard">

    <div class="row">
      <div class="col s12">
        <div class="row">

          <div class="col m4 s12">
            <div class="panel panel-bordered z-depth-1">
              <div class="panel-header">
                <div class="title">
                  Project Statistics
                </div>
              </div>
              <div class="panel-body">

                <canvas width="100" height="50"

                data-chart="doughnut"
                data-title=""
                data-labels="In Progress, Completed"
                data-values="<?php echo "{$project['pending']},{$project['completed']}"; ?>"
                </canvas>
              </div>
            </div>
          </div>

          <div class="col m4 s12">
            <div class="panel panel-bordered z-depth-1">
              <div class="panel-header">
                <div class="title">
                  Tasks Statistics
                </div>
              </div>
              <div class="panel-body">

                <canvas width="100" height="50"

                data-chart="doughnut"
                data-title=""
                data-labels="In Progress, Completed"
                data-values="<?php echo "{$tasks['pending']},{$tasks['completed']}"; ?>"
                </canvas>
              </div>
            </div>
          </div>

          <div class="col m4 s12">
            <div class="panel panel-bordered z-depth-1">
              <div class="panel-header">
                <div class="title">
                  Tickets Statistics
                </div>
              </div>
              <div class="panel-body">

                <canvas width="100" height="50"

                data-chart="doughnut"
                data-title=""
                data-labels="Open, Pending ,Closed"
                data-values="<?php echo "{$tickets['open']},{$tickets['pending']},{$tickets['closed']}"; ?>"
                </canvas>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col m5 s12">
          <div class="panel panel-bordered panel-table z-depth-1">
            <div class="panel-header">
              <div class="title">
                Recent Project Activities
              </div>
            </div>
            <div class="panel-body">
							<table class="table highlight">
								<thead>
									<tr>
										<th>Project</th>
										<th>Activity</th>
										<th>User</th>
									</tr>
								</thead>
								<tbody>
                  <?php foreach($project_activities as $pa): ?>
									<tr>
										<td><a href="<?php echo $staticUrl; ?>/project/<?php echo $pa->project; ?>/overview"><?php echo $pa->project; ?></a></td>
										<td><?php echo $pa->activity; ?></td>
										<td><img src="<?php echo $staticUrl;?>/assets/manager/images/avatar/<?php echo $pa->image ?: 'placeholder/'.substr($pa->name,0,1).'.jpg'; ?>" class="circle tooltipped x45" data-position="bottom" data-delay="50" data-tooltip="<?php echo $pa->name; ?> "></td>
									</tr>
                  <?php endforeach; ?>
								</tbody>
							</table>
						</div>
          </div>
      </div>
      <div class="col m7 s12">
        <div class="row">
          <div class="col s12">
            <div class="panel panel-bordered z-depth-1">
              <div class="panel-header">
                <div class="title">
                  Monthly Payments Records
                </div>
              </div>
              <div class="panel-body">

                <canvas width="100" height="50"

                data-chart="bar"
                data-title="Amount"
                data-labels="Jan,Feb,Mar,Apr,May,Jun,Jul,Agu,Sep,Oct,Nov,Dec"
                data-values="<?php echo "{$monthly->jan},{$monthly->feb},{$monthly->mar},{$monthly->apr},{$monthly->may},{$monthly->jun},{$monthly->jul},{$monthly->agu},{$monthly->sep},{$monthly->oct},{$monthly->nov},{$monthly->dec}"; ?>"
                </canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <div class="panel panel-bordered z-depth-1">
              <div class="panel-header">
                <div class="title">
                  Weekly Payments Records
                </div>
              </div>
              <div class="panel-body">

                <canvas width="100" height="50"

                data-chart="bar"
                data-title="Amount"
                data-labels="Sunday,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday"
                data-values="<?php echo "{$weekly->sun},{$weekly->mon},{$weekly->tue},{$weekly->wed},{$weekly->thu},{$weekly->fri},{$weekly->sat}"; ?>"
                </canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
</div>
