<main>
    <div class="error-wrapper">
      <div id="code">
        4<i class="material-icons">block</i>3
      </div>

      <h1>Forbidden</h1>
			<p>The server encountered an unexpected condition which prevented it from fulfilling the request.</p>
    </div>
</main>
