<main>
    <div class="error-wrapper">
      <div id="code">
        4<i class="material-icons">block</i>4
      </div>

      <h1>Not Found</h1>
      <p>The requested page could not be found but may be available again in the future.</p>
    </div>
</main>
