<main>
    <div class="error-wrapper">
      <div id="code">
        5<i class="material-icons">block</i><i class="material-icons">block</i>
      </div>

      <h1>Internal Server Error</h1>
			<p>The server encountered an unexpected condition which prevented it from fulfilling the request.</p>
    </div>
</main>
