<div class="main-content no-gutter">
  <section id="profile">
    <div class="row">
      <div class="col s12">
        <nav>
          <div class="nav-wrapper">
            <ul class="right">
              <li><a href="<?php echo $staticUrl;?>/project/<?php echo $project->unique;?>/overview">Overview</a></li>

              <?php if($crud->projectfiles_page): ?>
              <li><a href="<?php echo $staticUrl;?>/project/<?php echo $project->unique;?>/files">Files</a></li>
              <?php endif; ?>

              <?php if($crud->projectrequests_page): ?>
              <li><a href="<?php echo $staticUrl;?>/project/<?php echo $project->unique;?>/requests">Requests</a></li>
              <?php endif; ?>

              <li class="active"><a href="<?php echo $staticUrl;?>/project/<?php echo $project->unique;?>/estimates">Estimates</a></li>
              <li><a href="<?php echo $staticUrl;?>/project/<?php echo $project->unique;?>/invoices">Invoices</a></li>
              <li><a href="<?php echo $staticUrl;?>/project/<?php echo $project->unique;?>/payments">Payments</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>


    <?php if($estimate->status == 2): ?>
    <div class="row">
      <div class="col s12">
        <div class="btn-group pull-right">
          <form action="<?php echo $staticUrl;?>/project/<?php echo $project->unique; ?>/estimates/accept/<?php echo $estimate->unique; ?>/submit" method="post" role="AjaxForm" class="inline-block">
            <?php echo $form->render("security"); ?>
            <button type="submit" class="btn teal lighten-1 waves-effect waves-light">
              <i class="material-icons">check</i>
              Accept &amp; Invoice
            </button>
          </form>
          <button type="button" class="btn red darken-4 waves-effect waves-light" data-ajax="<?php echo $staticUrl; ?>/project/<?php echo $project->unique; ?>/estimates/decline/<?php echo $estimate->unique; ?>">
            <i class="material-icons">clear</i>
              Decline
          </button>
        </div>
      </div>
    </div>
    <?php endif;?>

    <div class="row">
      <div class="col s12 m6 ">
        <ul class="collection with-header z-depth-1">
        	<li class="collection-header">

            <h5>Estimate #<?php echo $estimate->unique; ?>
              <span class="right">
                <?php
                  switch($estimate->status)
                  {
                    case 2 : echo "<i class='material-icons tooltipped pointer small amber-text text-accent-4' data-tooltip='Pending Confirmation'>warning</i>"; break;
                    case 3 : echo "<i class='material-icons tooltipped pointer small green-text text-darken-2' data-tooltip='Confirmed and Invoiced'>done</i>"; break;
                    case 4 : echo "<i class='material-icons tooltipped pointer small blue-text  text-accent-4' data-tooltip='Being Revised'>settings_backup_restore</i>"; break;
                    case 5 : echo "<i class='material-icons tooltipped pointer small red-text   text-darken-2' data-tooltip='Declined'>clear</i>"; break;
                  }
                ?>
              </span>
            </h5>
          </li>
        	<li class="collection-item">
        	  <strong>Title:</strong>
            <span class="pull-right"><?php echo $estimate->title; ?></span>
        	</li>
        	<li class="collection-item">
        	  <strong>Issued:</strong>
            <span class="pull-right"><?php echo (new DateTime($estimate->issue))->format($date_format); ?></span>
        	</li>
        	<li class="collection-item">
        	  <strong>Due:</strong>
            <span class="pull-right"><?php echo (new DateTime($estimate->due))->format($date_format); ?></span>
        	</li>
        </ul>
      </div>
      <div class="col s12 m6 ">
        <ul class="collection with-header z-depth-1">
        	<li class="collection-header">
            <h5>Overview</h5>
          </li>
        	<li class="collection-item">
        	  <strong class='teal-text text-darken-2'>Total Value:</strong>
            <span class="pull-right">
              <a class="tooltipped pointer convert" data-convert="<?php echo $estimate->total ;?>" data-currency="<?php echo $currency->code ;?>" data-tooltip="">
                <!--  Preloader -->
                <div class="preloader-wrapper xs active">
                  <div class="spinner-layer spinner-teal-only">
                    <div class="circle-clipper left">
                      <div class="circle"></div>
                    </div><div class="gap-patch">
                      <div class="circle"></div>
                    </div><div class="circle-clipper right">
                      <div class="circle"></div>
                    </div>
                  </div>
                </div>
              </a>
            </span>
        	</li>
        	<li class="collection-item">
        	  <strong class='amber-text text-darken-4'>Recurrent Invoice:</strong>
            <span class="pull-right">
              <?php
                switch ($estimate->recurring) {
                  case 0: echo "No"; break;
                  case 1: echo "Yes"; break;
                }
                ?>
            </span>
        	</li>
        </ul>
      </div>
    </div>

    <?php if(count($reviews) > 0): ?>
    <div class="row">
      <div class="col s12">
        <ul class="collection with-header z-depth-1">
        	<li class="collection-header">
          <h5>Declined reviews:</h5>
          <?php foreach($reviews as $r): ?>
        	<li class="collection-item">
        	  <p><?php echo $r->text; ?></p>
            <small><?php echo (new DateTime($r->date))->format($date_format); ?></small>
        	</li>
          <?php endforeach;?>
        </ul>
      </div>
    </div>
    <?php endif; ?>

    <div class="row">
      <div class="col s12 m12 ">

          <div class="panel panel-bordered z-depth-1">
            <div class="row">
              <div class="col s12">

                <table class="responsive-table">
                  <thead>
                    <tr>
                      <th>id</th>
                      <th>Title</th>
                      <th>Description</th>
                      <th>Amount\Hours</th>
                      <th>Unit Price</th>
                      <th>Sub Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <?php foreach($items as $id => $item):?>
                      <tr data-searchable >
                        <td><?php echo ($id + 1); ?></td>
                        <td><?php echo $item->title; ?></td>
                        <td><?php echo substr($item->text,0,50); ?> ...</td>
                        <td><?php echo $item->amount; ?></td>
                        <td>
                          <a class="tooltipped pointer convert" data-convert="<?php echo $item->price ;?>" data-currency="<?php echo $currency->code ;?>" data-tooltip="">
                            <!--  Preloader -->
                            <div class="preloader-wrapper xs active">
                              <div class="spinner-layer spinner-teal-only">
                                <div class="circle-clipper left">
                                  <div class="circle"></div>
                                </div><div class="gap-patch">
                                  <div class="circle"></div>
                                </div><div class="circle-clipper right">
                                  <div class="circle"></div>
                                </div>
                              </div>
                            </div>
                          </a>
                        </td>
                        <td>
                          <a class="tooltipped pointer convert" data-convert="<?php echo ($item->price*$item->amount) ;?>" data-currency="<?php echo $currency->code ;?>" data-tooltip="">
                            <!--  Preloader -->
                            <div class="preloader-wrapper xs active">
                              <div class="spinner-layer spinner-teal-only">
                                <div class="circle-clipper left">
                                  <div class="circle"></div>
                                </div><div class="gap-patch">
                                  <div class="circle"></div>
                                </div><div class="circle-clipper right">
                                  <div class="circle"></div>
                                </div>
                              </div>
                            </div>
                          </a>
                        </td>
                      </tr>
                    <?php endforeach; ?>
                  </tbody>
                </table>

              </div>
            </div>
          </div>

      </div>
    </div>

  </section>
</div>

<div id="modal-results"></div>
