<div class="main-content no-gutter">
  <section id="projects">

    <div class="row">
      <div class="col s12">
        <div class="panel panel-bordered z-depth-1">
          <div class="row">
            <div class="row">
              <br>
              <div class="input-field col s12 m8">
                <i class="fa fa-search prefix"></i>
                <input id="icon_prefix" type="text" class="validate" data-search >
                <label for="icon_prefix" class="">Filter Results</label>
              </div>
              <div class="input-field col s12 m4">
                <select data-filter >
                  <option value="0" selected="selected">All</option>
                  <option value="1">Incomplete</option>
                  <option value="2">Complete</option>
                  <option value="3">Canceled</option>
                </select>
                <label>Status Filter</label>
              </div>
            </div>
            <div class="row">

            <div class="col s12">
              <table class="responsive-table">
                <thead>
                  <tr>
                    <th>Project</th>
                    <th>Project Type</th>
                    <th>Deadline</th>
                    <th>Status</th>
                    <th>Progress</th>
                    <th><i class="fa fa-cogs"></i></th>
                  </tr>
                </thead>
                <tbody>
                  <?php foreach($projects as $project): ?>
                    <tr data-searchable data-filterable="<?php echo $project->status;?>" >
                        <td><?php echo $project->title; ?></td>
                        <td><?php echo $project->type; ?></td>
                        <td><?php echo (new DateTime($project->deadline))->format($date_format); ?></td>
                        <td>
                        <?php
                        switch ($project->status)
                        {
                          case 1 : echo "Incomplete"; break;
                          case 2 : echo "Complete"; break;
                          case 3 : echo "Canceled"; break;
                        }
                        ?>
                        </td>
                        <td>
                          <div class="progress tooltipped pointer" data-position="top" data-delay="50" data-tooltip="<?php echo round($project->percentage)."% Completed Tasks"; ?>" ><div class="determinate" style="width: <?php echo $project->percentage; ?>%"></div></div>
                        </td>
                        <td>
                          <div class="btn-group">
                            <button type="button" class="btn indigo darken-1 waves-effect waves-light" data-href="<?php echo $staticUrl;?>/project/<?php echo $project->unique ;?>/overview">
                              <i class="material-icons">visibility</i>
                            </button>
                          </div>
                        </td>
                    </tr>
                  <?php endforeach; ?>
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
</div>

<div id="modal-results"></div>
