<div class="main-content no-gutter">
  <section id="profile">
    <div class="row">
      <div class="col s12">
        <nav>
          <div class="nav-wrapper">
            <ul class="right">
              <li><a href="<?php echo $staticUrl;?>/project/<?php echo $project->unique;?>/overview">Overview</a></li>

              <?php if($crud->projectfiles_page): ?>
              <li><a href="<?php echo $staticUrl;?>/project/<?php echo $project->unique;?>/files">Files</a></li>
              <?php endif; ?>

              <?php if($crud->projectrequests_page): ?>
              <li><a href="<?php echo $staticUrl;?>/project/<?php echo $project->unique;?>/requests">Requests</a></li>
              <?php endif; ?>

              <li><a href="<?php echo $staticUrl;?>/project/<?php echo $project->unique;?>/estimates">Estimates</a></li>
              <li class="active"><a href="<?php echo $staticUrl;?>/project/<?php echo $project->unique;?>/invoices">Invoices</a></li>
              <li><a href="<?php echo $staticUrl;?>/project/<?php echo $project->unique;?>/payments">Payments</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>


    <?php if(!in_array($invoice->status,[3,5])): ?>
    <div class="row">
      <div class="col s12">
        <div class="btn-group pull-right">
          <?php if($payments->paypal): ?>
          <form action="<?php echo $staticUrl;?>/project/<?php echo $project->unique; ?>/invoices/<?php echo $invoice->unique; ?>/pay/paypal" method="post" accept-charset="utf8" role="AjaxForm" class="inline-block">
            <?php echo $form->render("security"); ?>
            <button type="submit" class="btn blue waves-effect waves-light">
              <span class="fa fa-paypal"></span>
              Pay With PayPal
            </button>
          </form>
        <?php endif; if($payments->stripe): ?>
          <form action="<?php echo $staticUrl;?>/project/<?php echo $project->unique; ?>/invoices/<?php echo $invoice->unique; ?>/pay/stripe" method="post" accept-charset="utf8" role="AjaxForm" class="inline-block">
            <?php echo $form->render("security"); ?>
            <button type="button" class="btn pink accent-2 waves-effect waves-light stripe-toggle">
              <span class="fa fa-cc-stripe"></span>
              Pay With Stripe
            </button>
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="<?php echo $stripe; ?>"></script>
          </form>
          <?php endif; ?>
        </div>
      </div>
    </div>
    <?php endif;?>

    <div class="row">
      <div class="col s12 m6 ">
        <ul class="collection with-header z-depth-1">
        	<li class="collection-header">

            <h5>Invoice #<?php echo $invoice->unique; ?>
              <span class="right">
                <?php
                  switch($invoice->status)
                  {
                    case 1 : echo "<i class='material-icons tooltipped pointer small amber-text text-darken-2' data-tooltip='Pending'>warning</i>"; break;
                    case 2 : echo "<i class='material-icons tooltipped pointer small green-text text-darken-2' data-tooltip='Partially Paid'>done</i>"; break;
                    case 3 : echo "<i class='material-icons tooltipped pointer small green-text text-darken-2' data-tooltip='Paid'>done_all</i>"; break;
                    case 4 : echo "<i class='material-icons tooltipped pointer small red-text   text-darken-2' data-tooltip='Overdue'>report</i>"; break;
                    case 5 : echo "<i class='material-icons tooltipped pointer small red-text   text-darken-2' data-tooltip='Canceled'>clear</i>"; break;
                  }
                ?>
              </span>
            </h5>
          </li>
        	<li class="collection-item">
        	  <strong>Title:</strong>
            <span class="pull-right"><?php echo $invoice->title; ?></span>
        	</li>
        	<li class="collection-item">
        	  <strong>Issued:</strong>
            <span class="pull-right"><?php echo (new DateTime($invoice->issue))->format($date_format); ?></span>
        	</li>
        	<li class="collection-item">
        	  <strong>Due:</strong>
            <span class="pull-right"><?php echo (new DateTime($invoice->due))->format($date_format); ?></span>
        	</li>
        	<li class="collection-item">
        	  <strong class='amber-text text-darken-4'>Recurrent Invoice:</strong>
            <span class="pull-right">
              <?php
                switch ($invoice->recurring) {
                  case 0: echo "No"; break;
                  case 1: echo "Yes"; break;
                }
                ?>
            </span>
        	</li>
        </ul>
      </div>
      <div class="col s12 m6 ">
        <ul class="collection with-header z-depth-1">
        	<li class="collection-header">
            <h5>Overview</h5>
          </li>
          <li class="collection-item">
        	  <strong class='blue-text text-darken-2'>Invoice Value:</strong>
            <span class="pull-right">
              <a class="tooltipped pointer convert" data-convert="<?php echo $invoice->total ;?>" data-currency="<?php echo $currency->code ;?>" data-tooltip="">
                <!--  Preloader -->
                <div class="preloader-wrapper xs active">
                  <div class="spinner-layer spinner-teal-only">
                    <div class="circle-clipper left">
                      <div class="circle"></div>
                    </div><div class="gap-patch">
                      <div class="circle"></div>
                    </div><div class="circle-clipper right">
                      <div class="circle"></div>
                    </div>
                  </div>
                </div>
              </a>
            </span>
        	</li>
          <li class="collection-item">
        	  <strong class='teal-text text-darken-2'>Tax Value:</strong>
            <span class="pull-right">
              <a class="tooltipped pointer convert" data-convert="<?php echo $tax ;?>" data-currency="<?php echo $currency->code ;?>" data-tooltip="">
                <!--  Preloader -->
                <div class="preloader-wrapper xs active">
                  <div class="spinner-layer spinner-teal-only">
                    <div class="circle-clipper left">
                      <div class="circle"></div>
                    </div><div class="gap-patch">
                      <div class="circle"></div>
                    </div><div class="circle-clipper right">
                      <div class="circle"></div>
                    </div>
                  </div>
                </div>
              </a>
            </span>
        	</li>
        	<li class="collection-item">
        	  <strong class='teal-text text-darken-2'>Amount Paid:</strong>
            <span class="pull-right">
              <a class="tooltipped pointer convert" data-convert="<?php echo $invoice->paid ;?>" data-currency="<?php echo $currency->code ;?>" data-tooltip="">
                <!--  Preloader -->
                <div class="preloader-wrapper xs active">
                  <div class="spinner-layer spinner-teal-only">
                    <div class="circle-clipper left">
                      <div class="circle"></div>
                    </div><div class="gap-patch">
                      <div class="circle"></div>
                    </div><div class="circle-clipper right">
                      <div class="circle"></div>
                    </div>
                  </div>
                </div>
              </a>
            </span>
        	</li>
        	<li class="collection-item">
        	  <strong class='red-text text-darken-2'>Balance Due:</strong>
            <span class="pull-right">
              <a class="tooltipped pointer convert" data-convert="<?php echo (($invoice->total+$tax)-$invoice->paid) ;?>" data-currency="<?php echo $currency->code ;?>" data-tooltip="">
                <!--  Preloader -->
                <div class="preloader-wrapper xs active">
                  <div class="spinner-layer spinner-teal-only">
                    <div class="circle-clipper left">
                      <div class="circle"></div>
                    </div><div class="gap-patch">
                      <div class="circle"></div>
                    </div><div class="circle-clipper right">
                      <div class="circle"></div>
                    </div>
                  </div>
                </div>
              </a>
        	</li>
        </ul>
      </div>
      <div class="col s12 m12 ">

          <div class="panel panel-bordered z-depth-1">
            <div class="row">
              <div class="col s12">

                <table class="responsive-table">
                  <thead>
                    <tr>
                      <th>id</th>
                      <th>Title</th>
                      <th>Description</th>
                      <th>Amount\Hours</th>
                      <th>Unit Price</th>
                      <th>Sub Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <?php foreach($items as $id => $item):?>
                      <tr data-searchable >
                        <td><?php echo ($id + 1); ?></td>
                        <td><?php echo $item->title; ?></td>
                        <td><?php echo substr($item->text,0,50); ?> ...</td>
                        <td><?php echo $item->amount; ?></td>
                        <td>
                          <a class="tooltipped pointer convert" data-convert="<?php echo $item->price ;?>" data-currency="<?php echo $currency->code ;?>" data-tooltip="">
                            <!--  Preloader -->
                            <div class="preloader-wrapper xs active">
                              <div class="spinner-layer spinner-teal-only">
                                <div class="circle-clipper left">
                                  <div class="circle"></div>
                                </div><div class="gap-patch">
                                  <div class="circle"></div>
                                </div><div class="circle-clipper right">
                                  <div class="circle"></div>
                                </div>
                              </div>
                            </div>
                          </a>
                        </td>
                        <td>
                          <a class="tooltipped pointer convert" data-convert="<?php echo ($item->price*$item->amount) ;?>" data-currency="<?php echo $currency->code ;?>" data-tooltip="">
                            <!--  Preloader -->
                            <div class="preloader-wrapper xs active">
                              <div class="spinner-layer spinner-teal-only">
                                <div class="circle-clipper left">
                                  <div class="circle"></div>
                                </div><div class="gap-patch">
                                  <div class="circle"></div>
                                </div><div class="circle-clipper right">
                                  <div class="circle"></div>
                                </div>
                              </div>
                            </div>
                          </a>
                        </td>
                      </tr>
                    <?php endforeach; ?>
                  </tbody>
                </table>

              </div>
            </div>
          </div>

      </div>
    </div>

  </section>
</div>

<div id="modal-results"></div>
