<div class="main-content no-gutter">
  <section id="profile">
    <div class="row">
      <div class="col s12">
        <nav>
          <div class="nav-wrapper">
            <ul class="right">
              <li><a href="<?php echo $staticUrl;?>/project/<?php echo $project->unique;?>/overview">Overview</a></li>

              <?php if($crud->projectfiles_page): ?>
              <li><a href="<?php echo $staticUrl;?>/project/<?php echo $project->unique;?>/files">Files</a></li>
              <?php endif; ?>

              <?php if($crud->projectrequests_page): ?>
              <li><a href="<?php echo $staticUrl;?>/project/<?php echo $project->unique;?>/requests">Requests</a></li>
              <?php endif; ?>

              <li><a href="<?php echo $staticUrl;?>/project/<?php echo $project->unique;?>/estimates">Estimates</a></li>
              <li><a href="<?php echo $staticUrl;?>/project/<?php echo $project->unique;?>/invoices">Invoices</a></li>
              <li class="active"><a href="<?php echo $staticUrl;?>/project/<?php echo $project->unique;?>/payments">Payments</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <div class="panel panel-bordered z-depth-1">
          <div class="row">
            <br>
            <div class="input-field col s12 m8">
              <i class="fa fa-search prefix"></i>
              <input id="icon_prefix" type="text" class="validate" data-search >
              <label for="icon_prefix" class="">Filter Results</label>
            </div>
            <div class="input-field col s12 m4">
              <select data-filter >
                <option value="0" selected="selected">All</option>
                <option value="1">Cash</option>
                <option value="2">PayPal</option>
                <option value="3">Stripe</option>
              </select>
              <label>Method Filter</label>
            </div>
          </div>

          <div class="row">

            <div class="col s12">
              <table class="responsive-table">
                <thead>
                  <tr>
                    <th>Invoice</th>
                    <th>Amount</th>
                    <th>Method</th>
                    <th>Date</th>
                  </tr>
                </thead>
                <tbody>
                  <?php foreach($payments as $payment): ?>
                    <tr data-searchable  data-filterable="<?php echo $payment->method;?>" >
                      <td>
                        <a href="<?php echo $staticUrl;?>/project/<?php echo $project->unique;?> /invoices/overview/<?php echo $payment->invoice; ?>">
                          #<?php echo $payment->invoice; ?>
                          &mdash;
                          <span><?php echo $payment->title; ?></span>
                        </a>
                      </td>
                      <td>
                        <a class="tooltipped pointer convert" data-convert="<?php echo $payment->amount ;?>" data-currency="<?php echo $currency->code ;?>" data-tooltip="">
                          <!--  Preloader -->
                          <div class="preloader-wrapper xs active">
                            <div class="spinner-layer spinner-teal-only">
                              <div class="circle-clipper left">
                                <div class="circle"></div>
                              </div><div class="gap-patch">
                                <div class="circle"></div>
                              </div><div class="circle-clipper right">
                                <div class="circle"></div>
                              </div>
                            </div>
                          </div>
                        </a>
                      </td>
                      <td>
                      <?php
                        switch($payment->method)
                        {
                          case 1 : echo "<i class='fa fa-money     pointer tooltipped small green-text text-darken-2' data-tooltip='Cash'></i>"; break;
                          case 2 : echo "<i class='fa fa-paypal    pointer tooltipped small blue-text text-accent-4' data-tooltip='PayPal'></i>"; break;
                          case 3 : echo "<i class='fa fa-cc-stripe pointer tooltipped small purple-text text-accent-2' data-tooltip='Stripe'></i>"; break;
                        }
                      ?>
                      </td>
                      <td><?php echo (new DateTime($payment->date))->format($date_format); ?></td>
                    </tr>
                  <?php endforeach; ?>
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
</div>

<div id="modal-results"></div>
