<div class="main-content no-gutter">
  <section id="clients">

    <div class="row">
      <div class="col s12">
        <div class="panel panel-bordered z-depth-1">
          <div class="row">
            <br>
            <div class="input-field col s12 m8">
              <i class="fa fa-search prefix"></i>
              <input id="icon_prefix" type="text" class="validate" data-search >
              <label for="icon_prefix" class="">Filter Results</label>
            </div>
            <div class="input-field col s12 m4">
              <select data-filter >
                <option value="0" selected="selected">All</option>
                <option value="1">Individual</option>
                <option value="2">Company</option>
              </select>
              <label>Status Filter</label>
            </div>
          </div>
          <div class="row">

            <div class="col s12">
              <?php if($crud->clients_create): ?>
              <button type="button" class="btn teal lighten-1 waves-effect waves-light right" data-ajax="<?php echo $staticUrl; ?>/client/create">
                <span class="fa fa-plus"></span>
                New Client
              </button>
              <?php endif; ?>

              <table class="responsive-table">
                <thead>
                  <tr>
                    <th>Client</th>
                    <th>Domain</th>
                    <th>E-Mail</th>
                    <th>Phone</th>
                    <th>Currency</th>
                    <th><i class="fa fa-cogs"></i></th>
                  </tr>
                </thead>
                <tbody>
                  <?php foreach ($clients as $client): ?>
                    <tr data-searchable data-filterable="<?php echo ($client->company ? 2 : 1); ?>">
                        <td>
                          <div class="chip">
                            <img src="<?php echo $staticUrl;?>/assets/manager/images/avatar/<?php echo $client->image ?: 'placeholder/'.substr($client->name,0,1).'.jpg'; ?>" alt="<?php echo $client->name; ?>">
                            <?php echo $client->name; ?>

                            <?php if($client->company): ?>
                            <div class="chip">
                              <?php echo $client->company; ?>
                            </div>
                            <?php endif; ?>
                          </div>
                        </td>
                        <td><?php echo $client->domain; ?></td>
                        <td><?php echo $client->email; ?></td>
                        <td><?php echo $client->phone; ?></td>
                        <td><?php echo $client->currency; ?></td>
                        <td>
                          <div class="btn-group">
                            <button type="button" class="btn indigo darken-1 waves-effect waves-light" data-ajax="<?php echo $staticUrl; ?>/client/view/<?php echo $client->_ ;?>">
                              <i class="material-icons">visibility</i>
                            </button>
                            <?php if($crud->clients_update): ?>
                            <button type="button" class="btn blue darken-3 waves-effect waves-light" data-ajax="<?php echo $staticUrl; ?>/client/modify/<?php echo $client->_ ;?>">
                              <i class="material-icons">settings</i>
                            </button>
                            <?php endif; ?>
                            <?php if($crud->clients_delete): ?>
                            <button type="button" class="btn red darken-4 waves-effect waves-light" data-ajax="<?php echo $staticUrl; ?>/client/remove/<?php echo $client->_ ;?>">
                              <i class="material-icons">close</i>
                            </button>
                            <?php endif; ?>
                          </div>
                        </td>
                    </tr>
                  <?php endforeach; ?>
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
</div>

<div id="modal-results"></div>
