@media (max-width: 600px) {
    .row {
        margin-bottom: 0px
    }
}

@media (max-width: 600px) {
    .col {
        margin-bottom: 20px
    }
}

.panel.panel-stats {
    border: 0px !important
}

.panel.panel-stats .panel-header {
    padding: 5px 10px 0px !important
}

.panel.panel-stats .panel-header .title {
    font-size: 1.6rem;
    font-weight: 300
}

.panel.panel-stats .panel-header .title i{
    font-size: 2rem;
    font-weight: 300;
    color: rgba(255,255,255, 0.60);
}

.panel.panel-stats .panel-header .subtitle {
    font-size: 0.8rem;
    opacity: 0.85
}

.panel.panel-stats .panel-header .subtitle i {
    font-size: 0.7rem
}

.panel.panel-stats .panel-body {
    padding: 0px 10px 10px !important
}

.panel.panel-stats .panel-body .chart-wrapper {
    width: 100%;
    height: 125px
}

.panel.panel-stats .panel-footer {
    padding: 15px 10px !important;
    background: #FFF !important
}

.panel.panel-stats .panel-footer .col .value {
    line-height: 26px;
    font-size: 1.45rem;
    font-weight: 300;
    color: #424242
}

.panel.panel-stats .panel-footer .col .description {
    color: #898989;
    font-size: 0.9rem;
    font-weight: 500
}

.panel.panel-stats .panel-footer .col.bordered {
    border-right: 1px #F0F0F0 solid
}

.panel form .panel-footer {
    padding: 10px 25px 15px
}

.panel form .panel-footer .row {
    margin-bottom: 0px
}

.panel form .panel-footer .row input {
    margin-bottom: 0px
}

.panel.panel-bar-chart .panel-body {
    padding: 19px 15px !important
}

.panel.panel-bar-chart .panel-body .chart-wrapper {
    width: 100%;
    height: 300px
}

.panel.panel-gauge-chart .panel-body .row {
    margin-bottom: 0px
}

.panel.panel-gauge-chart .panel-body .chart-wrapper {
    width: 100%;
    height: 220px
}

.panel.panel-table .panel-header {
    position: relative
}

.panel.panel-table .panel-header .actions {
    position: absolute;
    top: 20px;
    right: 20px
}

.panel.panel-table .panel-header .actions i {
    color: #898989
}

.panel.panel-table .panel-body {
    padding: 0px !important
}

.panel.panel-table .panel-body table thead {
    border-bottom: 0px !important
}

.panel.panel-table .panel-body table thead th {
    font-size: 12px
}

.panel.panel-table .panel-body table tbody td {
    border-top: 1px solid #F0F0F0;
    font-size: 14px
}

.panel.panel-table .panel-body table thead th,
.panel.panel-table .panel-body table tbody td {
    padding: 8px 8px 8px 20px
}

.panel.panel-table .panel-body table thead th [type="checkbox"]+label,
.panel.panel-table .panel-body table tbody td [type="checkbox"]+label {
    top: -16px;
    height: auto
}

.panel.panel-chat .panel-body {
    padding: 0px
}

.panel.panel-chat .panel-body .messages-wrapper {
    padding: 20px 20px 0px
}

.panel.panel-chat .panel-body .messages-wrapper .message .text {
    position: relative;
    padding: 10px 15px;
    background-color: #FAFAFA
}

.panel.panel-chat .panel-body .messages-wrapper .message .text .name {
    font-weight: 600
}

.panel.panel-chat .panel-body .messages-wrapper .message .text:before {
    display: block;
    position: absolute;
    top: 15px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    width: 0;
    height: 0;
    content: ""
}

.panel.panel-chat .panel-body .messages-wrapper .message img {
    max-width: 50px;
    max-height: 50px
}

.panel.panel-chat .panel-body .messages-wrapper .message.sent {
    text-align: left
}

.panel.panel-chat .panel-body .messages-wrapper .message.sent .text {
    margin-left: 70px
}

.panel.panel-chat .panel-body .messages-wrapper .message.sent .text:before {
    left: -15px;
    border-right: 15px solid #FAFAFA
}

.panel.panel-chat .panel-body .messages-wrapper .message.sent img {
    float: left
}

.panel.panel-chat .panel-body .messages-wrapper .message.received {
    text-align: right
}

.panel.panel-chat .panel-body .messages-wrapper .message.received .text {
    margin-right: 70px
}

.panel.panel-chat .panel-body .messages-wrapper .message.received .text:before {
    right: -15px;
    border-left: 15px solid #FAFAFA
}

.panel.panel-chat .panel-body .messages-wrapper .message.received img {
    float: right
}

@media (max-width: 992px) {
    .panel.panel-chat {
        margin-bottom: 20px
    }
}

.panel-todo .panel-body {
    padding: 0px
}

.panel-todo .panel-body label {
    color: #737373
}

.panel-todo .panel-body .tasks-wrapper {
    padding: 5px 20px
}

.panel-todo .panel-body .tasks-wrapper p {
    margin: 10px 0px
}

.panel-todo .panel-body .tasks-wrapper p [type="checkbox"]:checked+label {
    text-decoration: line-through
}

@media (max-width: 992px) {
    .card-dashboard {
        margin-top: 15px;
        margin-bottom: 0px
    }
}

@media (min-width: 993px) {
    .card-dashboard {
        margin-top: 0px;
        margin-bottom: 0px
    }
}

.card-dashboard.facebook,
.card-dashboard.twitter {
    padding: 15px 20px;
    height: 165px;
    color: #FFF;
    cursor: initial
}

.card-dashboard.facebook .post,
.card-dashboard.twitter .post {
    font-size: 1.1rem;
    font-weight: 300;
    display: -webkit-box;
    height: 70px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis
}

.card-dashboard.facebook .date,
.card-dashboard.twitter .date {
    margin-top: 5px;
    font-size: 0.85rem;
    color: #BBDEFB
}

.card-dashboard.facebook .row,
.card-dashboard.twitter .row {
    margin-top: 15px;
    margin-bottom: 0px
}

.card-dashboard.facebook .row .brand,
.card-dashboard.twitter .row .brand {
    font-size: 1.1rem
}

.card-dashboard.facebook .row .trending,
.card-dashboard.twitter .row .trending {
    font-size: 0.85rem;
    text-align: right
}

.card-dashboard.facebook .row .trending i,
.card-dashboard.twitter .row .trending i {
    margin-left: 10px;
    margin-right: 2px
}

.card-dashboard.facebook.facebook,
.card-dashboard.twitter.facebook {
    background: #47639E
}

.card-dashboard.facebook.twitter,
.card-dashboard.twitter.twitter {
    background: #02A8F3
}

@media (min-width: 993px) {
    .card-dashboard.card {
        height: 345px
    }
}
