.panel {
    margin-bottom: 25px
}

.panel .btn-flat:hover {
    color: #545454
}

.panel.panel-about .panel-body {
    text-align: center
}

.panel.panel-about .panel-body img {
    max-width: 90px;
    max-height: 90px;
    margin-bottom: 10px
}

.panel.panel-about .panel-body .name {
    font-size: 1.25rem;
    color: rgba(0, 0, 0, 0.87);
    display: block;
    position: relative;
}


.panel.panel-about .panel-body .role {
  min-width: 3rem;
  padding: 0 3px;
  text-align: center;
  font-size: 1rem;
  line-height: inherit;
  color: #FAFAFA;
  box-sizing: border-box;
  background: #26A69A;
  border-radius: 2px;
  display: inline-block;
}

.panel.panel-about .panel-body .location {
    margin-top: 2px;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.87)
}

.profile-item {
    width: 100%;
    margin: 3px 0;
    padding: 3px;
    display: block;
}
 .profile-item + .profile-item {

  border-top: solid 1px #CFCFCF;
}
.panel.panel-gallery .row {
    margin-bottom: 0px
}

.panel.panel-gallery .panel-body {
    padding: 25px
}

.panel form .panel-body {
    padding: 0px
}

.panel form .panel-body textarea {
    padding: 1.6rem;
    box-sizing: inherit;
    margin: 0px -1px -7px;
    min-height: 4rem;
    height: 4.55rem !important
}

.panel form .panel-body textarea:not(:focus) {
    border-bottom: 1px solid transparent
}

.panel form .panel-body input {
    margin: 0px -1px -1px;
    padding: 0px 1.05rem;
    box-sizing: border-box
}

.panel form .panel-body input:not(:focus) {
    border-bottom: 1px solid transparent
}

.panel.post .panel-body {
    padding: 0px
}

.panel.post .panel-body .who {
    padding: 20px 25px 10px;
    min-height: 80px
}

.panel.post .panel-body .who img {
    max-width: 50px;
    max-height: 50px;
    margin-right: 15px;
    float: left
}

.panel.post .panel-body .who .name {
    padding-top: 4px;
    font-size: 1.05rem;
    color: rgba(0, 0, 0, 0.87)
}

.panel.post .panel-body .who .time {
    margin-top: -1px;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.47)
}

.panel.post .panel-body .text {
    padding: 10px 25px 20px
}

.panel.post .panel-body .gallery {
    padding: 0px 25px
}

.panel.post .panel-body .likes {
    border-top: 1px solid #F0F0F0;
    border-bottom: 1px solid #F0F0F0;
    background-color: #FCFCFC;
    padding: 10px
}

.panel.post .panel-body .likes .btn-flat {
    margin-right: 5px
}

.panel.post .panel-body .likes .btn-flat i {
    font-size: 1.15rem;
    margin-right: 5px
}

.panel.post .panel-body .likes .others {
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.63)
}

.panel.post .panel-body .comment textarea {
    padding: 1rem 1.2rem;
    min-height: 1rem;
    height: 3.5rem !important
}
