<div class="main-content no-gutter">
  <section id="team">

    <div class="row">
      <div class="col s12">
        <div class="panel panel-bordered z-depth-1">
          <div class="row">
            <br>
            <div class="input-field col s12">
    					<i class="fa fa-search prefix"></i>
    					<input id="icon_prefix" type="text" class="validate" data-search >
    					<label for="icon_prefix" class="">Filter Results</label>
    				</div>

            <div class="col s12">
              <?php if($crud->members_create): ?>
              <button type="button" class="btn teal lighten-1 waves-effect waves-light right" data-ajax="<?php echo $staticUrl; ?>/team/create">
                <span class="fa fa-plus"></span>
                New Member
              </button>
              <?php endif; ?>

              <table class="responsive-table">
                <thead>
                  <tr>
                    <th>Member</th>
                    <th>E-Mail</th>
                    <th>Phone</th>
                    <th><i class="fa fa-cogs"></i></th>
                  </tr>
                </thead>
                <tbody>
                  <?php foreach ($members as $member): ?>
                    <tr data-searchable >
                        <td>
                          <div class="chip">
                            <img src="<?php echo $staticUrl;?>/assets/manager/images/avatar/<?php echo $member->image ?: 'placeholder/'.substr($member->name,0,1).'.jpg'; ?>" alt="<?php echo $member->name; ?>">
                            <?php echo $member->name; ?>
                          </div>
                        </td>
                        <td><?php echo $member->email; ?></td>
                        <td><?php echo $member->phone; ?></td>
                        <td>
                          <div class="btn-group">
                            <button type="button" class="btn indigo darken-1 waves-effect waves-light" data-ajax="<?php echo $staticUrl; ?>/team/view/<?php echo $member->_ ;?>">
                              <i class="material-icons">visibility</i>
                            </button>
                            <?php if($crud->members_update): ?>
                            <button type="button" class="btn blue darken-3 waves-effect waves-light" data-ajax="<?php echo $staticUrl; ?>/team/modify/<?php echo $member->_ ;?>">
                              <i class="material-icons">settings</i>
                            </button>
                            <?php endif; ?>
                            <?php if($crud->members_delete): ?>
                            <button type="button" class="btn red darken-4 waves-effect waves-light" data-ajax="<?php echo $staticUrl; ?>/team/remove/<?php echo $member->_ ;?>">
                              <i class="material-icons">close</i>
                            </button>
                            <?php endif; ?>
                          </div>
                        </td>
                    </tr>
                  <?php endforeach; ?>
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
</div>

<div id="modal-results"></div>
