<div class="main-content no-gutter">
  <section id="profile">
    <div class="row">
      <div class="col s12">

        <div class="panel panel-bordered panel-about panel-bar-chart z-depth-1">
          <div class="panel-body">
            <img src="<?php echo $staticUrl;?>/assets/manager/images/avatar/<?php echo $client->image ?: 'placeholder/'.substr($client->name,0,1).'.jpg'; ?>" class="circle z-depth-1">

            <div class="name"><?php echo $client->name; ?></div>
            <div class="location"><?php echo $client->email; ?></div>
          </div>
          <div class="panel-footer">
            <div class="row">

              <form action="<?php echo $staticUrl;?>/account/update" method="post" accept-charset="utf8" role="AjaxForm">
                <?php echo $form->render("security"); ?>
                <div class="input-field col s12 m4 offset-m4">
                  <input type="text" name="name" value="<?php echo $client->name; ?>" class="validate">
                  <label class="active">*Full Name</label>
                </div>
                <div class="input-field col s12 m4 offset-m4">
                  <input type="email" name="email" value="<?php echo $client->email; ?>" class="validate">
                  <label class="active">*E-Mail Address</label>
                </div>
                <div class="input-field col s12 m4 offset-m4">
                  <input type="text" name="username" value="<?php echo $client->username; ?>" class="validate">
                  <label class="active">Username</label>
                </div>
                <div class="input-field col s12 m4 offset-m4">
                  <input type="password" name="password">
                  <label class="active">Password</label>
                </div>
                <div class="input-field col s12 m4 offset-m4">
                  <input type="text" name="phone" value="<?php echo $client->phone; ?>">
                  <label class="active">Phone</label>
                </div>

                <div class="input-field col s12 m4 offset-m4">
                  <input type="text" name="vat" value="<?php echo $client->vat; ?>">
                  <label class="active">VAT Number</label>
                </div>
                <div class="input-field col s12 m4 offset-m4">
                  <input type="text" name="company" value="<?php echo $client->company; ?>">
                  <label class="active">Company Name</label>
                </div>
                <div class="input-field col s12 m4 offset-m4">
                  <input type="text" name="role" value="<?php echo $client->role; ?>">
                  <label class="active">Role</label>
                </div>
                <div class="input-field col s12 m4 offset-m4">
                  <input type="text" name="address" value="<?php echo $client->address; ?>">
                  <label class="active">Address</label>
                </div>
                <div class="input-field col s12 m2 l1 offset-m4 offset-l4">
                  <input type="text" name="zip" value="<?php echo $client->zip; ?>">
                  <label class="active">Zip Code</label>
                </div>
                <div class="input-field col s12 m2 l1">
                  <input type="text" name="country" value="<?php echo $client->country; ?>">
                  <label class="active">Country</label>
                </div>
                <div class="input-field col s12 m2 l1">
                  <input type="text" name="city" value="<?php echo $client->city; ?>">
                  <label class="active">City</label>
                </div>
                <div class="input-field col s12 m2 l1">
                  <input type="text" name="state" value="<?php echo $client->state; ?>">
                  <label class="active">State</label>
                </div>
                <div class="input-field col s12 m4 offset-m4">
                  <?php echo $form->render("currency"); ?>
                  <label>Currency Type</label>
                </div>


                <div class="file-field input-field col s12 m4 offset-m4">
                	<div class="btn">
                		<span>Image</span>
                		<input type="file" name="image">
                	</div>
                	<div class="file-path-wrapper">
                		<input class="file-path validate" type="text">
                	</div>
                </div>

                <div class="col s12 m4 offset-m4">
                  <button type="submit" class="btn large teal lighten-1 waves-effect waves-light right" >
                    <i class="material-icons">done</i>
                    Save Changes
                  </button>
                </div>
              </form>

            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
</div>
