<div class="main-content no-gutter">
  <section id="profile">
    <div class="row">
      <div class="col s12">

        <div class="panel panel-bordered panel-about panel-bar-chart z-depth-1">
          <div class="panel-body">
            <img src="<?php echo $staticUrl;?>/assets/manager/images/avatar/<?php echo $member->image ?: 'placeholder/'.substr($member->name,0,1).'.jpg'; ?>" class="circle z-depth-1">

            <div class="name"><?php echo $member->name; ?></div>
            <div class="location"><?php echo $member->email; ?></div>
          </div>
          <div class="panel-footer">
            <div class="row">

              <form action="<?php echo $staticUrl;?>/account/update" method="post" accept-charset="utf8" role="AjaxForm">
                <?php echo $form->render("security"); ?>
                <div class="input-field col s12 m4 offset-m4">
                  <input type="text" name="name" value="<?php echo $member->name; ?>" class="validate">
                  <label class="active">Full Name</label>
                </div>
                <div class="input-field col s12 m4 offset-m4">
                  <input type="email" name="email" value="<?php echo $member->email; ?>" class="validate">
                  <label class="active">E-Mail Address</label>
                </div>
                <div class="input-field col s12 m4 offset-m4">
                  <input type="text" name="username" value="<?php echo $member->username; ?>" class="validate">
                  <label class="active">Username</label>
                </div>
                <div class="input-field col s12 m4 offset-m4">
                  <input type="password" name="password">
                  <label class="active">Password</label>
                </div>
                <div class="input-field col s12 m4 offset-m4">
                  <input type="text" name="phone" value="<?php echo $member->phone; ?>">
                  <label class="active">Phone</label>
                </div>
                <div class="file-field input-field col s12 m4 offset-m4">
                	<div class="btn">
                		<span>Image</span>
                		<input type="file" name="image">
                	</div>
                	<div class="file-path-wrapper">
                		<input class="file-path validate" type="text">
                	</div>
                </div>
                <div class="col s12 m4 offset-m4">
                  <button type="submit" class="btn large teal lighten-1 waves-effect waves-light right" >
                    <i class="material-icons">done</i>
                    Save Changes
                  </button>
                </div>
              </form>

            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
</div>
