<div class="main-content no-gutter">
  <section id="projects">
    
    <div class="row">
      <div class="col s12">
          <nav>
          	<div class="nav-wrapper">
        		<ul class="right">
        			<li><a href="<?php echo $staticUrl;?>/projects">All Projects</a></li>
        			<li class="active"><a href="<?php echo $staticUrl;?>/project/categories">Categories</a></li>
            </ul>
        	</div>
        </nav>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <div class="panel panel-bordered z-depth-1">
          <div class="row">
            <br>
            <div class="input-field col s12">
    					<i class="fa fa-search prefix"></i>
    					<input id="icon_prefix" type="text" class="validate" data-search >
    					<label for="icon_prefix" class="">Filter Results</label>
    				</div>

            <div class="col s12">
              <button type="button" class="btn teal lighten-1 waves-effect waves-light right" data-ajax="<?php echo $staticUrl; ?>/project/categories/create">
                <span class="fa fa-plus"></span>
                New Category
              </button>

              <table class="responsive-table">
                <thead>
                  <tr>
                    <th>Category</th>
                    <th>Project Assined</th>
                    <th class="right"><i class="fa fa-cogs"></i></th>
                  </tr>
                </thead>
                <tbody>
                <?php foreach($categories as $category): ?>
                  <tr data-searchable >
                    <td><?php echo $category->title; ?></td>
                    <td>
                      <div class="chip"><?php echo $category->assigned; ?> Projects</div>
                    </td>
                    <td class="right">
                      <div class="btn-group">
                        <button type="button" class="btn blue darken-3 waves-effect waves-light" data-ajax="<?php echo $staticUrl; ?>/project/categories/modify/<?php echo $category->_ ;?>">
                          <i class="material-icons">settings</i>
                        </button>
                        <button type="button" class="btn red darken-4 waves-effect waves-light" data-ajax="<?php echo $staticUrl; ?>/project/categories/remove/<?php echo $category->_ ;?>">
                          <i class="material-icons">close</i>
                        </button>
                      </div>
                    </td>
                  </tr>
                <?php endforeach; ?>
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
</div>

<div id="modal-results"></div>
