<div class="main-content no-gutter">
  <section id="projects">

    <div class="row">
      <div class="col s12">
          <nav>
          	<div class="nav-wrapper">
        		<ul class="right">
        			<li class="active"><a href="<?php echo $staticUrl;?>/projects">All Projects</a></li>
        			<li><a href="<?php echo $staticUrl;?>/project/categories">Categories</a></li>
            </ul>
        	</div>
        </nav>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <div class="panel panel-bordered z-depth-1">
          <div class="row">
            <br>
            <div class="input-field col s12 m8">
              <i class="fa fa-search prefix"></i>
              <input id="icon_prefix" type="text" class="validate" data-search >
              <label for="icon_prefix" class="">Filter Results</label>
            </div>
            <div class="input-field col s12 m4">
              <select data-filter >
                <option value="0" selected="selected">All</option>
                <option value="1">Incomplete</option>
                <option value="2">Complete</option>
                <option value="3">Canceled</option>
              </select>
              <label>Status Filter</label>
            </div>
          </div>
          <div class="row">

            <div class="col s12">
              <button type="button" class="btn teal lighten-1 waves-effect waves-light right" data-ajax="<?php echo $staticUrl; ?>/project/create">
                <span class="fa fa-plus"></span>
                New Project
              </button>

              <table class="responsive-table">
                <thead>
                  <tr>
                    <th>Project</th>
                    <th>Project Type</th>
                    <th>Client</th>
                    <th>Deadline</th>
                    <th>Status</th>
                    <th>Progress</th>
                    <th class="right"><i class="fa fa-cogs"></i></th>
                  </tr>
                </thead>
                <tbody>
                  <?php foreach($projects as $project): ?>
                    <tr data-searchable  data-filterable="<?php echo $project->status; ?>" >
                        <td><?php echo $project->title; ?></td>
                        <td><?php echo $project->type; ?></td>
                        <td>
                          <div class="chip">
                            <img src="<?php echo $staticUrl;?>/assets/manager/images/avatar/<?php echo $project->image ?: 'placeholder/'.substr($project->name,0,1).'.jpg'; ?>" alt="<?php echo $project->name; ?>">
                            <?php echo $project->name; ?>

                            <?php if($project->company): ?>
                            <div class="chip">
                              <?php echo $project->company; ?>
                            </div>
                            <?php endif; ?>
                          </div>
                        </td>
                        <td><?php echo (new DateTime($project->deadline))->format($date_format); ?></td>
                        <td>
                        <?php
                        switch ($project->status)
                        {
                          case 1 : echo "Incomplete"; break;
                          case 2 : echo "Complete"; break;
                          case 3 : echo "Canceled"; break;
                        }
                        ?>
                        </td>
                        <td>
                          <div class="progress tooltipped pointer" data-position="top" data-delay="50" data-tooltip="<?php echo round($project->percentage)."% Completed Tasks"; ?>" ><div class="determinate" style="width: <?php echo $project->percentage; ?>%"></div></div>
                        </td>
                        <td class="right">
                          <div class="btn-group">
                            <button type="button" class="btn indigo darken-1 waves-effect waves-light" data-href="<?php echo $staticUrl;?>/project/<?php echo $project->unique ;?>/overview">
                              <i class="material-icons">visibility</i>
                            </button>
                            <button type="button" class="btn blue darken-3 waves-effect waves-light" data-ajax="<?php echo $staticUrl; ?>/project/modify/<?php echo $project->unique ;?>">
                              <i class="material-icons">settings</i>
                            </button>
                            <button type="button" class="btn red darken-4 waves-effect waves-light" data-ajax="<?php echo $staticUrl; ?>/project/remove/<?php echo $project->unique ;?>">
                              <i class="material-icons">close</i>
                            </button>
                          </div>
                        </td>
                    </tr>
                  <?php endforeach; ?>
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
</div>

<div id="modal-results"></div>
