<div class="main-content no-gutter">
  <section id="profile">
    <div class="row">
      <div class="col s12">
        <nav>
          <div class="nav-wrapper">
            <ul class="right">
              <li><a href="<?php echo $staticUrl;?>/project/<?php echo $project->unique;?>/overview">Overview</a></li>
              <li><a href="<?php echo $staticUrl;?>/project/<?php echo $project->unique;?>/tasks">Tasks</a></li>
              <li><a href="<?php echo $staticUrl;?>/project/<?php echo $project->unique;?>/files">Files</a></li>
              <li><a href="<?php echo $staticUrl;?>/project/<?php echo $project->unique;?>/requests">Requests</a></li>
              <li><a href="<?php echo $staticUrl;?>/project/<?php echo $project->unique;?>/estimates">Estimates</a></li>
              <li class="active"><a href="<?php echo $staticUrl;?>/project/<?php echo $project->unique;?>/invoices">Invoices</a></li>
              <li><a href="<?php echo $staticUrl;?>/project/<?php echo $project->unique;?>/payments">Payments</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <div class="panel panel-bordered z-depth-1">
          <div class="row">
            <br>
            <div class="input-field col s12 m8">
              <i class="fa fa-search prefix"></i>
              <input id="icon_prefix" type="text" class="validate" data-search >
              <label for="icon_prefix" class="">Filter Results</label>
            </div>
            <div class="input-field col s12 m4">
              <select data-filter >
                <option value="0" selected="selected">All</option>
                <option value="1">Pending</option>
                <option value="2">Partially Paid</option>
                <option value="3">Paid</option>
                <option value="4">Overdue</option>
                <option value="5">Canceled</option>
              </select>
              <label>Status Filter</label>
            </div>
          </div>

          <div class="row">

            <div class="col s12">
              <button type="button" class="btn teal lighten-1 waves-effect waves-light right" data-ajax="<?php echo $staticUrl; ?>/project/<?php echo $project->unique;?>/invoices/create">
                <span class="fa fa-plus"></span>
                New Invoice
              </button>

              <table class="responsive-table">
                <thead>
                  <tr>
                    <th></th>
                    <th>Invoice</th>
                    <th>Title</th>
                    <th>issue Date</th>
                    <th>Due Date</th>
                    <th>Recurrent</th>
                    <th>Items</th>
                    <th>Value</th>
                    <th><i class="fa fa-cogs"></i></th>
                  </tr>
                </thead>
                <tbody>
                  <?php foreach($invoices as $invoice): ?>
                    <tr data-searchable  data-filterable="<?php echo $invoice->status;?>" >
                      <td class="centered-text">
                        <?php
                          switch($invoice->status)
                          {
                            case 1 : echo "<i class='material-icons tooltipped pointer small amber-text text-darken-2' data-tooltip='Pending'>warning</i>"; break;
                            case 2 : echo "<i class='material-icons tooltipped pointer small green-text text-darken-2' data-tooltip='Partially Paid'>done</i>"; break;
                            case 3 : echo "<i class='material-icons tooltipped pointer small green-text text-darken-2' data-tooltip='Paid'>done_all</i>"; break;
                            case 4 : echo "<i class='material-icons tooltipped pointer small red-text   text-darken-2' data-tooltip='Overdue'>report</i>"; break;
                            case 5 : echo "<i class='material-icons tooltipped pointer small red-text   text-darken-2' data-tooltip='Canceled'>clear</i>"; break;
                          }
                        ?>
                      </td>
                      <td>#<?php echo $invoice->unique; ?></td>
                      <td><?php echo $invoice->title; ?></td>
                      <td><?php echo (new DateTime($invoice->issue))->format($date_format); ?></td>
                      <td><?php echo (new DateTime($invoice->due))->format($date_format); ?></td>
                      <td>
                        <?php
                        switch ($invoice->recurring) {
                          case 0: echo "No"; break;
                          case 1: echo "Yes"; break;
                        }
                        ?>
                      </td>
                      <td><?php echo (!$invoice->items ? 0 : $invoice->items); ?></td>
                      <td>$<?php echo number_format(($invoice->value / 100),2,',','.'); ?></td>
                      <td>
                        <div class="btn-group">
                          <button type="button" class="btn indigo darken-1 waves-effect waves-light" data-href="<?php echo $staticUrl;?>/project/<?php echo $project->unique;?>/invoices/overview/<?php echo $invoice->unique;?>">
                            <i class="material-icons">visibility</i>
                          </button>
                          <button type="button" class="btn blue darken-3 waves-effect waves-light" data-ajax="<?php echo $staticUrl; ?>/project/<?php echo $project->unique;?>/invoices/modify/<?php echo $invoice->unique;?>">
                            <i class="material-icons">settings</i>
                          </button>
                          <button type="button" class="btn red darken-4 waves-effect waves-light" data-ajax="<?php echo $staticUrl; ?>/project/<?php echo $project->unique;?>/invoices/remove/<?php echo $invoice->unique;?>">
                            <i class="material-icons">close</i>
                          </button>
                        </div>
                      </td>
                    </tr>
                  <?php endforeach; ?>
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
</div>

<div id="modal-results"></div>
