<div class="main-content no-gutter">
  <section id="profile">
    <div class="row">
      <div class="col s12">
        <nav>
          <div class="nav-wrapper">
            <ul class="right">
              <li class="active"><a href="<?php echo $staticUrl;?>/project/<?php echo $project->unique;?>/overview">Overview</a></li>
              <li><a href="<?php echo $staticUrl;?>/project/<?php echo $project->unique;?>/tasks">Tasks</a></li>
              <li><a href="<?php echo $staticUrl;?>/project/<?php echo $project->unique;?>/files">Files</a></li>
              <li><a href="<?php echo $staticUrl;?>/project/<?php echo $project->unique;?>/requests">Requests</a></li>
              <li><a href="<?php echo $staticUrl;?>/project/<?php echo $project->unique;?>/estimates">Estimates</a></li>
              <li><a href="<?php echo $staticUrl;?>/project/<?php echo $project->unique;?>/invoices">Invoices</a></li>
              <li><a href="<?php echo $staticUrl;?>/project/<?php echo $project->unique;?>/payments">Payments</a></li>
              <li><a href="#" class="dropdown-button" data-activates="drop_actions" data-constrainwidth="false" data-beloworigin="true">Actions <i class="material-icons dropdown-icon right">arrow_drop_down</i></a></li>
            </ul>
          </div>
        </nav>
        <!-- Dropdown Structure -->
        <ul id="drop_actions" class="dropdown-content padding">
          <?php if($project->status == 1): ?>
          <li>
            <form action="<?php echo $staticUrl;?>/project/complete/<?php echo $project->unique ;?>" method="post" accept-charset="utf8" role="AjaxForm">
              <?php echo $form->render("security"); ?>
              <div class="valign-wrapper" data-submit>
                <i class="material-icons dropdown-icon left">done_all</i> Complete Project
              </div>
            </form>
          </li>
          <?php endif;?>
          <?php if(in_array($project->status,[2,3])): ?>
          <li>
            <form action="<?php echo $staticUrl;?>/project/incomplete/<?php echo $project->unique ;?>" method="post" accept-charset="utf8" role="AjaxForm">
              <?php echo $form->render("security"); ?>
              <div class="valign-wrapper" data-submit>
                <i class="material-icons dropdown-icon left">settings_backup_restore</i> Set Incomplete
              </div>
            </form>
          </li>
          <?php endif;?>
          <?php if(in_array($project->status,[1,2])): ?>
          <li>
            <form action="<?php echo $staticUrl;?>/project/cancel/<?php echo $project->unique ;?>" method="post" accept-charset="utf8" role="AjaxForm">
              <?php echo $form->render("security"); ?>
              <div class="valign-wrapper" data-submit >
                <i class="material-icons dropdown-icon left">block</i> Cancel Project
              </div>
            </form>
          </li>
          <?php endif;?>
          <li class="divider"></li>
          <li data-ajax="<?php echo $staticUrl; ?>/project/modify/<?php echo $project->unique ;?>" >
            <div class="valign-wrapper">
              <i class="material-icons dropdown-icon left">settings</i> Edit Project
            </div>
          </li>
          <li data-ajax="<?php echo $staticUrl; ?>/project/remove/<?php echo $project->unique ;?>">
            <div class="valign-wrapper">
              <i class="material-icons dropdown-icon left">close</i> Delete Project
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m4">

        <div class="panel panel-bordered panel-about panel-bar-chart z-depth-1">
          <div class="panel-body">
            <div class="row">

              <div class="col s12 l6">
                <img src="<?php echo $staticUrl;?>/assets/manager/images/avatar/<?php echo $project->image ?: 'placeholder/'.substr($project->name,0,1).'.jpg'; ?>" class="circle z-depth-1">

                <div class="name"><?php echo $project->name; ?></div>
                <div class="location"><?php echo $project->company; ?></div>
                <div class="role"><?php echo $project->role; ?></div>
              </div>
              <div class="col s12 m12 l6">
                <?php if($project->email): ?>
                  <span class="profile-item tooltipped pointer" data-position="left" data-delay="50" data-tooltip="E-Mail Address">
                    <i class="material-icons pull-left">email</i><?php echo $project->email; ?>
                  </span>
                <?php endif; ?>
                <?php if($project->domain): ?>
                  <span class="profile-item tooltipped pointer" data-position="left" data-delay="50" data-tooltip="Domain">
                    <i class="material-icons pull-left">language</i><?php echo $project->domain; ?>
                  </span>
                <?php endif; ?>
                <?php if($project->phone): ?>
                  <span class="profile-item tooltipped pointer" data-position="left" data-delay="50" data-tooltip="Phone Number">
                    <i class="material-icons pull-left">phone</i><?php echo $project->phone; ?>
                  </span>
                <?php endif; ?>
                <?php if($project->vat): ?>
                  <span class="profile-item tooltipped pointer" data-position="left" data-delay="50" data-tooltip="VAT Number">
                    <i class="material-icons pull-left">account_circle</i><?php echo $project->vat; ?>
                  </span>
                <?php endif; ?>
                <?php if($project->address): ?>
                  <span class="profile-item tooltipped pointer" data-position="left" data-delay="50" data-tooltip="Address">
                    <i class="material-icons pull-left">home</i><?php echo "{$project->address} &mdash; {$project->zip}"; ?>
                  </span>
                <?php endif; ?>
                <?php if($project->city): ?>
                  <span class="profile-item tooltipped pointer" data-position="left" data-delay="50" data-tooltip="Location">
                    <i class="material-icons pull-left">location_on</i><?php echo "{$project->city}, {$project->state} &mdash; {$project->country}"; ?>
                  </span>
                <?php endif; ?>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-bordered panel-biography z-depth-1">
          <div class="panel-header">
            <div class="title">
              <?php echo $project->title; ?>
            </div>
          </div>

          <div class="panel-body">
            <p>
              <?php echo $project->description; ?>
            </p>
          </div>
        </div>

        <div class="panel panel-bordered panel-about panel-bar-chart z-depth-1">
          <div class="panel-body">
            <div class="row flex-centered">
              <div class="col s12 l6 flex-centered">
                <div class="progress-bar" data-percent="<?php echo $progress; ?>" data-duration="1000" data-color="#ccc,#26A69A"></div>
                <div class="name pad-15">Task's Progress</div>
              </div>
              <div class="col s12 m12 l6">
                <span class="profile-item tooltipped pointer" data-position="left" data-delay="50" data-tooltip="Created Date"><i class="material-icons amber-text text-accent-4 pull-left">star</i><?php echo (new DateTime($project->created))->format($date_format); ?></span>
                <span class="profile-item tooltipped pointer" data-position="left" data-delay="50" data-tooltip="Deadline Date"><i class="material-icons red-text text-darken-4 pull-left">report</i><?php echo (new DateTime($project->deadline))->format($date_format); ?></span>
                <?php if($project->finished): ?><span class="profile-item tooltipped pointer" data-position="left" data-delay="50" data-tooltip="Completed Date"><i class="material-icons teal-text text-accent-4 pull-left">done_all</i><?php echo (new DateTime($project->finished))->format($date_format); ?></span><?php endif; ?>
                <span class="profile-item tooltipped pointer" data-position="left" data-delay="50" data-tooltip="Project Status">
                  <i class="material-icons light-blue-text text-accent-4 pull-left">flag</i>
                  <?php switch ($project->status)
                        {
                          case 1 : echo "Incomplete"; break;
                          case 2 : echo "Complete"; break;
                          case 3 : echo "Canceled"; break;
                        } ?>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-bordered panel-gallery z-depth-1">
          <div class="panel-header">
            <div class="title">
              Assigned Members
            </div>
          </div>

          <div class="panel-body">
            <div class="row no-gutter">
              <?php foreach($assigned as $a): ?>
              <div class="col s3 m4 l2">
                <img src="<?php echo $staticUrl;?>/assets/manager/images/avatar/<?php echo $a->image ?: 'placeholder/'.substr($a->name,0,1).'.jpg'; ?>" class="circle tooltipped x75" data-position="bottom" data-delay="50" data-tooltip="<?php echo $a->name; ?> ">
              </div>
              <?php endforeach; ?>
            </div>
          </div>

          <div class="panel-footer">
            <div class="row">
              <div class="col s12">
                <button type="button" class="btn teal lighten-1 waves-effect waves-light full-width" data-ajax="<?php echo $staticUrl; ?>/project/<?php echo $project->unique; ?>/assignments">
                  <span class="fa fa-cogs"></span>
                  Manage Assigned Members
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- ######## -->
      <!-- Timeline -->
      <!-- ######## -->
      <div class="col s12 m8">

        <div class="panel panel-bordered z-depth-1">
          <form action="<?php echo $staticUrl;?>/project/note/<?php echo $project->unique ;?>" method="post" accept-charset="utf8" role="AjaxForm">
            <?php echo $form->render("security"); ?>
            <div class="panel-body">
              <textarea class="materialize-textarea" placeholder="Add a note to the project ..." name="text"></textarea>
            </div>
            <div class="panel-footer flex-end">
              <button type="submit" class="btn small teal lighten-1 waves-effect waves-light">
                send
                <i class="material-icons">send</i>
              </button>
            </div>
          </form>
        </div>

        <h4>Project Activities</h4>
        <template id="template">
          <div class="timeline-event">
            <div class="card timeline-content">
              <small style="padding:10px 20px 0 20px; display: block" id="date"></small>
              <div class="card-content" id="text"></div>
            </div>
            <div class="timeline-badge green white-text">
              <img id="image" src="<?php echo $staticUrl;?>/assets/manager/images/avatar/" class="circle tooltipped" data-position="bottom" data-delay="50" data-tooltip="">
            </div>
          </div>
        </template>
        <div class="timeline" id="dynamic-content">
          <?php if(count($activities) > 0): ?>
            <?php foreach($activities as $a): ?>
            <div class="timeline-event">
              <div class="card timeline-content">
                <small style="padding:10px 20px 0 20px; display: block"><?php echo (new DateTime($a->date))->format($date_format); ?></small>
                <div class="card-content">
                  <?php echo $a->text; ?>
                </div>
              </div>
              <div class="timeline-badge green white-text">
                <img src="<?php echo $staticUrl;?>/assets/manager/images/avatar/<?php echo $a->image ?: 'placeholder/'.substr($a->name,0,1).'.jpg'; ?>" class="circle tooltipped" data-position="bottom" data-delay="50" data-tooltip="<?php echo $a->name; ?> ">
              </div>
            </div>
            <?php endforeach; ?>
          </div>
          <div class="timeline">
            <div class="timeline-event">
              <div class="timeline-badge teal lighten-1 white-text pointer tooltipped" data-position="bottom" data-delay="50" data-tooltip="Load More" data-more="/request/project/activities/<?php echo $project->unique ;?>" >
                <i class="material-icons">more_horiz</i>
              </div>
            </div>
          </div>
          <?php else: ?>
            <div class="timeline">
              <div class="timeline-event">
                <div class="card timeline-content">
                  <div class="card-content">
                    No activities yet.
                  </div>
                </div>
                <div class="timeline-badge white white-text">
                  <img src="<?php echo $staticUrl;?>/assets/manager/images/<?php echo $logo; ?>" class="circle">
                </div>
              </div>
            </div>
          <?php endif; ?>

      </div>
    </div>
  </section>
</div>

<div id="modal-results"></div>
