<div class="main-content no-gutter">
  <section id="dashboard">

    <div class="row centered-text">
      <img src="<?php echo $staticUrl;?>/assets/manager/images/<?php echo $logo; ?>" alt="<?php echo "{$title_1} {$title_2}"; ?>" height="160"/>
      <h5>
        <b class="main-text"><?php echo $title->first; ?></b> <?php echo $title->all; ?>
        <br><span>Installer</span>
      </h5>
    </div>

    <div class="row">

      <div class="col m6 s12 offset-m3">
        <div class="panel panel-bordered z-depth-1">
          <div class="panel-header">
            <div class="title">
              Configurations
            </div>
            <div class="subtitle">
              3 step of 3
            </div>
          </div>
          <div class="panel-body">
            <div class="row">
              <h5 class="title">Account</h5>
              <p>Hey! Here you can create your first account ( with administrator permissions ), and after you're done , this page will no longer be accessable. In order to re-enable this installer you must open the config file ( in the config folder ) and under the [debug] set installer to <strong>true</strong>! </p>
              <form action="<?php echo $staticUrl;?>/installer/createAccount" method="post" accept-charset="utf8" role="AjaxForm">
                <?php echo $form->render("security"); ?>
                <div class="row">

                  <div class="input-field col m6 s12">
                    <input type="text" name="name">
                    <label>Name</label>
                  </div>

                  <div class="input-field col m6 s12">
                    <input type="text" name="email">
                    <label>E-Mail</label>
                  </div>

                  <div class="input-field col m6 s12">
                    <input type="text" name="username">
                    <label>Username</label>
                  </div>

                  <div class="input-field col m6 s12">
                    <input type="password" name="password">
                    <label>Password</label>
                  </div>

                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <button type="submit" class="btn teal lighten-1 waves-effect waves-light right">
                      <i class="material-icons">done_all</i>
                      Save &amp; Login
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>

  </section>
</div>
