<div class="main-content no-gutter">
  <section id="dashboard">

    <div class="row centered-text">
      <img src="<?php echo $staticUrl;?>/assets/manager/images/<?php echo $logo; ?>" alt="<?php echo "{$title_1} {$title_2}"; ?>" height="160"/>
      <h5>
        <b class="main-text"><?php echo $title->first; ?></b> <?php echo $title->all; ?>
        <br><span>Installer</span>
      </h5>
    </div>

    <div class="row">

      <div class="col m6 s12 offset-m3">
        <div class="panel panel-bordered z-depth-1">
          <div class="panel-header">
            <div class="title">
              Configurations
            </div>
            <div class="subtitle">
              2 step of 3
            </div>
          </div>
          <div class="panel-body">
            <div class="row">

              <form action="<?php echo "{$staticUrl}/installer/save";?>" method="post" accept-charset="utf8" role="AjaxForm">
                  <?php echo $form->render("security"); ?>

                  <div class="row">
                    <h5 class="title">Database</h5>

                    <div class="input-field col m6 s12">
                      <?php echo $form->render("db_host"); ?>
                      <label>Host</label>
                    </div>

                    <div class="input-field col m6 s12">
                      <?php echo $form->render("db_user"); ?>
                      <label>Username</label>
                    </div>

                    <div class="input-field col m6 s12">
                      <?php echo $form->render("db_pass"); ?>
                      <label>Password</label>
                    </div>

                    <div class="input-field col m6 s12">
                      <?php echo $form->render("db_database"); ?>
                      <label>Database</label>
                    </div>
                  </div>
                  <div class="row">
                    <h5 class="title">E-Mail</h5>

                    <div class="input-field col m6 s12">
                      <?php echo $form->render("mail_host"); ?>
                      <label>SMTP Host</label>
                    </div>

                    <div class="input-field col m6 s12">
                      <?php echo $form->render("mail_user"); ?>
                      <label>Username</label>
                    </div>

                    <div class="input-field col m6 s12">
                      <?php echo $form->render("mail_pass"); ?>
                      <label>Password</label>
                    </div>

                    <div class="input-field col m3 s12">
                      <?php echo $form->render("mail_port"); ?>
                      <label>Port</label>
                    </div>

                    <div class="input-field col m3 s12">
                      <?php echo $form->render("mail_type"); ?>
                      <label>SMTP Security</label>
                    </div>

                    <div class="input-field col m6 s12">
                      <?php echo $form->render("mail_email"); ?>
                      <label>Sender E-Mail</label>
                    </div>

                    <div class="input-field col m6 s12">
                      <?php echo $form->render("mail_name"); ?>
                      <label>Sender Name</label>
                    </div>

                  </div>
                  <div class="row">
                    <h5 class="title">Application</h5>

                    <div class="input-field col m6 s12">
                      <?php echo $form->render("app_base"); ?>
                      <label class="active">Base URI</label>
                    </div>

                    <div class="input-field col m6 s12">
                      <?php echo $form->render("app_title"); ?>
                      <label class="active">Title</label>
                    </div>

                    <div class="input-field col m6 s12">
                      <?php echo $form->render("app_token"); ?>
                      <label class="active">Token</label>
                    </div>

                    <div class="input-field col m6 s12">
                      <?php echo $form->render("app_currency"); ?>
                      <label>Currency</label>
                    </div>

                    <div class="input-field col m6 s12">
                      <?php echo $form->render("app_date"); ?>
                      <label>Date Format</label>
                    </div>

                    <div class="input-field col m6 s12">
                      <?php echo $form->render("app_datetime"); ?>
                      <label>DateTime Format</label>
                    </div>

                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <button type="submit" class="btn teal lighten-1 waves-effect waves-light right">
                        <i class="material-icons">done</i>
                        Save &amp; Last Step
                      </button>
                    </div>
                  </div>
                </form>

            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
</div>
