<div class="main-content no-gutter">
  <section id="dashboard">

    <div class="row centered-text">
      <img src="<?php echo $staticUrl;?>/assets/manager/images/<?php echo $logo; ?>" alt="<?php echo "{$title_1} {$title_2}"; ?>" height="160"/>
      <h5>
        <b class="main-text"><?php echo $title->first; ?></b> <?php echo $title->all; ?>
        <br><span>Installer</span>
      </h5>
    </div>

    <div class="row">

      <div class="col m6 s12 offset-m3">
        <div class="panel panel-bordered z-depth-1">
          <div class="panel-header">
            <div class="title">
              Dependencies
            </div>
            <div class="subtitle">
              1 step of 3
            </div>
          </div>
          <div class="panel-body">
            <blockquote>
              <code>
                <ul>
                  <li>$ cd libraries</li>
                  <li>$ composer install</li>
                </ul>
              </code>
            </blockquote>
            <blockquote>
              <code>
                <ul>
                  <li>Install <strong>rhyno.sql</strong> in your database.</li>
                </ul>
              </code>
            </blockquote>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <a href="<?php echo "{$staticUrl}/installer/application"; ?>" class="btn teal lighten-1 waves-effect waves-light right">
                <i class="material-icons">done</i>
                Next Step
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>

  </section>
</div>
