<div class="main-content no-gutter">
  <section id="tickets">

    <div class="row">
      <div class="col s12">
          <nav>
          	<div class="nav-wrapper">
        		<ul class="right">
        			<li><a href="<?php echo $staticUrl;?>/tickets">All Tickets</a></li>
        			<li class="active"><a href="<?php echo $staticUrl;?>/ticket/categories">Categories</a></li>
            </ul>
        	</div>
        </nav>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <div class="panel panel-bordered z-depth-1">
          <div class="row">
            <br>
            <div class="input-field col s12">
    					<i class="fa fa-search prefix"></i>
    					<input id="icon_prefix" type="text" class="validate" data-search >
    					<label for="icon_prefix" class="">Filter Results</label>
    				</div>

            <div class="col s12">
              <div class="btn-group pull-right">
                <button type="button" class="btn teal lighten-1 waves-effect waves-light" data-ajax="<?php echo $staticUrl; ?>/ticket/categories/create" >
                  <i class="material-icons">add</i>
                  New Category
                </button>
              </div>
            </div>

            <div class="col s12">
              <table class="responsive-table">
                <thead>
                  <tr>
                    <th>Category</th>
                    <th><i class="fa fa-cogs"></i></th>
                  </tr>
                </thead>
                <tbody>
                  <?php foreach($categories as $category): ?>
                    <tr data-searchable >
                      <td><?php echo $category->category; ?></td>
                      <td>
                        <div class="btn-group">
                          <button type="button" class="btn blue darken-3 waves-effect waves-light" data-ajax="<?php echo $staticUrl; ?>/ticket/categories/modify/<?php echo $category->_ ;?>">
                            <i class="material-icons">settings</i>
                          </button>
                          <button type="button" class="btn red darken-4 waves-effect waves-light" data-ajax="<?php echo $staticUrl; ?>/ticket/categories/remove/<?php echo $category->_ ;?>">
                            <i class="material-icons">close</i>
                          </button>
                        </div>
                      </td>
                    </tr>
                  <?php endforeach; ?>
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
</div>

<div id="modal-results"></div>
