<div class="main-content no-gutter">
  <section id="ticket">

    <div class="row">
      <div class="col s12 m4 l3">
        <div class="panel panel-bordered panel-about panel-bar-chart z-depth-1">
          <div class="panel-body">
            <div class="row">

              <div class="col s12">
                <img src="<?php echo $staticUrl;?>/assets/manager/images/avatar/<?php echo $ticket->image ?: 'placeholder/'.substr($ticket->name,0,1).'.jpg'; ?>" class="circle z-depth-1">

                <div class="name"><?php echo $ticket->name; ?></div>
                <div class="location"><?php echo $ticket->company; ?></div>
                <div class="role"><?php echo $ticket->role; ?></div>
              </div>
              <div class="col s12">
                <?php if($ticket->email): ?>
                  <span class="profile-item tooltipped pointer" data-position="right" data-delay="50" data-tooltip="E-Mail Address">
                    <i class="material-icons pull-left">email</i><?php echo $ticket->email; ?>
                  </span>
                <?php endif; ?>
                <?php if($ticket->domain): ?>
                  <span class="profile-item tooltipped pointer" data-position="right" data-delay="50" data-tooltip="Domain">
                    <i class="material-icons pull-left">language</i><?php echo $ticket->domain; ?>
                  </span>
                <?php endif; ?>
                <?php if($ticket->phone): ?>
                  <span class="profile-item tooltipped pointer" data-position="right" data-delay="50" data-tooltip="Phone Number">
                    <i class="material-icons pull-left">phone</i><?php echo $ticket->phone; ?>
                  </span>
                <?php endif; ?>
                <?php if($ticket->vat): ?>
                  <span class="profile-item tooltipped pointer" data-position="right" data-delay="50" data-tooltip="VAT Number">
                    <i class="material-icons pull-left">account_circle</i><?php echo $ticket->vat; ?>
                  </span>
                <?php endif; ?>
                <?php if($ticket->address): ?>
                  <span class="profile-item tooltipped pointer" data-position="right" data-delay="50" data-tooltip="Address">
                    <i class="material-icons pull-left">home</i><?php echo "{$ticket->address} &mdash; {$ticket->zip}"; ?>
                  </span>
                <?php endif; ?>
                <?php if($ticket->city): ?>
                  <span class="profile-item tooltipped pointer" data-position="right" data-delay="50" data-tooltip="Location">
                    <i class="material-icons pull-left">location_on</i><?php echo "{$ticket->city}, {$ticket->state} &mdash; {$ticket->country}"; ?>
                  </span>
                <?php endif; ?>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-bordered z-depth-1">
          <div class="panel-header">
            <div class="title">
              Ticket Information
            </div>
          </div>
          <div class="panel-body">
            <p><strong class="teal-text text-darken-2">Title: </strong><br><?php echo $ticket->title; ?></p>
            <p><strong class="teal-text text-darken-2">Created: </strong><br><?php echo (new DateTime($ticket->created))->format($date_format); ?></p>
            <p><strong class="teal-text text-darken-2">Last Interaction: </strong><br><?php echo (new DateTime($ticket->updated))->format($date_format); ?></p>
            <p><strong class="teal-text text-darken-2">Status: </strong><br>
              <?php
                switch($ticket->status)
                {
                  case 1 : echo "Open"; break;
                  case 2 : echo "Reopened"; break;
                  case 3 : echo "In Progress"; break;
                  case 4 : echo "Closed"; break;
                }
              ?>
            </p>
          </div>
        </div>
      </div>

      <div class="col s12 m8 l9">
        <div class="row">
          <div class="col s12 no-padd">
            <div class="btn-group pull-right">

              <button type="button" class="btn blue darken-3 waves-effect waves-light" data-ajax="<?php echo $staticUrl; ?>/ticket/modify/<?php echo $ticket->unique ;?>">
                <i class="material-icons">settings</i>
                Edit Ticket
              </button>
              <button type="button" class="btn red darken-4 waves-effect waves-light" data-ajax="<?php echo $staticUrl; ?>/ticket/remove/<?php echo $ticket->unique ;?>">
                <i class="material-icons">close</i>
                Delete Ticket
              </button>

              <?php if(in_array($ticket->status,[1,2])): ?>
                <form action="<?php echo $staticUrl;?>/ticket/status/progress/<?php echo $ticket->unique;?>" method="post" role="AjaxForm" class="inline-block">
                  <?php echo $form->render("security"); ?>
                  <button type="submit" class="btn amber accent-4 waves-effect waves-light">
                    <i class="material-icons">swap_calls</i>
                    Set In Progress
                  </button>
                </form>
                <form action="<?php echo $staticUrl;?>/ticket/status/close/<?php echo $ticket->unique;?>" method="post" role="AjaxForm" class="inline-block">
                  <?php echo $form->render("security"); ?>
                  <button type="submit" class="btn teal darken-1 waves-effect waves-light">
                    <i class="material-icons">check</i>
                    Close Task
                  </button>
                </form>
              <?php elseif($ticket->status == 3 ): ?>
                <form action="<?php echo $staticUrl;?>/ticket/status/close/<?php echo $ticket->unique;?>" method="post" role="AjaxForm" class="inline-block">
                  <?php echo $form->render("security"); ?>
                  <button type="submit" class="btn teal darken-1 waves-effect waves-light">
                    <i class="material-icons">check</i>
                    Close Task
                  </button>
                </form>
              <?php elseif($ticket->status == 4 ): ?>
                <form action="<?php echo $staticUrl;?>/ticket/status/reopen/<?php echo $ticket->unique;?>" method="post" role="AjaxForm" class="inline-block">
                  <?php echo $form->render("security"); ?>
                  <button type="submit" class="btn amber accent-4 waves-effect waves-light">
                    <i class="material-icons">call_made</i>
                    Reopen Task
                  </button>
                </form>
              <?php endif; ?>
            </div>
          </div>
        </div>
        <div class="panel panel-chat panel-bordered z-depth-1">
          <div class="panel-header">
            <div class="title">
              Conference
            </div>
          </div>
          <div class="panel-body">
            <div class="slimScrollDiv">
              <div class="slimscroll" data-height="230px" data-start="bottom">
								<div class="messages-wrapper">
                  <?php foreach($responses as $response): ?>
                  <div class="row message <?php echo ($response->user == $me ? 'sent' : 'received');?>">
										<div class="col s12">
											<img src="<?php echo $staticUrl;?>/assets/manager/images/avatar/<?php echo $response->image ?: 'placeholder/'.substr($response->name,0,1).'.jpg'; ?>" alt="<?php echo $response->name; ?>" class="circle responsive-img <?php echo ($response->user == $me ? 'left-aligned' : 'right-aligned');?>">
											<div class="text">
												<div class="name"><?php echo $response->name; ?> <small class="teal-text text-darken-3"><?php echo(new DateTime($response->date))->format($date_format); ?></small></div>

                        <p><?php
                            $regex = "/(http|https|ftp|ftps)\:\/\/[a-zA-Z0-9\-\.]+\.[a-zA-Z]{2,3}(\/\S*)?/";
                            echo (preg_match($regex, $response->text, $url) ? preg_replace($regex, "<a href='{$url[0]}'>{$url[0]}</a> ", $response->text) : $response->text );
                          ?></p>
											</div>
										</div>
									</div>
                  <?php endforeach; ?>
								</div>
							</div>
            </div>
          </div>
          <div class="panel-footer">
            <form action="<?php echo $staticUrl;?>/ticket/send/<?php echo $ticket->unique ;?>" method="post" accept-charset="utf8" role="AjaxForm">
              <?php echo $form->render("security"); ?>
              <input type="text" name="text" placeholder="Type a message and hit 'enter' to send">
            </form>
					</div>
        </div>
      </div>

    </div>
  </section>
</div>

<div id="modal-results"></div>
