@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url('../fonts/material/materialicons.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

*,
::after,
::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit
}

* {
    outline: none !important
}

button.btn-flat:focus {
    background-color: inherit !important
}

img {
    max-width: 100%
}

.full-width{
  width: 100%;
}

.amcharts-chart-div a {
    display: none !important
}

.card .card-title {
    color: #898989
}

.card .card-title i {
    font-size: 1.3rem;
    color: #898989
}

.card.materialize-red .card-title {
    color: #FFF !important
}

.card.materialize-red .card-title i {
    color: #FFF !important
}

.card.red .card-title {
    color: #FFF !important
}

.card.red .card-title i {
    color: #FFF !important
}

.card.pink .card-title {
    color: #FFF !important
}

.card.pink .card-title i {
    color: #FFF !important
}

.card.purple .card-title {
    color: #FFF !important
}

.card.purple .card-title i {
    color: #FFF !important
}

.card.deep-purple .card-title {
    color: #FFF !important
}

.card.deep-purple .card-title i {
    color: #FFF !important
}

.card.indigo .card-title {
    color: #FFF !important
}

.card.indigo .card-title i {
    color: #FFF !important
}

.card.blue .card-title {
    color: #FFF !important
}

.card.blue .card-title i {
    color: #FFF !important
}

.card.light-blue .card-title {
    color: #FFF !important
}

.card.light-blue .card-title i {
    color: #FFF !important
}

.card.cyan .card-title {
    color: #FFF !important
}

.card.cyan .card-title i {
    color: #FFF !important
}

.card.teal .card-title {
    color: #FFF !important
}

.card.teal .card-title i {
    color: #FFF !important
}

.card.green .card-title {
    color: #FFF !important
}

.card.green .card-title i {
    color: #FFF !important
}

.card.light-green .card-title {
    color: #FFF !important
}

.card.light-green .card-title i {
    color: #FFF !important
}

.card.lime .card-title {
    color: #FFF !important
}

.card.lime .card-title i {
    color: #FFF !important
}

.card.yellow .card-title {
    color: #FFF !important
}

.card.yellow .card-title i {
    color: #FFF !important
}

.card.amber .card-title {
    color: #FFF !important
}

.card.amber .card-title i {
    color: #FFF !important
}

.card.orange .card-title {
    color: #FFF !important
}

.card.orange .card-title i {
    color: #FFF !important
}

.card.deep-orange .card-title {
    color: #FFF !important
}

.card.deep-orange .card-title i {
    color: #FFF !important
}

.card.brown .card-title {
    color: #FFF !important
}

.card.brown .card-title i {
    color: #FFF !important
}

.card.blue-grey .card-title {
    color: #FFF !important
}

.card.blue-grey .card-title i {
    color: #FFF !important
}

.card.grey .card-title {
    color: #FFF !important
}

.card.grey .card-title i {
    color: #FFF !important
}

.card.shades .card-title {
    color: #FFF !important
}

.card.shades .card-title i {
    color: #FFF !important
}

.card.main .card-title,
.card.alternative .card-title {
    color: #FFF !important
}

.card.main .card-title i,
.card.alternative .card-title i {
    color: #FFF !important
}

.card .card-image .card-title {
    color: #FFF !important
}

.panel {
    background: #FFF;
    border: 1px solid #F0F0F0
}

.panel .panel-header {
    padding: 15px
}

.panel .panel-header .title {
    font-size: 1.4rem;
    color: #898989
}

.panel .panel-header .subtitle {
    font-size: 0.9rem;
    color: #9e9e9e
}

.panel .panel-body {
    padding: 20px 35px
}

.panel .panel-footer {
    padding: 15px
}

.panel.panel-bordered .panel-header {
    border-bottom: 1px solid
}

.panel.panel-bordered .panel-footer {
    border-top: 1px solid
}

.panel.panel-bordered .panel-header,
.panel.panel-bordered .panel-footer {
    background-color: #FCFCFC;
    border-color: #F0F0F0
}

.card,
.panel,
.card-panel {
    color: #737373
}

.card h1,
.card h2,
.card h3,
.card h4,
.card h5,
.card h6,
.panel h1,
.panel h2,
.panel h3,
.panel h4,
.panel h5,
.panel h6,
.card-panel h1,
.card-panel h2,
.card-panel h3,
.card-panel h4,
.card-panel h5,
.card-panel h6 {
    color: #545454
}

.card.materialize-red,
.panel.materialize-red,
.card-panel.materialize-red {
    color: #FFF !important
}

.card.materialize-red .title,
.card.materialize-red .subtitle,
.panel.materialize-red .title,
.panel.materialize-red .subtitle,
.card-panel.materialize-red .title,
.card-panel.materialize-red .subtitle {
    color: #FFF !important
}

.card.materialize-red h1,
.card.materialize-red h2,
.card.materialize-red h3,
.card.materialize-red h4,
.card.materialize-red h5,
.card.materialize-red h6,
.panel.materialize-red h1,
.panel.materialize-red h2,
.panel.materialize-red h3,
.panel.materialize-red h4,
.panel.materialize-red h5,
.panel.materialize-red h6,
.card-panel.materialize-red h1,
.card-panel.materialize-red h2,
.card-panel.materialize-red h3,
.card-panel.materialize-red h4,
.card-panel.materialize-red h5,
.card-panel.materialize-red h6 {
    color: rgba(255, 255, 255, 0.95) !important
}

.card.red,
.panel.red,
.card-panel.red {
    color: #FFF !important
}

.card.red .title,
.card.red .subtitle,
.panel.red .title,
.panel.red .subtitle,
.card-panel.red .title,
.card-panel.red .subtitle {
    color: #FFF !important
}

.card.red h1,
.card.red h2,
.card.red h3,
.card.red h4,
.card.red h5,
.card.red h6,
.panel.red h1,
.panel.red h2,
.panel.red h3,
.panel.red h4,
.panel.red h5,
.panel.red h6,
.card-panel.red h1,
.card-panel.red h2,
.card-panel.red h3,
.card-panel.red h4,
.card-panel.red h5,
.card-panel.red h6 {
    color: rgba(255, 255, 255, 0.95) !important
}

.card.pink,
.panel.pink,
.card-panel.pink {
    color: #FFF !important
}

.card.pink .title,
.card.pink .subtitle,
.panel.pink .title,
.panel.pink .subtitle,
.card-panel.pink .title,
.card-panel.pink .subtitle {
    color: #FFF !important
}

.card.pink h1,
.card.pink h2,
.card.pink h3,
.card.pink h4,
.card.pink h5,
.card.pink h6,
.panel.pink h1,
.panel.pink h2,
.panel.pink h3,
.panel.pink h4,
.panel.pink h5,
.panel.pink h6,
.card-panel.pink h1,
.card-panel.pink h2,
.card-panel.pink h3,
.card-panel.pink h4,
.card-panel.pink h5,
.card-panel.pink h6 {
    color: rgba(255, 255, 255, 0.95) !important
}

.card.purple,
.panel.purple,
.card-panel.purple {
    color: #FFF !important
}

.card.purple .title,
.card.purple .subtitle,
.panel.purple .title,
.panel.purple .subtitle,
.card-panel.purple .title,
.card-panel.purple .subtitle {
    color: #FFF !important
}

.card.purple h1,
.card.purple h2,
.card.purple h3,
.card.purple h4,
.card.purple h5,
.card.purple h6,
.panel.purple h1,
.panel.purple h2,
.panel.purple h3,
.panel.purple h4,
.panel.purple h5,
.panel.purple h6,
.card-panel.purple h1,
.card-panel.purple h2,
.card-panel.purple h3,
.card-panel.purple h4,
.card-panel.purple h5,
.card-panel.purple h6 {
    color: rgba(255, 255, 255, 0.95) !important
}

.card.deep-purple,
.panel.deep-purple,
.card-panel.deep-purple {
    color: #FFF !important
}

.card.deep-purple .title,
.card.deep-purple .subtitle,
.panel.deep-purple .title,
.panel.deep-purple .subtitle,
.card-panel.deep-purple .title,
.card-panel.deep-purple .subtitle {
    color: #FFF !important
}

.card.deep-purple h1,
.card.deep-purple h2,
.card.deep-purple h3,
.card.deep-purple h4,
.card.deep-purple h5,
.card.deep-purple h6,
.panel.deep-purple h1,
.panel.deep-purple h2,
.panel.deep-purple h3,
.panel.deep-purple h4,
.panel.deep-purple h5,
.panel.deep-purple h6,
.card-panel.deep-purple h1,
.card-panel.deep-purple h2,
.card-panel.deep-purple h3,
.card-panel.deep-purple h4,
.card-panel.deep-purple h5,
.card-panel.deep-purple h6 {
    color: rgba(255, 255, 255, 0.95) !important
}

.card.indigo,
.panel.indigo,
.card-panel.indigo {
    color: #FFF !important
}

.card.indigo .title,
.card.indigo .subtitle,
.panel.indigo .title,
.panel.indigo .subtitle,
.card-panel.indigo .title,
.card-panel.indigo .subtitle {
    color: #FFF !important
}

.card.indigo h1,
.card.indigo h2,
.card.indigo h3,
.card.indigo h4,
.card.indigo h5,
.card.indigo h6,
.panel.indigo h1,
.panel.indigo h2,
.panel.indigo h3,
.panel.indigo h4,
.panel.indigo h5,
.panel.indigo h6,
.card-panel.indigo h1,
.card-panel.indigo h2,
.card-panel.indigo h3,
.card-panel.indigo h4,
.card-panel.indigo h5,
.card-panel.indigo h6 {
    color: rgba(255, 255, 255, 0.95) !important
}

.card.blue,
.panel.blue,
.card-panel.blue {
    color: #FFF !important
}

.card.blue .title,
.card.blue .subtitle,
.panel.blue .title,
.panel.blue .subtitle,
.card-panel.blue .title,
.card-panel.blue .subtitle {
    color: #FFF !important
}

.card.blue h1,
.card.blue h2,
.card.blue h3,
.card.blue h4,
.card.blue h5,
.card.blue h6,
.panel.blue h1,
.panel.blue h2,
.panel.blue h3,
.panel.blue h4,
.panel.blue h5,
.panel.blue h6,
.card-panel.blue h1,
.card-panel.blue h2,
.card-panel.blue h3,
.card-panel.blue h4,
.card-panel.blue h5,
.card-panel.blue h6 {
    color: rgba(255, 255, 255, 0.95) !important
}

.card.light-blue,
.panel.light-blue,
.card-panel.light-blue {
    color: #FFF !important
}

.card.light-blue .title,
.card.light-blue .subtitle,
.panel.light-blue .title,
.panel.light-blue .subtitle,
.card-panel.light-blue .title,
.card-panel.light-blue .subtitle {
    color: #FFF !important
}

.card.light-blue h1,
.card.light-blue h2,
.card.light-blue h3,
.card.light-blue h4,
.card.light-blue h5,
.card.light-blue h6,
.panel.light-blue h1,
.panel.light-blue h2,
.panel.light-blue h3,
.panel.light-blue h4,
.panel.light-blue h5,
.panel.light-blue h6,
.card-panel.light-blue h1,
.card-panel.light-blue h2,
.card-panel.light-blue h3,
.card-panel.light-blue h4,
.card-panel.light-blue h5,
.card-panel.light-blue h6 {
    color: rgba(255, 255, 255, 0.95) !important
}

.card.cyan,
.panel.cyan,
.card-panel.cyan {
    color: #FFF !important
}

.card.cyan .title,
.card.cyan .subtitle,
.panel.cyan .title,
.panel.cyan .subtitle,
.card-panel.cyan .title,
.card-panel.cyan .subtitle {
    color: #FFF !important
}

.card.cyan h1,
.card.cyan h2,
.card.cyan h3,
.card.cyan h4,
.card.cyan h5,
.card.cyan h6,
.panel.cyan h1,
.panel.cyan h2,
.panel.cyan h3,
.panel.cyan h4,
.panel.cyan h5,
.panel.cyan h6,
.card-panel.cyan h1,
.card-panel.cyan h2,
.card-panel.cyan h3,
.card-panel.cyan h4,
.card-panel.cyan h5,
.card-panel.cyan h6 {
    color: rgba(255, 255, 255, 0.95) !important
}

.card.teal,
.panel.teal,
.card-panel.teal {
    color: #FFF !important
}

.card.teal .title,
.card.teal .subtitle,
.panel.teal .title,
.panel.teal .subtitle,
.card-panel.teal .title,
.card-panel.teal .subtitle {
    color: #FFF !important
}

.card.teal h1,
.card.teal h2,
.card.teal h3,
.card.teal h4,
.card.teal h5,
.card.teal h6,
.panel.teal h1,
.panel.teal h2,
.panel.teal h3,
.panel.teal h4,
.panel.teal h5,
.panel.teal h6,
.card-panel.teal h1,
.card-panel.teal h2,
.card-panel.teal h3,
.card-panel.teal h4,
.card-panel.teal h5,
.card-panel.teal h6 {
    color: rgba(255, 255, 255, 0.95) !important
}

.card.green,
.panel.green,
.card-panel.green {
    color: #FFF !important
}

.card.green .title,
.card.green .subtitle,
.panel.green .title,
.panel.green .subtitle,
.card-panel.green .title,
.card-panel.green .subtitle {
    color: #FFF !important
}

.card.green h1,
.card.green h2,
.card.green h3,
.card.green h4,
.card.green h5,
.card.green h6,
.panel.green h1,
.panel.green h2,
.panel.green h3,
.panel.green h4,
.panel.green h5,
.panel.green h6,
.card-panel.green h1,
.card-panel.green h2,
.card-panel.green h3,
.card-panel.green h4,
.card-panel.green h5,
.card-panel.green h6 {
    color: rgba(255, 255, 255, 0.95) !important
}

.card.light-green,
.panel.light-green,
.card-panel.light-green {
    color: #FFF !important
}

.card.light-green .title,
.card.light-green .subtitle,
.panel.light-green .title,
.panel.light-green .subtitle,
.card-panel.light-green .title,
.card-panel.light-green .subtitle {
    color: #FFF !important
}

.card.light-green h1,
.card.light-green h2,
.card.light-green h3,
.card.light-green h4,
.card.light-green h5,
.card.light-green h6,
.panel.light-green h1,
.panel.light-green h2,
.panel.light-green h3,
.panel.light-green h4,
.panel.light-green h5,
.panel.light-green h6,
.card-panel.light-green h1,
.card-panel.light-green h2,
.card-panel.light-green h3,
.card-panel.light-green h4,
.card-panel.light-green h5,
.card-panel.light-green h6 {
    color: rgba(255, 255, 255, 0.95) !important
}

.card.lime,
.panel.lime,
.card-panel.lime {
    color: #FFF !important
}

.card.lime .title,
.card.lime .subtitle,
.panel.lime .title,
.panel.lime .subtitle,
.card-panel.lime .title,
.card-panel.lime .subtitle {
    color: #FFF !important
}

.card.lime h1,
.card.lime h2,
.card.lime h3,
.card.lime h4,
.card.lime h5,
.card.lime h6,
.panel.lime h1,
.panel.lime h2,
.panel.lime h3,
.panel.lime h4,
.panel.lime h5,
.panel.lime h6,
.card-panel.lime h1,
.card-panel.lime h2,
.card-panel.lime h3,
.card-panel.lime h4,
.card-panel.lime h5,
.card-panel.lime h6 {
    color: rgba(255, 255, 255, 0.95) !important
}

.card.yellow,
.panel.yellow,
.card-panel.yellow {
    color: #FFF !important
}

.card.yellow .title,
.card.yellow .subtitle,
.panel.yellow .title,
.panel.yellow .subtitle,
.card-panel.yellow .title,
.card-panel.yellow .subtitle {
    color: #FFF !important
}

.card.yellow h1,
.card.yellow h2,
.card.yellow h3,
.card.yellow h4,
.card.yellow h5,
.card.yellow h6,
.panel.yellow h1,
.panel.yellow h2,
.panel.yellow h3,
.panel.yellow h4,
.panel.yellow h5,
.panel.yellow h6,
.card-panel.yellow h1,
.card-panel.yellow h2,
.card-panel.yellow h3,
.card-panel.yellow h4,
.card-panel.yellow h5,
.card-panel.yellow h6 {
    color: rgba(255, 255, 255, 0.95) !important
}

.card.amber,
.panel.amber,
.card-panel.amber {
    color: #FFF !important
}

.card.amber .title,
.card.amber .subtitle,
.panel.amber .title,
.panel.amber .subtitle,
.card-panel.amber .title,
.card-panel.amber .subtitle {
    color: #FFF !important
}

.card.amber h1,
.card.amber h2,
.card.amber h3,
.card.amber h4,
.card.amber h5,
.card.amber h6,
.panel.amber h1,
.panel.amber h2,
.panel.amber h3,
.panel.amber h4,
.panel.amber h5,
.panel.amber h6,
.card-panel.amber h1,
.card-panel.amber h2,
.card-panel.amber h3,
.card-panel.amber h4,
.card-panel.amber h5,
.card-panel.amber h6 {
    color: rgba(255, 255, 255, 0.95) !important
}

.card.orange,
.panel.orange,
.card-panel.orange {
    color: #FFF !important
}

.card.orange .title,
.card.orange .subtitle,
.panel.orange .title,
.panel.orange .subtitle,
.card-panel.orange .title,
.card-panel.orange .subtitle {
    color: #FFF !important
}

.card.orange h1,
.card.orange h2,
.card.orange h3,
.card.orange h4,
.card.orange h5,
.card.orange h6,
.panel.orange h1,
.panel.orange h2,
.panel.orange h3,
.panel.orange h4,
.panel.orange h5,
.panel.orange h6,
.card-panel.orange h1,
.card-panel.orange h2,
.card-panel.orange h3,
.card-panel.orange h4,
.card-panel.orange h5,
.card-panel.orange h6 {
    color: rgba(255, 255, 255, 0.95) !important
}

.card.deep-orange,
.panel.deep-orange,
.card-panel.deep-orange {
    color: #FFF !important
}

.card.deep-orange .title,
.card.deep-orange .subtitle,
.panel.deep-orange .title,
.panel.deep-orange .subtitle,
.card-panel.deep-orange .title,
.card-panel.deep-orange .subtitle {
    color: #FFF !important
}

.card.deep-orange h1,
.card.deep-orange h2,
.card.deep-orange h3,
.card.deep-orange h4,
.card.deep-orange h5,
.card.deep-orange h6,
.panel.deep-orange h1,
.panel.deep-orange h2,
.panel.deep-orange h3,
.panel.deep-orange h4,
.panel.deep-orange h5,
.panel.deep-orange h6,
.card-panel.deep-orange h1,
.card-panel.deep-orange h2,
.card-panel.deep-orange h3,
.card-panel.deep-orange h4,
.card-panel.deep-orange h5,
.card-panel.deep-orange h6 {
    color: rgba(255, 255, 255, 0.95) !important
}

.card.brown,
.panel.brown,
.card-panel.brown {
    color: #FFF !important
}

.card.brown .title,
.card.brown .subtitle,
.panel.brown .title,
.panel.brown .subtitle,
.card-panel.brown .title,
.card-panel.brown .subtitle {
    color: #FFF !important
}

.card.brown h1,
.card.brown h2,
.card.brown h3,
.card.brown h4,
.card.brown h5,
.card.brown h6,
.panel.brown h1,
.panel.brown h2,
.panel.brown h3,
.panel.brown h4,
.panel.brown h5,
.panel.brown h6,
.card-panel.brown h1,
.card-panel.brown h2,
.card-panel.brown h3,
.card-panel.brown h4,
.card-panel.brown h5,
.card-panel.brown h6 {
    color: rgba(255, 255, 255, 0.95) !important
}

.card.blue-grey,
.panel.blue-grey,
.card-panel.blue-grey {
    color: #FFF !important
}

.card.blue-grey .title,
.card.blue-grey .subtitle,
.panel.blue-grey .title,
.panel.blue-grey .subtitle,
.card-panel.blue-grey .title,
.card-panel.blue-grey .subtitle {
    color: #FFF !important
}

.card.blue-grey h1,
.card.blue-grey h2,
.card.blue-grey h3,
.card.blue-grey h4,
.card.blue-grey h5,
.card.blue-grey h6,
.panel.blue-grey h1,
.panel.blue-grey h2,
.panel.blue-grey h3,
.panel.blue-grey h4,
.panel.blue-grey h5,
.panel.blue-grey h6,
.card-panel.blue-grey h1,
.card-panel.blue-grey h2,
.card-panel.blue-grey h3,
.card-panel.blue-grey h4,
.card-panel.blue-grey h5,
.card-panel.blue-grey h6 {
    color: rgba(255, 255, 255, 0.95) !important
}

.card.grey,
.panel.grey,
.card-panel.grey {
    color: #FFF !important
}

.card.grey .title,
.card.grey .subtitle,
.panel.grey .title,
.panel.grey .subtitle,
.card-panel.grey .title,
.card-panel.grey .subtitle {
    color: #FFF !important
}

.card.grey h1,
.card.grey h2,
.card.grey h3,
.card.grey h4,
.card.grey h5,
.card.grey h6,
.panel.grey h1,
.panel.grey h2,
.panel.grey h3,
.panel.grey h4,
.panel.grey h5,
.panel.grey h6,
.card-panel.grey h1,
.card-panel.grey h2,
.card-panel.grey h3,
.card-panel.grey h4,
.card-panel.grey h5,
.card-panel.grey h6 {
    color: rgba(255, 255, 255, 0.95) !important
}

.card.shades,
.panel.shades,
.card-panel.shades {
    color: #FFF !important
}

.card.shades .title,
.card.shades .subtitle,
.panel.shades .title,
.panel.shades .subtitle,
.card-panel.shades .title,
.card-panel.shades .subtitle {
    color: #FFF !important
}

.card.shades h1,
.card.shades h2,
.card.shades h3,
.card.shades h4,
.card.shades h5,
.card.shades h6,
.panel.shades h1,
.panel.shades h2,
.panel.shades h3,
.panel.shades h4,
.panel.shades h5,
.panel.shades h6,
.card-panel.shades h1,
.card-panel.shades h2,
.card-panel.shades h3,
.card-panel.shades h4,
.card-panel.shades h5,
.card-panel.shades h6 {
    color: rgba(255, 255, 255, 0.95) !important
}

.card.main,
.card.alternative,
.panel.main,
.panel.alternative,
.card-panel.main,
.card-panel.alternative {
    color: #FFF !important
}

.card.main .title,
.card.main .subtitle,
.card.alternative .title,
.card.alternative .subtitle,
.panel.main .title,
.panel.main .subtitle,
.panel.alternative .title,
.panel.alternative .subtitle,
.card-panel.main .title,
.card-panel.main .subtitle,
.card-panel.alternative .title,
.card-panel.alternative .subtitle {
    color: #FFF !important
}

.card.main h1,
.card.main h2,
.card.main h3,
.card.main h4,
.card.main h5,
.card.main h6,
.card.alternative h1,
.card.alternative h2,
.card.alternative h3,
.card.alternative h4,
.card.alternative h5,
.card.alternative h6,
.panel.main h1,
.panel.main h2,
.panel.main h3,
.panel.main h4,
.panel.main h5,
.panel.main h6,
.panel.alternative h1,
.panel.alternative h2,
.panel.alternative h3,
.panel.alternative h4,
.panel.alternative h5,
.panel.alternative h6,
.card-panel.main h1,
.card-panel.main h2,
.card-panel.main h3,
.card-panel.main h4,
.card-panel.main h5,
.card-panel.main h6,
.card-panel.alternative h1,
.card-panel.alternative h2,
.card-panel.alternative h3,
.card-panel.alternative h4,
.card-panel.alternative h5,
.card-panel.alternative h6 {
    color: rgba(255, 255, 255, 0.95) !important
}

.btn.small,
.btn-flat.small {
    height: 32px;
    line-height: 32px;
    padding: 0 1.7rem;
    font-size: 0.95rem
}

.btn.very-small,
.btn-flat.very-small {
    height: 32px;
    line-height: 32px;
    padding: 0 1rem
}

.card .btn-flat,
.panel .btn-flat,
.card-panel .btn-flat,
.collapsible .btn-flat,
.collection .btn-flat,
.modal .btn-flat {
    color: #343434
}

.card .btn-flat:not(.disabled):hover,
.panel .btn-flat:not(.disabled):hover,
.card-panel .btn-flat:not(.disabled):hover,
.collapsible .btn-flat:not(.disabled):hover,
.collection .btn-flat:not(.disabled):hover,
.modal .btn-flat:not(.disabled):hover {
    color: #343434
}

.fixed-action-btn .btn-floating {
    margin: 0px 3px
}

.btn i,
.btn-large i,
.btn-flat i,
.btn-floating i,
.btn-large i {
    vertical-align: -5px
}

.input-field .prefix ~ label {
    width: calc(100% - 3rem) !important
}

select.browser-default {
    color: #737373
}

nav .nav-wrapper form {
    height: 100%
}

nav .nav-wrapper .input-field {
    height: 100%
}

.error-text {
    color: #26a69a
}

.success-text {
    color: #8bc34a
}

.collapsible {
    color: rgba(0, 0, 0, 0.82)
}

.collapsible .collapsible-body {
    background: #FAFAFA
}

.collection {
    color: #646464
}

.collection h1,
.collection h2,
.collection h3,
.collection h4,
.collection h5,
.collection h6 {
    color: #545454
}

img.materialboxed.active {
    max-width: none !important
}

.modal {
    color: #737373
}

.modal h1,
.modal h2,
.modal h3,
.modal h4,
.modal h5,
.modal h6 {
    color: #545454
}

.slider .slides h1,
.slider .slides h2,
.slider .slides h3,
.slider .slides h4,
.slider .slides h5,
.slider .slides h6 {
    color: #FFF
}

table {
    color: #737373;
    width: 100% !important
}

table>thead {
    background-color: #FCFCFC;
    border-bottom: 1px solid #F0F0F0
}

table>thead th {
    font-weight: 500;
    text-transform: uppercase
}

table>tbody {
    background-color: #FFF
}

table th,
table td {
    border-radius: 0px
}

table.striped>tbody>tr:nth-child(odd) {
    background-color: inherit
}

table.striped>tbody>tr:nth-child(even) {
    background-color: #FCFCFC
}

table.highlight tr:hover {
    background-color: #FCFCFC !important
}

table.bordered>thead>tr,
table.bordered>tbody>tr {
    border-bottom: 1px solid #F0F0F0
}

.dataTables_wrapper {
    position: relative
}

.dataTables_wrapper table.dataTable thead th,
.dataTables_wrapper table.dataTable thead td {
    border-bottom: none !important
}

.dataTables_wrapper table.dataTable thead .sorting,
.dataTables_wrapper table.dataTable thead .sorting_asc,
.dataTables_wrapper table.dataTable thead .sorting_desc {
    padding-right: 30px
}

.dataTables_wrapper table.dataTable thead .sorting,
.dataTables_wrapper table.dataTable thead .sorting_asc,
.dataTables_wrapper table.dataTable thead .sorting_desc,
.dataTables_wrapper table.dataTable thead .sorting_asc_disabled,
.dataTables_wrapper table.dataTable thead .sorting_desc_disabled {
    cursor: pointer;
    position: relative
}

.dataTables_wrapper table.dataTable thead .sorting:before,
.dataTables_wrapper table.dataTable thead .sorting:after,
.dataTables_wrapper table.dataTable thead .sorting_asc:before,
.dataTables_wrapper table.dataTable thead .sorting_asc:after,
.dataTables_wrapper table.dataTable thead .sorting_desc:before,
.dataTables_wrapper table.dataTable thead .sorting_desc:after,
.dataTables_wrapper table.dataTable thead .sorting_asc_disabled:before,
.dataTables_wrapper table.dataTable thead .sorting_asc_disabled:after,
.dataTables_wrapper table.dataTable thead .sorting_desc_disabled:before,
.dataTables_wrapper table.dataTable thead .sorting_desc_disabled:after {
    position: absolute;
    bottom: 11px;
    display: block;
    opacity: 0.3;
    font-size: 1.3em
}

.dataTables_wrapper table.dataTable thead .sorting:before,
.dataTables_wrapper table.dataTable thead .sorting_asc:before,
.dataTables_wrapper table.dataTable thead .sorting_desc:before,
.dataTables_wrapper table.dataTable thead .sorting_asc_disabled:before,
.dataTables_wrapper table.dataTable thead .sorting_desc_disabled:before {
    right: 1em;
    content: "\2191"
}

.dataTables_wrapper table.dataTable thead .sorting:after,
.dataTables_wrapper table.dataTable thead .sorting_asc:after,
.dataTables_wrapper table.dataTable thead .sorting_desc:after,
.dataTables_wrapper table.dataTable thead .sorting_asc_disabled:after,
.dataTables_wrapper table.dataTable thead .sorting_desc_disabled:after {
    right: 0.5em;
    content: "\2193"
}

.dataTables_wrapper table.dataTable thead .sorting_asc:before,
.dataTables_wrapper table.dataTable thead .sorting_desc:after {
    opacity: 1
}

.dataTables_wrapper table.dataTable thead .sorting_asc_disabled:before,
.dataTables_wrapper table.dataTable thead .sorting_desc_disabled:after {
    opacity: 0
}

.dataTables_wrapper table.dataTable.no-footer {
    border-bottom: none !important
}

.dataTables_wrapper .row {
    margin-bottom: 0rem
}

.dataTables_wrapper .dataTables_length.input-field label {
    left: 0rem
}

.dataTables_wrapper .dataTables_filter.input-field.without-search-bar input {
    background-color: transparent !important;
    padding-left: 0rem;
    width: 100%
}

@media (max-width: 600px) {
    .dataTables_wrapper .dataTables_filter.input-field.without-search-bar label {
        left: 0rem !important
    }
}

@media (min-width: 601px) {
    .dataTables_wrapper .dataTables_filter.input-field.without-search-bar label {
        left: auto !important;
        right: 0rem
    }
}

.dataTables_wrapper .dataTables_info {
    padding-top: 15px;
    color: #9e9e9e
}

.dataTables_wrapper .dataTables_paginate {
    padding-top: 10px;
    text-align: right
}

.dataTables_wrapper .dataTables_paginate a:not(.current):not(.disabled):hover {
    opacity: 0.8
}

.dataTables_wrapper .dataTables_empty {
    text-align: center;
    color: #9e9e9e
}

.margin-0 {
    margin: 0px !important
}

.margin-top-0 {
    margin-top: 0px !important
}

.margin-right-0 {
    margin-right: 0px !important
}

.margin-bottom-0 {
    margin-bottom: 0px !important
}

.margin-left-0 {
    margin-left: 0px !important
}

.padding-0 {
    padding: 0px !important
}

.padding-top-0 {
    padding-top: 0px !important
}

.padding-right-0 {
    padding-right: 0px !important
}

.padding-bottom-0 {
    padding-bottom: 0px !important
}

.padding-left-0 {
    padding-left: 0px !important
}

.margin-5 {
    margin: 5px !important
}

.margin-top-5 {
    margin-top: 5px !important
}

.margin-right-5 {
    margin-right: 5px !important
}

.margin-bottom-5 {
    margin-bottom: 5px !important
}

.margin-left-5 {
    margin-left: 5px !important
}

.padding-5 {
    padding: 5px !important
}

.padding-top-5 {
    padding-top: 5px !important
}

.padding-right-5 {
    padding-right: 5px !important
}

.padding-bottom-5 {
    padding-bottom: 5px !important
}

.padding-left-5 {
    padding-left: 5px !important
}

.margin-10 {
    margin: 10px !important
}

.margin-top-10 {
    margin-top: 10px !important
}

.margin-right-10 {
    margin-right: 10px !important
}

.margin-bottom-10 {
    margin-bottom: 10px !important
}

.margin-left-10 {
    margin-left: 10px !important
}

.padding-10 {
    padding: 10px !important
}

.padding-top-10 {
    padding-top: 10px !important
}

.padding-right-10 {
    padding-right: 10px !important
}

.padding-bottom-10 {
    padding-bottom: 10px !important
}

.padding-left-10 {
    padding-left: 10px !important
}

.margin-15 {
    margin: 15px !important
}

.margin-top-15 {
    margin-top: 15px !important
}

.margin-right-15 {
    margin-right: 15px !important
}

.margin-bottom-15 {
    margin-bottom: 15px !important
}

.margin-left-15 {
    margin-left: 15px !important
}

.padding-15 {
    padding: 15px !important
}

.padding-top-15 {
    padding-top: 15px !important
}

.padding-right-15 {
    padding-right: 15px !important
}

.padding-bottom-15 {
    padding-bottom: 15px !important
}

.padding-left-15 {
    padding-left: 15px !important
}

.margin-20 {
    margin: 20px !important
}

.margin-top-20 {
    margin-top: 20px !important
}

.margin-right-20 {
    margin-right: 20px !important
}

.margin-bottom-20 {
    margin-bottom: 20px !important
}

.margin-left-20 {
    margin-left: 20px !important
}

.padding-20 {
    padding: 20px !important
}

.padding-top-20 {
    padding-top: 20px !important
}

.padding-right-20 {
    padding-right: 20px !important
}

.padding-bottom-20 {
    padding-bottom: 20px !important
}

.padding-left-20 {
    padding-left: 20px !important
}

.margin-25 {
    margin: 25px !important
}

.margin-top-25 {
    margin-top: 25px !important
}

.margin-right-25 {
    margin-right: 25px !important
}

.margin-bottom-25 {
    margin-bottom: 25px !important
}

.margin-left-25 {
    margin-left: 25px !important
}

.padding-25 {
    padding: 25px !important
}

.padding-top-25 {
    padding-top: 25px !important
}

.padding-right-25 {
    padding-right: 25px !important
}

.padding-bottom-25 {
    padding-bottom: 25px !important
}

.padding-left-25 {
    padding-left: 25px !important
}

.margin-30 {
    margin: 30px !important
}

.margin-top-30 {
    margin-top: 30px !important
}

.margin-right-30 {
    margin-right: 30px !important
}

.margin-bottom-30 {
    margin-bottom: 30px !important
}

.margin-left-30 {
    margin-left: 30px !important
}

.padding-30 {
    padding: 30px !important
}

.padding-top-30 {
    padding-top: 30px !important
}

.padding-right-30 {
    padding-right: 30px !important
}

.padding-bottom-30 {
    padding-bottom: 30px !important
}

.padding-left-30 {
    padding-left: 30px !important
}

.margin-35 {
    margin: 35px !important
}

.margin-top-35 {
    margin-top: 35px !important
}

.margin-right-35 {
    margin-right: 35px !important
}

.margin-bottom-35 {
    margin-bottom: 35px !important
}

.margin-left-35 {
    margin-left: 35px !important
}

.padding-35 {
    padding: 35px !important
}

.padding-top-35 {
    padding-top: 35px !important
}

.padding-right-35 {
    padding-right: 35px !important
}

.padding-bottom-35 {
    padding-bottom: 35px !important
}

.padding-left-35 {
    padding-left: 35px !important
}

.margin-40 {
    margin: 40px !important
}

.margin-top-40 {
    margin-top: 40px !important
}

.margin-right-40 {
    margin-right: 40px !important
}

.margin-bottom-40 {
    margin-bottom: 40px !important
}

.margin-left-40 {
    margin-left: 40px !important
}

.padding-40 {
    padding: 40px !important
}

.padding-top-40 {
    padding-top: 40px !important
}

.padding-right-40 {
    padding-right: 40px !important
}

.padding-bottom-40 {
    padding-bottom: 40px !important
}

.padding-left-40 {
    padding-left: 40px !important
}

.margin-45 {
    margin: 45px !important
}

.margin-top-45 {
    margin-top: 45px !important
}

.margin-right-45 {
    margin-right: 45px !important
}

.margin-bottom-45 {
    margin-bottom: 45px !important
}

.margin-left-45 {
    margin-left: 45px !important
}

.padding-45 {
    padding: 45px !important
}

.padding-top-45 {
    padding-top: 45px !important
}

.padding-right-45 {
    padding-right: 45px !important
}

.padding-bottom-45 {
    padding-bottom: 45px !important
}

.padding-left-45 {
    padding-left: 45px !important
}

.margin-50 {
    margin: 50px !important
}

.margin-top-50 {
    margin-top: 50px !important
}

.margin-right-50 {
    margin-right: 50px !important
}

.margin-bottom-50 {
    margin-bottom: 50px !important
}

.margin-left-50 {
    margin-left: 50px !important
}

.padding-50 {
    padding: 50px !important
}

.padding-top-50 {
    padding-top: 50px !important
}

.padding-right-50 {
    padding-right: 50px !important
}

.padding-bottom-50 {
    padding-bottom: 50px !important
}

.padding-left-50 {
    padding-left: 50px !important
}

.font-weight-100 {
    font-weight: 100
}

.font-weight-200 {
    font-weight: 200
}

.font-weight-300 {
    font-weight: 300
}

.font-weight-400 {
    font-weight: 400
}

.font-weight-500 {
    font-weight: 500
}

.font-weight-600 {
    font-weight: 600
}

.font-weight-700 {
    font-weight: 700
}

.font-weight-800 {
    font-weight: 800
}

.font-weight-900 {
    font-weight: 900
}

.font-weight-1000 {
    font-weight: 1000
}

.bold {
    font-weight: 500
}

.bolder {
    font-weight: 700
}

.font-size-0-9 {
    font-size: 0.9rem !important
}

.font-size-0-8 {
    font-size: 0.8rem !important
}

.font-size-0-7 {
    font-size: 0.7rem !important
}

.font-size-0-95 {
    font-size: 0.95rem !important
}

.font-size-0-85 {
    font-size: 0.85rem !important
}

.font-size-0-75 {
    font-size: 0.75rem !important
}

.row.no-gutter {
    margin-left: -0.75rem;
    margin-right: -0.75rem
}

:not(pre)>code[class*="language-"] {
    padding: .1em;
    border-radius: .3em;
    background: #f5f2f0;
    color: #323232
}

.prettyprint {
    position: relative;
    background-color: #f5f2f0;
    padding: 20px 15px !important;
    border: solid 1px rgba(51, 51, 51, 0.12) !important;
    tab-size: 4
}

.prettyprint[class*="language-"] {
    padding: 40px 15px 20px !important
}

.prettyprint[class*="language-"]:before {
    position: absolute;
    padding: 1px 5px;
    background: #e8e6e3;
    top: 0;
    left: 0;
    color: #545454;
    content: attr(data-language);
    font-size: .9rem;
    border: solid 1px rgba(51, 51, 51, 0.12);
    border-left: 0px;
    border-top: 0px
}

p code {
    font-size: .95rem;
    padding: 2px 3px;
    background: #EFEFEF
}

.waves-effect.waves-lighten-1 .waves-ripple {
    background-color: rgba(0, 0, 0, 0.18)
}

.waves-effect.waves-lighten-2 .waves-ripple {
    background-color: rgba(0, 0, 0, 0.16)
}

.waves-effect.waves-lighten-3 .waves-ripple {
    background-color: rgba(0, 0, 0, 0.14)
}

.waves-effect.waves-lighten-4 .waves-ripple {
    background-color: rgba(0, 0, 0, 0.12)
}

.waves-effect.waves-lighten-5 .waves-ripple {
    background-color: rgba(0, 0, 0, 0.1)
}

.waves-effect.waves-darken-1 .waves-ripple {
    background-color: rgba(0, 0, 0, 0.23)
}

.waves-effect.waves-darken-2 .waves-ripple {
    background-color: rgba(0, 0, 0, 0.26)
}

.waves-effect.waves-darken-3 .waves-ripple {
    background-color: rgba(0, 0, 0, 0.29)
}

.waves-effect.waves-darken-4 .waves-ripple {
    background-color: rgba(0, 0, 0, 0.32)
}

.waves-effect.waves-light.waves-lighten-1 .waves-ripple {
    background-color: rgba(255, 255, 255, 0.35)
}

.waves-effect.waves-light.waves-lighten-2 .waves-ripple {
    background-color: rgba(255, 255, 255, 0.3)
}

.waves-effect.waves-light.waves-lighten-3 .waves-ripple {
    background-color: rgba(255, 255, 255, 0.25)
}

.waves-effect.waves-light.waves-lighten-4 .waves-ripple {
    background-color: rgba(255, 255, 255, 0.2)
}

.waves-effect.waves-light.waves-lighten-5 .waves-ripple {
    background-color: rgba(255, 255, 255, 0.1)
}

.waves-effect.waves-light.waves-darken-1 .waves-ripple {
    background-color: rgba(255, 255, 255, 0.5)
}

.waves-effect.waves-light.waves-darken-2 .waves-ripple {
    background-color: rgba(255, 255, 255, 0.55)
}

.waves-effect.waves-light.waves-darken-3 .waves-ripple {
    background-color: rgba(255, 255, 255, 0.6)
}

.waves-effect.waves-light.waves-darken-4 .waves-ripple {
    background-color: rgba(255, 255, 255, 0.65)
}

nav {
    background: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.08), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}

nav .brand-logo {
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.87) !important
}

nav .brand-logo img {
    max-height: 40px;
    vertical-align: middle;
    margin-right: 5px;
    margin-top: -4px
}

@media (min-width: 993px) and (max-width: 1199px) {
    nav .brand-logo {
        display: none
    }
}

nav .nav-wrapper .button-collapse {
    color: rgba(0, 0, 0, 0.87) !important
}

nav .nav-wrapper .dropdown-content {
    min-width: 150px
}

nav .nav-wrapper .dropdown-content li {
    min-width: 150px;
}

nav .nav-wrapper .dropdown-content.padding li {
  padding: 0 12px;
}
nav .nav-wrapper .dropdown-content.padding li .dropdown-icon {
  padding: 0 6px 0 0;
}

nav .nav-wrapper .dropdown-content li>a:not(.btn):not(.btn-large):not(.btn-flat),
nav .nav-wrapper .dropdown-content li>span {
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.87)
}

nav .nav-wrapper>ul>li .dropdown-icon {
    margin: 0;
    font-size: 1.5rem
}

nav .nav-wrapper>ul>li>a:not(.btn):not(.btn-large):not(.btn-flat) {
    position: relative;
    font-size: 0.95rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.87)
}

nav .nav-wrapper>ul>li>a:not(.btn):not(.btn-large):not(.btn-flat):hover {
    background: none
}

nav .nav-wrapper>ul>li>a:before {
    content: '';
    position: absolute;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    left: 50%;
    right: 50%;
    bottom: 0;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: transparent
}

nav .nav-wrapper>ul>li>a:not(.btn):not(.btn-large):not(.btn-flat):focus:before,
nav .nav-wrapper>ul>li>a:not(.btn):not(.btn-large):not(.btn-flat):hover:before {
    left: 0;
    right: 0
}

nav .nav-wrapper>ul>li>ul a:not(.btn):not(.btn-large):not(.btn-flat):hover {
    background-color: rgba(0, 0, 0, 0.05)
}

nav .nav-wrapper>ul>li.active {
    background: none
}

nav .nav-wrapper>ul>li.active>a:not(.btn):not(.btn-large):not(.btn-flat):before {
    left: 0;
    right: 0
}

nav .nav-wrapper>ul>li.profile img {
    max-width: 35px;
    max-height: 35px
}

nav .side-nav li.logo {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px
}

nav .side-nav li.logo img {
    max-width: 100px
}

nav .side-nav li.logo p {
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.87);
    margin: 0px
}

nav .side-nav>li>a,
nav .side-nav ul.collapsible li>a {
    font-size: 0.95rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.87) !important
}

nav .side-nav ul.collapsible li ul>li {
    line-height: 60px
}

nav .side-nav ul.collapsible li ul>li a {
    height: 60px;
    line-height: 60px;
    color: rgba(0, 0, 0, 0.78) !important
}

nav .breadcrumb {
    color: rgba(0, 0, 0, 0.7)
}

nav a.breadcrumb {
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -ms-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease
}

nav a.breadcrumb:hover {
    color: rgba(0, 0, 0, 0.6)
}

nav .breadcrumb:before {
    color: rgba(0, 0, 0, 0.7)
}

nav .input-field label i {
    color: rgba(0, 0, 0, 0.5)
}

nav .input-field label.active i {
    color: rgba(0, 0, 0, 0.7)
}

nav .input-field input {
    color: #444 !important;
    border: 0 !important;
    box-shadow: none !important
}

.main-content {
    padding: 2rem 1rem 1.5rem
}

.main-content .page-header {
    padding: 10px
}

.main-content .page-header h1 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 1.5rem
}

.main-content .page-header h1 i {
    font-size: 1.3rem;
    vertical-align: top
}

.main-content .page-header p {
    margin: 0;
    font-size: 14px
}

.main-content .table-of-contents li a {
    font-size: 1.1rem
}

.main-content .table-of-contents li a.active {
    padding-left: 18px;
    border-left-width: 2px
}

.main-content.no-gutter {
    padding: 1.5rem 0 0.5rem
}

footer.page-footer {
    margin-top: 0px;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.87);
    box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, 0.08), 0 0px 10px 0 rgba(0, 0, 0, 0.05)
}

footer.page-footer .brand-logo {
    margin-top: 6px
}

footer.page-footer .brand-logo img {
    max-height: 40px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 5px
}

footer.page-footer .brand-logo h1,
footer.page-footer .brand-logo h2,
footer.page-footer .brand-logo h3,
footer.page-footer .brand-logo h4,
footer.page-footer .brand-logo h5,
footer.page-footer .brand-logo h6 {
    display: inline-block;
    vertical-align: middle;
    padding: 0px;
    margin: 0px
}

footer.page-footer p {
    color: #424242
}

footer.page-footer h1,
footer.page-footer h2,
footer.page-footer h3,
footer.page-footer h4,
footer.page-footer h5,
footer.page-footer h6 {
    color: rgba(0, 0, 0, 0.87)
}

footer.page-footer ul li a {
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -ms-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
    font-size: 0.95rem;
    color: #898989 !important
}

footer.page-footer .footer-copyright {
    background-color: #FCFCFC;
    border-top: 1px solid #F0F0F0;
    color: #898989
}

footer.page-footer .footer-copyright a {
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -ms-transition: .3s linear;
    -o-transition: .3s linear;
    transition: .3s linear;
    color: #737373
}

/* SELECT2 */
.select2 .selection .select2-selection--single, .select2-container--default .select2-search--dropdown .select2-search__field {
    border-width: 0 0 1px 0 !important;
    border-radius: 0 !important;
    height: 2.05rem;
}

.select2-container--default .select2-selection--multiple, .select2-container--default.select2-container--focus .select2-selection--multiple {
    border-width: 0 0 1px 0 !important;
    border-radius: 0 !important;
}

.select2-results__option {
    color: #66bb6a;
    padding: 8px 16px;
    font-size: 16px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #eee !important;
    color: #66bb6a !important;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #e1e1e1 !important;
}

.select2-dropdown {
    border: none !important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.select2-container--default .select2-results__option[role=group] .select2-results__group {
    background-color: #333333;
    color: #fff;
}

.select2-container .select2-search--inline .select2-search__field {
    margin-top: 0 !important;
}

.select2-container .select2-search--inline .select2-search__field:focus {
    border-bottom: none !important;
    box-shadow: none !important;
}

.select2-container .select2-selection--multiple {
    min-height: 2.05rem !important;
}

.select2-container--default.select2-container--disabled .select2-selection--single {
    background-color: #ddd !important;
    color: rgba(0,0,0,0.26);
    border-bottom: 1px dotted rgba(0,0,0,0.26);
}

@media (min-width: 993px) and (max-width: 1024px) {
    footer.page-footer {
        font-size: 0.9rem
    }
    footer.page-footer .brand-logo img {
        max-height: 35px
    }
    footer.page-footer h5 {
        font-size: 1.4rem
    }
    footer.page-footer .footer-links a {
        font-size: 0.9rem
    }
}

@media (min-width: 993px) {
    footer.page-footer .footer-links {
        text-align: right
    }
}
