figure.user{
  display: inline-block;
  position: relative;
  padding: 0 8px;
  margin: 0;
}
figure.user i.status{
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  border-radius: 100%;
  background-color: #fff;
}
figure.user i.status.complete{
  color: #00bfa5;
}

figure.user i.status.pending{
  color: #b71c1c;
}

figure.user i.status.manager{
  color: #ffc400;
  right: 33px;
  top: -10px;
}
.new-notifications{
  position: absolute;
  top: -15px;
  right: 15px;
}
.borderless{
  border: 0
}
.row.flex-centered{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.flex-centered{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.flex-end{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.centered-text
{
  text-align: center;
}
.text-right
{
  text-align: right;
}

.inline-block
{
  display: inline-block;
}
.space-between
{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button.add-user
{
  border: none;
  border-radius: 100%;
  width: 75px;
  height: 75px;
}

.messages-wrapper .message.sent .text p{
  text-align: left;
}
.messages-wrapper .message.received .text p{
  text-align: left;
}
.messages-wrapper .message.sent .text .name small{
  float: right;
}
.messages-wrapper .message.received .text .name small{
  float: left;
}

.pad-15{
  padding: 15px;
}

.x170
{
  width: 170px;
  height: 170px;
}

.stripe-button , .stripe-button-el
{
  display: none !important;
  visibility: hidden !important;
}

.preloader-wrapper.xs
{
  width: 25px;
  height: 25px;
}

.hidden
{
  display: none
}

.pointer{
  cursor: pointer !important;
}

.error {
    background: #b71c1c !important;
}

.success {
    background: #00bfa5 !important;
}

.info {
    background: #0d47a1 !important;
}

.warning {
    background: #ff6f00 !important;
}
