<div class="main-content no-gutter">
  <section id="tickets">

    <div class="row">
      <div class="col s12">
        <div class="panel panel-bordered z-depth-1">
          <div class="row">
            <br>
            <div class="input-field col s12 m8">
              <i class="fa fa-search prefix"></i>
              <input id="icon_prefix" type="text" class="validate" data-search >
              <label for="icon_prefix" class="">Filter Results</label>
            </div>
            <div class="input-field col s12 m4">
              <select data-filter >
                <option value="0" selected="selected">All</option>
                <option value="1">Open</option>
                <option value="2">Reopened</option>
                <option value="3">In Progress</option>
                <option value="4">Canceled</option>
              </select>
              <label>Status Filter</label>
            </div>
          </div>
          <div class="row">

            <div class="col s12">
              <table class="responsive-table">
                <thead>
                  <tr>
                    <th>Ticket</th>
                    <th>Category</th>
                    <th>Title</th>
                    <th>Client</th>
                    <th>Status</th>
                    <th>Last Interaction</th>
                    <th><i class="fa fa-cogs"></i></th>
                  </tr>
                </thead>
                <tbody>
                  <?php foreach($tickets as $ticket): ?>
                    <tr data-searchable data-filterable="<?php echo $ticket->status;?>" >
                        <td>#<?php echo $ticket->unique; ?></td>
                        <td><?php echo $ticket->category; ?></td>
                        <td><?php echo $ticket->title; ?></td>
                        <td>
                          <div class="chip">
                            <img src="<?php echo $staticUrl;?>/assets/manager/images/avatar/<?php echo $ticket->image ?: 'placeholder/'.substr($ticket->name,0,1).'.jpg'; ?>" alt="<?php echo $ticket->name; ?>">
                            <?php echo $ticket->name; ?>

                            <?php if($ticket->company): ?>
                            <div class="chip">
                              <?php echo $ticket->company; ?>
                            </div>
                            <?php endif;?>
                          </div>
                        </td>
                        <td>
                        <?php
                        switch ($ticket->status)
                        {
                          case 1 : echo "Open"; break;
                          case 2 : echo "Reopened"; break;
                          case 3 : echo "In Progress"; break;
                          case 4 : echo "Closed"; break;
                        }
                        ?>
                        </td>
                        <td>
                          <?php echo (new DateTime($ticket->updated))->format($date_format); ?>
                        </td>
                        <td class="left">
                          <div class="btn-group">
                            <button type="button" class="btn indigo darken-1 waves-effect waves-light" data-href="<?php echo $staticUrl;?>/ticket/overview/<?php echo $ticket->unique ;?>">
                              <i class="material-icons">visibility</i>
                            </button>
                            <?php if($crud->tickets_update): ?>
                            <button type="button" class="btn blue darken-3 waves-effect waves-light" data-ajax="<?php echo $staticUrl; ?>/ticket/modify/<?php echo $ticket->unique ;?>">
                              <i class="material-icons">settings</i>
                            </button>
                            <?php endif; ?>
                            <?php if($crud->tickets_delete): ?>
                            <button type="button" class="btn red darken-4 waves-effect waves-light" data-ajax="<?php echo $staticUrl; ?>/ticket/remove/<?php echo $ticket->unique ;?>">
                              <i class="material-icons">close</i>
                            </button>
                            <?php endif; ?>
                          </div>
                        </td>
                    </tr>
                  <?php endforeach; ?>
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
</div>

<div id="modal-results"></div>
