.alternative.lighten-5 {
    background-color: #FFEBEE
}

.btn.alternative.lighten-5:hover {
    background-color: #fff
}

.btn.alternative.lighten-5:focus {
    background-color: #fff
}

a.alternative-text.lighten-5 {
    color: #FFEBEE
}

a.alternative-text.lighten-5:hover {
    color: #ffc7d0 !important
}

.alternative-text.lighten-5 {
    color: #FFEBEE
}

.alternative-dropdown.lighten-5 li>a,
.alternative-dropdown.lighten-5 li>span {
    color: #FFEBEE
}

.alternative.lighten-4 {
    background-color: #FFCDD2
}

.btn.alternative.lighten-4:hover {
    background-color: #ffe7e9
}

.btn.alternative.lighten-4:focus {
    background-color: #ffe1e4
}

a.alternative-text.lighten-4 {
    color: #FFCDD2
}

a.alternative-text.lighten-4:hover {
    color: #ffa9b2 !important
}

.alternative-text.lighten-4 {
    color: #FFCDD2
}

.alternative-dropdown.lighten-4 li>a,
.alternative-dropdown.lighten-4 li>span {
    color: #FFCDD2
}

.alternative.lighten-3 {
    background-color: #EF9A9A
}

.btn.alternative.lighten-3:hover {
    background-color: #f2b0b0
}

.btn.alternative.lighten-3:focus {
    background-color: #f2acac
}

a.alternative-text.lighten-3 {
    color: #EF9A9A
}

a.alternative-text.lighten-3:hover {
    color: #ea7b7b !important
}

.alternative-text.lighten-3 {
    color: #EF9A9A
}

.alternative-dropdown.lighten-3 li>a,
.alternative-dropdown.lighten-3 li>span {
    color: #EF9A9A
}

.alternative.lighten-2 {
    background-color: #E57373
}

.btn.alternative.lighten-2:hover {
    background-color: #e98989
}

.btn.alternative.lighten-2:focus {
    background-color: #e88484
}

a.alternative-text.lighten-2 {
    color: #E57373
}

a.alternative-text.lighten-2:hover {
    color: #df5555 !important
}

.alternative-text.lighten-2 {
    color: #E57373
}

.alternative-dropdown.lighten-2 li>a,
.alternative-dropdown.lighten-2 li>span {
    color: #E57373
}

.alternative.lighten-1 {
    background-color: #26a69a
}

.btn.alternative.lighten-1:hover {
    background-color: #f16a67
}

.btn.alternative.lighten-1:focus {
    background-color: #f16563
}

a.alternative-text.lighten-1 {
    color: #26a69a
}

a.alternative-text.lighten-1:hover {
    color: #ec332f !important
}

.alternative-text.lighten-1 {
    color: #26a69a
}

.alternative-dropdown.lighten-1 li>a,
.alternative-dropdown.lighten-1 li>span {
    color: #26a69a
}

.alternative {
    background-color: #F44336
}

.btn.alternative:hover {
    background-color: #f55a4e
}

.btn.alternative:focus {
    background-color: #f55549
}

a.alternative-text {
    color: #F44336
}

a.alternative-text:hover {
    color: #f22314 !important
}

.alternative-text {
    color: #F44336
}

.alternative-dropdown li>a,
.alternative-dropdown li>span {
    color: #F44336
}

.waves-effect.waves-alternative .waves-ripple {
    background-color: rgba(249, 157, 151, 0.6)
}

.alternative.darken-1 {
    background-color: #E53935
}

.btn.alternative.darken-1:hover {
    background-color: #e84f4c
}

.btn.alternative.darken-1:focus {
    background-color: #e74b47
}

a.alternative-text.darken-1 {
    color: #E53935
}

a.alternative-text.darken-1:hover {
    color: #da201c !important
}

.alternative-text.darken-1 {
    color: #E53935
}

.alternative-dropdown.darken-1 li>a,
.alternative-dropdown.darken-1 li>span {
    color: #E53935
}

.alternative.darken-2 {
    background-color: #D32F2F
}

.btn.alternative.darken-2:hover {
    background-color: #d74444
}

.btn.alternative.darken-2:focus {
    background-color: #d74040
}

a.alternative-text.darken-2 {
    color: #D32F2F
}

a.alternative-text.darken-2:hover {
    color: #b72727 !important
}

.alternative-text.darken-2 {
    color: #D32F2F
}

.alternative-dropdown.darken-2 li>a,
.alternative-dropdown.darken-2 li>span {
    color: #D32F2F
}

.alternative.darken-3 {
    background-color: #C62828
}

.btn.alternative.darken-3:hover {
    background-color: #d63232
}

.btn.alternative.darken-3:focus {
    background-color: #d52e2e
}

a.alternative-text.darken-3 {
    color: #C62828
}

a.alternative-text.darken-3:hover {
    color: #a82222 !important
}

.alternative-text.darken-3 {
    color: #C62828
}

.alternative-dropdown.darken-3 li>a,
.alternative-dropdown.darken-3 li>span {
    color: #C62828
}

.alternative.darken-4 {
    background-color: #B71C1C
}

.btn.alternative.darken-4:hover {
    background-color: #cd1f1f
}

.btn.alternative.darken-4:focus {
    background-color: #c91f1f
}

a.alternative-text.darken-4 {
    color: #B71C1C
}

a.alternative-text.darken-4:hover {
    color: #981717 !important
}

.alternative-text.darken-4 {
    color: #B71C1C
}

.alternative-dropdown.darken-4 li>a,
.alternative-dropdown.darken-4 li>span {
    color: #B71C1C
}

.alternative.accent-1 {
    background-color: #FF8A80
}

.btn.alternative.accent-1:hover {
    background-color: #ffa19a
}

.btn.alternative.accent-1:focus {
    background-color: #ff9d94
}

a.alternative-text.accent-1 {
    color: #FF8A80
}

a.alternative-text.accent-1:hover {
    color: #ff695c !important
}

.alternative-text.accent-1 {
    color: #FF8A80
}

.alternative-dropdown.accent-1 li>a,
.alternative-dropdown.accent-1 li>span {
    color: #FF8A80
}

.alternative.accent-2 {
    background-color: #FF5252
}

.btn.alternative.accent-2:hover {
    background-color: #ff6c6c
}

.btn.alternative.accent-2:focus {
    background-color: #f66
}

a.alternative-text.accent-2 {
    color: #FF5252
}

a.alternative-text.accent-2:hover {
    color: #ff2e2e !important
}

.alternative-text.accent-2 {
    color: #FF5252
}

.alternative-dropdown.accent-2 li>a,
.alternative-dropdown.accent-2 li>span {
    color: #FF5252
}

.alternative.accent-3 {
    background-color: #FF1744
}

.btn.alternative.accent-3:hover {
    background-color: #ff3159
}

.btn.alternative.accent-3:focus {
    background-color: #ff2b54
}

a.alternative-text.accent-3 {
    color: #FF1744
}

a.alternative-text.accent-3:hover {
    color: #f2002f !important
}

.alternative-text.accent-3 {
    color: #FF1744
}

.alternative-dropdown.accent-3 li>a,
.alternative-dropdown.accent-3 li>span {
    color: #FF1744
}

.alternative.accent-4 {
    background-color: #D50000
}

.btn.alternative.accent-4:hover {
    background-color: #ef0000
}

.btn.alternative.accent-4:focus {
    background-color: #e90000
}

a.alternative-text.accent-4 {
    color: #D50000
}

a.alternative-text.accent-4:hover {
    color: #b10000 !important
}

.alternative-text.accent-4 {
    color: #D50000
}

.alternative-dropdown.accent-4 li>a,
.alternative-dropdown.accent-4 li>span {
    color: #D50000
}

.btn,
.btn-large,
.btn-floating {
    background-color: #26a69a
}

.btn:hover,
.btn-large:hover,
.btn-floating:hover {
    background-color: #f16a67
}

.btn:focus,
.btn-large:focus,
.btn-floating:focus {
    background-color: #f16563
}

.btn:not(.white):not(:disabled),
.btn-large:not(:white):not(:disabled) {
    color: #FFF !important
}

.btn:not(.white):not(:disabled) i,
.btn-large:not(:white):not(:disabled) i {
    color: #FFF !important
}

.btn:not(.white):not(:disabled):hover,
.btn-large:not(:white):not(:disabled):hover {
    color: #FFF !important
}

.btn:not(.white):not(:disabled):hover i,
.btn-large:not(:white):not(:disabled):hover i {
    color: #FFF !important
}

.btn.white:not(:disabled),
.btn-large.white:not(:disabled) {
    color: #26a69a !important
}

.btn.white:not(:disabled) i,
.btn-large.white:not(:disabled) i {
    color: #26a69a !important
}

.btn.white:not(:disabled):hover,
.btn-large.white:not(:disabled):hover {
    color: #26a69a !important
}

.btn.white:not(:disabled):hover i,
.btn-large.white:not(:disabled):hover i {
    color: #26a69a !important
}

.dropdown-content li>a,
.dropdown-content li>span {
    color: #F44336
}

span.badge.new {
    background-color: #26a69a
}

.pagination li.active {
    background-color: #26a69a
}

.pagination li.active a {
    color: #fff !important
}

.progress {
    background-color: #fdebea;
    height: 12px;
}
/*
.progress .determinate,
.progress .indeterminate {
    background-color: #26a69a
}*/

.preloader-wrapper .spinner-layer:not([class*="spinner-blue"]):not([class*="spinner-red"]):not([class*="spinner-yellow"]):not([class*="spinner-green"]) {
    border-color: #26a69a
}

.tabs .tab a {
    color: #26a69a
}

.tabs .tab a:hover {
    color: #f8afad
}

.tabs .tab.disabled a {
    color: #f8afad
}

.tabs .indicator {
    background-color: #26a69a
}

.picker__date-display {
    background-color: #26a69a
}

.picker__nav--prev:hover,
.picker__nav--next:hover {
    background: #fdf5f4
}

.picker__weekday-display {
    background-color: #00897b
}

.picker__day.picker__day--today {
    color: #26a69a
}

.picker__day--selected,
.picker__day--selected:hover,
.picker--focused .picker__day--selected {
    background-color: #26a69a
}

.picker__day--selected.picker__day--outfocus,
.picker__day--selected:hover.picker__day--outfocus,
.picker--focused .picker__day--selected.picker__day--outfocus {
    background-color: #fdf5f4
}

.picker__close,
.picker__today {
    color: #26a69a
}

button.picker__today:focus,
button.picker__clear:focus,
button.picker__close:focus {
    background-color: #fdf5f4
}
