<div class="login-wrapper">
	<form action="<?php echo $staticUrl;?>/login/verify/<?php echo $hash; ?>" method="post" accept-charset="utf8" role="AjaxForm">
		<div class="panel panel-bordered z-depth-1">
			<div class="panel-header">
				<h5>
					Reset <b class="main-text">Password</b>
				</h5>
			</div>
			<?php echo $form->render("security"); ?>

			<div class="panel-body">
				<div class="input-field">
					<?php echo $form->render("code"); ?>
					<label for="login">Security Code:</label>
				</div>
				<div class="input-field">
					<?php echo $form->render("password"); ?>
					<label for="login">New Password:</label>
				</div>
				<p class="center-align">Please input the security code we sent to your e-mail address & your new password.</p>
			</div>

			<div class="panel-footer">
				<div class="right-align">
					<button type="submit" class="btn-flat waves-effect">
						Continue
					</button>
				</div>
			</div>
		</div>
	</form>
</div>
