<div class="login-wrapper">

	<?php if($installer): ?>
	<div class="card-panel teal lighten-1 text-white	">
		<strong>Hey!</strong>
		Seems like it's your first time running this app ! Quickly set this app up with the dependencies and configurations , <a href="<?php echo $staticUrl;?>/installer"> <u>HERE</u> </a> !
	</div>
	<?php else: ?>

	<form action="<?php echo $staticUrl;?>/login/auth" method="post" accept-charset="utf8" role="AjaxForm" data-before="false">
		<div class="panel panel-bordered z-depth-1">
			<div class="panel-header">
				<img src="<?php echo $staticUrl;?>/assets/manager/images/<?php echo $logo; ?>" alt="" height="120" />
				<h5>
					<b class="main-text"><?php echo $title->first; ?></b> <?php echo $title->all; ?>
				</h5>
			</div>
			<?php echo $form->render("security"); ?>

			<div class="panel-body">
				<div class="input-field">
					<?php echo $form->render("username"); ?>
					<label for="login">Username | E-Mail </label>
				</div>
				<div class="input-field">
					<?php echo $form->render("password"); ?>
					<label for="password">Password</label>
				</div>
			</div>

			<div class="panel-footer">
				<div class="right-align">
					<a href="<?php echo $staticUrl;?>/login/reset" class="btn-flat waves-effect">
						FORGOT PASSWORD
					</a>

					<button type="submit" class="btn-flat waves-effect">
						LOG IN
					</button>
				</div>
			</div>
		</div>
	</form>
	<?php endif;?>
</div>
