<div class="login-wrapper">
	<form action="<?php echo $staticUrl;?>/login/request/confirmation" method="post" accept-charset="utf8" role="AjaxForm">
		<div class="panel panel-bordered z-depth-1">
			<div class="panel-header">
				<h5>
					Reset <b class="main-text">Password</b>
				</h5>
			</div>
			<?php echo $form->render("security"); ?>

			<div class="panel-body">
				<div class="input-field">
					<?php echo $form->render("username"); ?>
					<label for="login">Username | E-Mail </label>
				</div>
				<p class="center-align">We'll send you an email with instructions to create a new password.</p>
			</div>

			<div class="panel-footer">
				<div class="right-align">
					<a href="<?php echo $staticUrl;?>/login" class="btn-flat waves-effect">
						LOG IN
					</a>

					<button type="submit" class="btn-flat waves-effect">
						RESET
					</button>
				</div>
			</div>
		</div>
	</form>
</div>
