<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title><?php echo $pagetitle; ?></title>
    <meta name="author" content="Hudson Nicoletti">

    <!-- ################## -->
    <!--     Stylesheets    -->
    <!-- ################## -->
    <?php echo $this->assets->outputCss(); ?>

    <link rel="shortcut icon" href="<?php echo $staticUrl;?>/favicon.ico" type="image/x-icon">
  </head>

  <body>
    <?php if( $this->dispatcher->getControllerName() != 'login' ): ?>

    <!-- #### -->
    <!-- Menu -->
    <!-- #### -->
    <nav>
      <div class="row">
        <div class="col s12">
          <!-- ############ -->
          <!-- Desktop Menu -->
          <!-- ############ -->
          <div class="nav-wrapper">
            <a href="<?php echo $staticUrl;?>/" class="brand-logo">
              <img src="<?php echo $staticUrl; ?>/assets/manager/images/<?php echo $logo; ?>"/>
            </a>

            <!-- Desktop -->
            <ul class="right hide-on-med-and-down">
              <?php echo $navigation; ?>

              <li class="notifications">
                <a class="dropdown-button" href="#!" data-activates="dropdown-notifications" data-constrainwidth="false" data-beloworigin="true" data-alignment="right">
                  <i class="material-icons dropdown-icon">notifications</i>
                  <?php if(count($newNotifications) > 0): ?>
                    <span class="new-notifications"><?php echo count($newNotifications);?></span>
                  <?php endif; ?>
                </a>
              </li>
              <li class="profile ">
                <a class="dropdown-button" href="#!" data-activates="dropdown-profile" data-constrainwidth="false" data-beloworigin="true" data-alignment="right">
                  <div class="valign-wrapper">
                    <img src="<?php echo $staticUrl; ?>/assets/manager/images/avatar/<?php echo $info->image ?: 'placeholder/'.substr($info->name,0,1).'.jpg'; ?>" alt="My profile" class="circle responsive-img margin-right-10">
                    <?php echo $info->name; ?>
                    <i class="material-icons dropdown-icon right">arrow_drop_down</i>
                  </div>
                </a>
              </li>
            </ul>
            <!-- Dropdowns -->
            <ul id="dropdown-notifications" class="dropdown-content">
              <?php if(count($notifications) <= 0): ?>
              <li>
                <div class="valign-wrapper pad-15">
                  <div class="text">
                    <strong>Nothing Yet</strong>.
                    <br> You don't have any notifications
                  </div>
                </div>
              </li>
              <?php endif; ?>
              <?php foreach($notifications as $n): ?>
              <li>
                <a href="<?php echo $staticUrl.$n->href; ?>">
                <div class="valign-wrapper">
                  <img src="<?php echo $staticUrl; ?>/assets/manager/images/avatar/<?php echo $n->modifierimage ?: 'placeholder/'.substr($n->modifier,0,1).'.jpg'; ?>" alt="<?php echo $n->modifier;?>" class="circle responsive-img margin-right-10 x45">
                  <div class="text">
                    <strong><?php echo $n->modifier; ?></strong>,
                    <br> <?php echo substr(strip_tags($n->text),0,60); ?> ...
                  </div>

                  <?php if($n->new == 1): ?>
                    <span class="new badge teal-text text-darken-2"></span>
                  <?php endif;?>
                </div>
                </a>
              </li>
              <?php endforeach; ?>
              <li class="divider"></li>
              <li><a href="<?php echo $staticUrl; ?>/notifications" class="centered-text">View All</a></li>
            </ul>
            <ul id="dropdown-profile" class="dropdown-content">
              <li><a href="<?php echo $staticUrl; ?>/account">Account Settings</a></li>
              <li><a href="<?php echo $staticUrl; ?>/logout">Logout</a></li>
            </ul>

            <!-- Mobile -->
            <a href="#" data-activates="mobile-demo" class="button-collapse">
              <i class="material-icons">menu</i>
            </a>
          </div>
          <!-- ########### -->
          <!-- Mobile Menu -->
          <!-- ########### -->
          <ul class="side-nav" id="mobile-demo">
            <li class="logo">
              <img src="<?php echo $staticUrl; ?>/assets/manager/images/logo.png"/>
            </li>

            <?php echo $navigation; ?>

          </ul>
        </div>
      </div>
    </nav>
  <?php else: ?>
    <div id="theme-gradient"></div>
  <?php endif; ?>

  <!-- ####### -->
  <!-- Content -->
  <!-- ####### -->
  <main>
    <?php echo $this->getContent(); ?>
  </main>

  <?php if( $this->dispatcher->getControllerName() != 'login' ): ?>
    <!-- ###### -->
    <!-- Footer -->
    <!-- ###### -->
    <footer class="page-footer">
      <div class="footer-copyright">
          <div class="container">
              © 2016 Rhyno Project Manager, All rights reserved.
          </div>
      </div>
    </footer>
    <?php endif; ?>
    <!-- ################## -->
    <!--      Scripts       -->
    <!-- ################## -->
    <script type="text/javascript">
      var _baseUri = "<?php echo $staticUrl;?>", dateformat = "<?php echo strtolower($date_format).'yyy'; ?>";
    </script>
    <?php echo $this->assets->outputJs(); ?>

  </body>
</html>
