<div class="main-content no-gutter">
  <section id="ticket">

    <div class="row">
      <div class="col s12 m4 l3">
        <div class="panel panel-bordered z-depth-1">
          <div class="panel-header">
            <div class="title">
              Ticket Information
            </div>
          </div>
          <div class="panel-body">
            <p><strong class="teal-text text-darken-2">Title: </strong><br><?php echo $ticket->title; ?></p>
            <p><strong class="teal-text text-darken-2">Created: </strong><br><?php echo (new DateTime($ticket->created))->format($date_format); ?></p>
            <p><strong class="teal-text text-darken-2">Last Interaction: </strong><br><?php echo (new DateTime($ticket->updated))->format($date_format); ?></p>
            <p><strong class="teal-text text-darken-2">Status: </strong><br>
              <?php
                switch($ticket->status)
                {
                  case 1 : echo "Open"; break;
                  case 2 : echo "Reopened"; break;
                  case 3 : echo "In Progress"; break;
                  case 4 : echo "Closed"; break;
                }
              ?>
            </p>
          </div>
        </div>
      </div>

      <div class="col s12 m8 l9">
        <div class="row">
          <div class="col s12 no-padd">
            <div class="btn-group pull-right">

              <?php if($crud->tickets_reopen && $ticket->status == 4 ): ?>
                <form action="<?php echo $staticUrl;?>/ticket/status/reopen/<?php echo $ticket->unique;?>" method="post" role="AjaxForm" class="inline-block">
                  <?php echo $form->render("security"); ?>
                  <button type="submit" class="btn amber accent-4 waves-effect waves-light">
                    <i class="material-icons">call_made</i>
                    Reopen Task
                  </button>
                </form>
              <?php endif; ?>

            </div>
          </div>
        </div>
        <div class="panel panel-chat panel-bordered z-depth-1">
          <div class="panel-header">
            <div class="title">
              Conference
            </div>
          </div>
          <div class="panel-body">
            <div class="slimScrollDiv">
              <div class="slimscroll" data-height="230px" data-start="bottom">
								<div class="messages-wrapper">
                  <?php foreach($responses as $response): ?>
                  <div class="row message <?php echo ($response->user == $me ? 'sent' : 'received');?>">
										<div class="col s12">
											<img src="<?php echo $staticUrl;?>/assets/manager/images/avatar/<?php echo $response->image ?: 'placeholder/'.substr($response->name,0,1).'.jpg'; ?>" alt="<?php echo $response->name; ?>" class="circle responsive-img <?php echo ($response->user == $me ? 'left-aligned' : 'right-aligned');?>">
											<div class="text">
												<div class="name"><?php echo $response->name; ?> <small class="teal-text text-darken-3"><?php echo(new DateTime($response->date))->format($date_format); ?></small></div>

                        <p><?php
                            $regex = "/(http|https|ftp|ftps)\:\/\/[a-zA-Z0-9\-\.]+\.[a-zA-Z]{2,3}(\/\S*)?/";
                            echo (preg_match($regex, $response->text, $url) ? preg_replace($regex, "<a href='{$url[0]}'>{$url[0]}</a> ", $response->text) : $response->text );
                          ?></p>
											</div>
										</div>
									</div>
                  <?php endforeach; ?>
								</div>
							</div>
            </div>
          </div>
          <div class="panel-footer">
            <form action="<?php echo $staticUrl;?>/ticket/send/<?php echo $ticket->unique ;?>" method="post" accept-charset="utf8" role="AjaxForm">
              <?php echo $form->render("security"); ?>
              <input type="text" name="text" placeholder="Type a message and hit 'enter' to send">
            </form>
					</div>
        </div>
      </div>

    </div>
  </section>
</div>

<div id="modal-results"></div>
