<div class="main-content no-gutter">
  <section id="notifications">
    <div class="row">

      <div class="col s12">
			  <div class="panel panel-bordered panel-about panel-bar-chart z-depth-1">
					<div class="panel-header">
						<div class="title">
							Notifications
						</div>
					</div>
          <div class="panel-body">
            <ul class="collection borderless">
              <?php foreach($allnotifications as $n): ?>
            	<li class="collection-item avatar">
            		<img src="<?php echo $staticUrl;?>/assets/manager/images/avatar/<?php echo $n->modifierimage ?: 'placeholder/'.substr($n->modifier,0,1).'.jpg'; ?>" alt="<?php echo $n->modifier;?>" class="circle">
            		<span class="title"><?php echo $n->modifier;?></span>
            		<p><?php echo $n->text;?></p>
                <?php if($n->href):?><a href="<?php echo $n->href;?>">View Page</a><?php endif; ?>
            		<a href="#!" class="secondary-content">
                  <small><?php echo (new Datetime($n->date))->format($date_format);?></small>
                </a>
            	</li>
            <?php endforeach;?>
            </ul>
          </div>
					<div class="panel-footer valign-wrapper centered-text">
            <a href="<?php echo $staticUrl;?>/notifications" class="centered-text">Load More</a>
					</div>
				</div>
			</div>

    </div>
  </section>
</div>
